
{% block extrahead %}


<link rel="stylesheet" type="text/css" href="http://{{ domain }}/static/audio/css/admin.css" />
{% endblock %}

<style type="text/css">
	.red{
		color:red;
	}

	.reportTable{
		margin-top: 20px;
	}

	.reportTable span{
		margin-left: 10px;
	}

	.reportTable .maxBidItem{
		float: left;
		margin-right: 20px;
		width: 120px;
	}

	#id_bcItemsAvailable, #id_bcItemsSelected{
		width: 400px;
	}

	.rightBox,.leftBox, .arrowButtons{
		float:left;
	}

	.arrowButtons{
		margin:35px 20px;
	}

	#id_consignors{
		margin-bottom: 30px;
	}

</style>
<body background="http://thoseoldrecords.com/10ligh04.jpg">
<center>
	<nobr>
		<img src="http://thoseoldrecords.com/phono.gif">
		<img alt="Hawthorn's Antique Audio" src="http://thoseoldrecords.com/haa.gif">
		<img src="http://thoseoldrecords.com/record.gif">
	</nobr>
</center>

<center><img style="margin-bottom:30px" src="http://www.thoseoldrecords.com/hmv.gif"></center>

{%block content%}




{%endblock%}
</body>


