{% extends "email/baseEmail.html" %}
 

{%block content%}

<br><br>
<div id="reportDiv" class="reportTable">
	<div style="float: left; margin-right: 20px; width: 120px;">Lot Id:</div>
	<div style="float: left; margin-right: 20px; width: 120px;">Item name:</div>
	<div style="float: left; margin-right: 20px; width: 120px;">Amount bid:</div>
	<div style="clear:both"></div>
	
	
{%for winner in data.invoice.wonItems%}
	<div style="float: left; margin-right: 20px; width: 120px;">{{winner.item.lot_id}}</div>
	<div style="float: left; margin-right: 20px; width: 120px;">{{winner.item.name}}</div>
	<div style="float: left; margin-right: 20px; width: 120px;">{{winner.amount}}</div>
	<div style="clear:both"></div>
{%endfor%}

<hr>
<div>Subtotal:</div>
<div>${{data.invoice.sum}}</div>
<hr>
<div>Shipping: </div>
<div>total: ${{data.invoice.plusShipping}}</div>

</div>




{%endblock%}
