{% extends "email/baseEmail.html" %}
 

{%block content%}

<div>{%if data.user.first_name%}Hello {{data.user.first_name}} {{data.user.last_name}},{%else%}Hello,{%endif%}</div>
<div>We've received a request to reset the password for this address.  We've set a temporary password for you, please login with this and then you can choose your own password and set it by either following the link below or going to Account -> View Login Info and hitting the change password link.</div>

<div>Your new temporary password:</div>
<div>Password: {{data.password}}</div>

<div>Please change your password by going <a href="{{domain}}accounts/changePassword/">here</a></div>

<div style="margin-top:10px">Thank you!  Please let us know if you have any problems.</div>


{%endblock%}
