{% extends "email/baseEmail.html" %}



{%block content%}


<h1 style="margin-top:30px;">Report for consignor: {{data.firstName}} {{data.lastName}} Auction #{{header.auction.}}</h1>

<div id="reportDiv" class="reportTable">
		
	<div class="red">Consignment info by item:</div>	
	<div style="float: left; margin-right: 20px; width: 100px;">Item:</div>
	<div style="float: left; margin-right: 20px; width: 50px;">Bidder:</div>
	<div style="float: left; margin-right: 20px; width: 50px;">Total amount:</div>
	<div style="float: left; margin-right: 20px; width: 50px;">Range amount:</div>
	<div style="float: left; margin-right: 20px; width: 50px;">Range Min:</div>
	<div style="float: left; margin-right: 20px; width: 50px;">Range Max:</div>
	<div style="float: left; margin-right: 20px; width: 50px;">Percent:</div>
	<div style="float: left; width: 75px;">Range percentage:</div>
	

	
	<div style="clear:both"></div>
	<br><br>
	{%for key, value in data.ordered.items%}
		<div style="margin-bottom:15px;">
		{%for item in value%}
			
		<div style="{%if item.HAA == True%}background-color:red{%endif%} ">
			<div style="float: left; margin-right: 20px; width: 100px;">{{item.artist}} {{item.name}}</div>
			<div style="float: left; margin-right: 20px; width: 50px;">{{item.user_id}}</div>
			<div style="float: left; margin-right: 20px; width: 50px;">${{item.amount|floatformat:2}}</div>
			<div style="float: left; margin-right: 20px; width: 50px;">${{item.inRange|floatformat:2}}</div>
			<div style="float: left; margin-right: 20px; width: 50px;">${{item.minimum}}</div>
			{%if item.maximum%}
			<div style="float: left; margin-right: 20px; width: 50px;">${{item.maximum}}</div>
			{%else%}

			<div style="float: left; margin-right: 20px; width: 50px;">{{item.maximum}}</div>
			{%endif%}
			<div style="float: left; margin-right: 20px; width: 50px;">{{item.percentage}}%</div>
			<div style="float: left; margin-right: 20px; width: 50px;">${{item.rangeAmount|floatformat:2}}</div>
			
			<div style="clear:both"></div>
		</div>

		<div style="clear:both"></div>
	
		{%endfor%}
	</div>
	{%endfor%}

	<hr>
	<div>Total: ${{data.consignorTotal|floatformat:2}} </div>

	<br><br>
	<div>Unsold items:
	{%if data.unsoldConsignorItemsCount == 0%}
		<div>All items were sold!</div>
	{%else%}
		{%for unsoldItem in data.unsoldConsignorItems%}
			<div>{{unsoldItem.id}} {{unsoldItem.label.name}} {{unsoldItem.name}}</div>
		{%endfor%}
	{%endif%}
	</div>

</div>
{%endblock%}
