{% extends "email/baseEmail.html" %}


{%block content%}
<h1 style="margin-top:30px;">Report for consignor: {{data.firstName}} {{data.lastName}} Auction #{{data.auctionId}}</h1>

<div id="reportDiv" class="reportTable">
		
	<div>Consignment info by item:</div>	
	<div style="float: left; margin-right: 20px; width: 120px;">Item number:</div>
	<div style="float: left; margin-right: 20px; width: 75px;">Bidder:</div>
	<div style="float: left; margin-right: 20px; width: 75px;">Total amount:</div>
	<div style="float: left; margin-right: 20px; width: 75px;">Range amount:</div>
	<div style="float: left; margin-right: 20px; width: 75px;">Range Min:</div>
	<div style="float: left; margin-right: 20px; width: 75px;">Range Max:</div>
	<div style="float: left; margin-right: 20px; width: 75px;">Percent:</div>
	<div style="float: left; width: 75px;">Range percentage:</div>
	

	
	<div style="clear:both"></div>
	<br><br>
	{%for item in data.consignedItems%} 
		<div style="{%if item.HAA == True%}background-color:red{%endif%}">
			<div style="float: left; margin-right: 20px; width: 120px;">{{item.id}} {{item.label.name}} {{item.name}}</div>
			<div style="float: left; margin-right: 20px; width: 75px;">{{item.user_id}}</div>
			<div style="float: left; margin-right: 20px; width: 75px;">${{item.amount}}</div>
			<div style="float: left; margin-right: 20px; width: 75px;">${{item.inRange}}</div>
			<div style="float: left; margin-right: 20px; width: 75px;">${{item.minimum}}</div>
			<div style="float: left; margin-right: 20px; width: 75px;">${{item.maximum}}</div>
			<div style="float: left; margin-right: 20px; width: 75px;">{{item.percentage}}</div>
			<div style="float: left; width: 75px;">${{item.rangeAmount|floatformat:2}}</div>
			
			<div style="clear:both"></div>
		</div>

		<div style="clear:both"></div>
	{%endfor%}

	<hr>
	<div>Total: ${{data.consignorTotal|floatformat:2}} </div>

	<br><br>
	<div>Unsold items:
	{%if data.unsoldConsignorItemsCount == 0%}
		<div>All items were sold!</div>
	{%else%}
		{%for unsoldItem in data.unsoldConsignorItems%}
			<div>{{unsoldItem.id}} {{unsoldItem.label.name}} {{unsoldItem.name}}</div>
		{%endfor%}
	{%endif%}
	</div>

</div>
{%endblock%}
