<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - Professional Appraisals</TITLE>
</HEAD>

<BODY BACKGROUND="10ligh04.jpg">
<CENTER><NOBR><IMG SRC="phono.gif"><IMG SRC="haa.gif"><IMG SRC="record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2 WIDTH=22%><NOBR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="new.html">What's New?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A  HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR> Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Professional Appraisals</FONT></H1>
<P>PLEASE NOTE:  We no longer offer our courtesy informal appraisals by phone of single records and small collections.  It is difficult to arrive at a valid figure without seeing the records in person, and the time involved in obtaining accurate information for a verbal appraisal has made the service too time consuming.  As of January 1, 2010, we are accepting only appraisal work on large collections at our regular fee structure.  If you have questions about the value of single records or small collections, please turn to the <A HREF="faq.html">FAQ</A> page on this site and go to the section entitled "What Are My Records Worth?"</P>
<P>We have been collectors and dealers in historical phonograph records, 
	sheet music and antique phonographs since 1988.  Our experience also
	covers many related items such as player pianos, music boxes, books, catalogs, 
	literature and accessories. We have the following qualifications for providing
	accurate appraisals:</P>
	<OL>
	<LI>Correspondence with worldwide collectors and dealers, and subscriptions to 
	auction and sales catalogs to keep abreast of current market conditions.
	<LI>Current subscriptions to many hobby and professional journals dealing 
	with new research and discoveries in our areas of interest.
	<LI>Membership in several international societies, including the Association 
	of Recorded Sound Collections, Automatic Musical Instrument Collectors 
	Association, City of London Phonograph and Gramophone Society, Michigan 
	Antique Phonograph Society, California Antique Phonograph Society, and others.
	<LI>A large personal research library consisting of books, pamphlets, catalogs, 
	back issues of periodicals, and other resources.
	<LI>Past experience with many appraisals for income tax, estate settlement, 
	and insurance purposes.
	</OL>
	<P>We are fully qualified to make prompt and accurate appraisals of large or 
	small collections of all types. Appraisal costs are always based on the time 
	involved, not a percentage of the appraised value. Please contact us 
	for a price quote or if you require further information. References upon request.</P>


<A>Return to <A HREF="#">top of page</A> 
</TABLE>
</BODY>
</HTML>