{%extends "siteBase.html"%}



{%block inner%}

<H2 style="text-align:center; color:red">Auction Rules and Policies</H2><BR>

<H4 style="text-align:center; color:red">GRADING</H4>

	<P>Our record grading is simple and straightforward, with no hidden
	surprises.  Records are graded by sight, with aural grading used in
	uncertain cases.  The record is first examined for an overall grade, 
	then any specific defects are also noted.  The grading codes are clear
	and easy to understand, and are always listed at the beginning of each
	auction list for easy referral.  Satisfaction with our grading is
	guaranteed.</P>

<H4 style="text-align:center; color:red">BIDDING</H4>
	<P>All of our auctions are conducted in the traditional sealed bid format. 
	Current bids are never disclosed, and we do not accept topping bids or 
	percentage increase bids. There is no buyer's premium, nor is there a bid 
	reduction policy. In short, winning bidders pay only the amount of their 
	bids, no more and no less. We do not encourage excessively high bidding, 
	but rather we ask our bidders to submit reasonable bids that they will 
	feel comfortable paying should they win the items they bid on. We do accept 
	"either/or" and other conditional bids, and we do allow you to place a limit 
	on your winnings. Bids may be modified or withdrawn any time before the 
	closing date of the auction. Once listed in an auction, records are not 
	available for trade or straight sale.</P>

<H4 style="text-align:center; color:red">SHIPPING</H4>

	<P>Packing and shipping fees are added to the total of all winnings. These 
	fees reflect the actual cost of good quality packing material and shipment 
	in the U.S. via the Postal Service Media Rate. Overseas shipments are sent 
	via Priority Air Mail. All shipments are fully insured against loss or breakage. 
	Rates will be quoted upon request for premium methods of shipment such as UPS, 
	FedEx or Express Mail.</P>

<H4 style="text-align:center; color:red">TAXES AND IMPORT DUTIES</H4>

<P>California residents must pay sales tax.  The only exception is a vaild resale permit number issued in your own name.  Overseas buyers please remember that we do not declare reduced values on shipments to avoid import and customs taxes.  This is a direct violation of U.S. and overseas government law.</P>
	

<H4 style="text-align:center; color:red">FURTHER INFORMATION</H4>

	<P>We are always happy to hear from our customers regarding questions or
	adjustments on any of the items in our auctions.  Communication between
	buyers and sellers is very important, and we want our customers to contact
	us with any questions or concerns they may have.  Our policy is to respond
	to all messages as promptly as possible.</P>
{%endblock%}