<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - What Do We Buy?</TITLE>
</HEAD>

<BODY BACKGROUND="/static/audio/images/site/10ligh04.jpg">
<CENTER><NOBR><IMG SRC="/static/audio/images/site/phono.gif"><IMG SRC="/static/audio/images/site/haa.gif"><IMG SRC="/static/audio/images/site/record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2><NOBR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR>Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>What Do We Buy?</FONT></H1>
	<P>We are always looking for good records, phonographs, sheet music and related
	items to purchase.  We can buy either single items or purchase and pick up entire
	collections, depending on their quality, quantity and location.  But before you
	contact us regarding items you would like to sell, please take a moment to
	read these guidelines.  This will make any potential transactions much easier
	for both parties.</P>

	<P>1.  NEVER, EVER send us any merchandise unless we have specifically requested that
	you do so.  THIS IS VERY IMPORTANT!!  Unsolicited items will be returned at the 
	owner's expense.</p>

	<p>2.  Since we are dealers, we must purchase at wholesale prices, well below the 
	price you might find the same item for sale in a retail store.  How else could
	we make a living?</P>

	<p>3.  Unless a collection is exceptionally large and/or exceptionally fine, our
	purchases are limited almost exclusively to the West Coast, and more specifically 
	to the region of northern California, southern Oregon and western Nevada.  Travel 
	and shipping expenses elsewhere add a great deal to our cost, so unless there is a 
	large potential value in the collection, we restrict our buying to this area.</p>
	
	<p>4.  We never purchase anything without having the opportunity to personally
	examine the merchandise.  Because of the expense and risk of shipping, particularly
	with fragile and heavy records and phonographs, we do not accept shipment of items
	for examination, evaluation and possible purchase or return.  Therefore, unless 
	you are within reasonable traveling distance to the Sacramento, California area, 
	we suggest that you look in your local area for dealers who are interested in records, 
	phonographs and sheet music.  Antique malls are often a good starting point.</p>

	<P>5.  Just as in real estate, where the key is "location, location, location,"
	the key to records and sheet music is "condition, condition, condition."  Their
	value drops dramatically if they are not in <u>very</u> good shape - clean, 
	bright, and undamaged.</p>

	<b>RECORDS:</B>  Primarily, we are looking for pre-1940 78s with collectable interest
	such as:<BR><BR>

	<UL>
	<LI>early or unusual labels
	<LI>pioneer recording artists
	<LI>early jazz, blues and country
	<LI>Edison discs and cylinders
	<LI>pre-1930 classical
	<LI>odd sizes and formats
	<LI>record catalogs and supplements
	<LI>other related paper and ephemeral items
	</UL>
	<P>We are usually overstocked with and are NOT purchasing the following 
	types of records:</P>
	<UL>
	<LI>big band and swing
	<LI>post-1940 popular vocals
	<LI>classical album sets
	<LI>instrumental, piano or organ solos
	<LI>polkas, waltzes, marches, etc
	</UL>
	<P>If you have a collection of records that you think might be of interest, 
	please contact us with the following information:</P>
	<UL>
	<LI>the approximate number of records in the collection
	<LI>a small representative sample of titles and artists
	<LI>a description of the overall condition of the records
	<LI>the city in which the collection is located
	</UL>
	<b>SHEET MUSIC:</B>  We are fond of buying "box lots" of music, as long as there
	is a good percentage of useable items in the box.  Some of the things to look for
	are:<BR><BR>
	<UL>
	<LI>Ragtime titles
	<LI>colorful art work on covers
	<LI>ethnic stereotypes on covers
	<LI>songs about current events (elections, train wrecks, etc.)
	<LI>political or historical covers
	<LI>technology covers (trains, automobiles, other inventions)
	<LI>singers or movie stars on covers
	</UL>
	We are NOT buying the following types of sheet music:<br><br>
	<UL>
	<LI>classical music
	<LI>teaching music
	<LI>badly damaged or torn covers
	<LI>music without cover art
	</UL>
	<p><b>PHONOGRAPHS:</B>  We are looking mainly for hand-wound phonographs 
	that are incomplete, have damaged parts, or at least need some servicing.
	We are also interested in purchasing all types of parts for these machines.
	We only purchase fully functional phonographs when they are available at
	wholesale prices.  We generally look for phonographs that are within a
	reasonable driving range from our home in Roseville, California.  If you
	call us, it would be helpful if you have the make and model of the machine
	you want to sell.</p>

	We do not buy the following:<br><br>

	<UL>
	<LI>phonographs with severely damaged cabinets
	<LI>electric phonographs
	<LI>non-original or counterfeit phonographs</UL>
	
	<p><b>CONSIGNMENTS:</b>  We occasionally accept very high quality records
	or phonographs on consignment.  Please contact us to discuss what you have
	to sell and we will be happy to quote you our consignment terms.</P>


</TABLE>


<A>Return to <A HREF="#">top of page</A> 
</BODY>
</HTML>