{%extends "siteBase.html"%}
{%block inner%}
<H1 style="text-align:center; color:red">What do we buy?</H1>
<P>We are always looking for good records, phonographs, sheet music and related
items to purchase.  We can buy either single items or purchase and pick up entire
collections, depending on their quality, quantity and location.  But before you
contact us regarding items you would like to sell, please take a moment to
read these guidelines.  This will make any potential transactions much easier
for both parties.</P>
<ol>
    <li>NEVER, EVER send us any merchandise unless we have specifically requested that
        you do so.  THIS IS VERY IMPORTANT!!  Unsolicited items will be returned at the
    owner's expense.</li>
    <li>Since we are dealers, we must purchase at wholesale prices, well below the
        price you might find the same item for sale in a retail store.  How else could
    we make a living?</li>
    <li>Unless a collection is exceptionally large and/or exceptionally fine, our
        purchases are limited almost exclusively to the West Coast, and more specifically
        to the region of northern California, southern Oregon and western Nevada.  Travel
        and shipping expenses elsewhere add a great deal to our cost, so unless there is a
    large potential value in the collection, we restrict our buying to this area.</li>

    <li>We never purchase anything without having the opportunity to personally
        examine the merchandise.  Because of the expense and risk of shipping, particularly
        with fragile and heavy records and phonographs, we do not accept shipment of items
        for examination, evaluation and possible purchase or return.  Therefore, unless
        you are within reasonable traveling distance to the Sacramento, California area,
        we suggest that you look in your local area for dealers who are interested in records,
    phonographs and sheet music.  Antique malls are often a good starting point.</li>
    <li>Just as in real estate, where the key is "location, location, location,"
        the key to records and sheet music is "condition, condition, condition."  Their
        value drops dramatically if they are not in <u>very</u> good shape - clean,
    bright, and undamaged.</li>
</ol>
<b>RECORDS:</b>  Primarily, we are looking for pre-1940 78s with collectable interest
such as:<BR><BR>
<UL>
    <LI>early or unusual labels</LI>
    <LI>pioneer recording artists</LI>
    <LI>early jazz, blues and country</LI>
    <LI>Edison discs and cylinders</LI>
    <LI>pre-1930 classical</LI>
    <LI>odd sizes and formats</LI>
    <LI>record catalogs and supplements</LI>
    <LI>other related paper and ephemeral items</LI>
</UL>
<P>We are usually overstocked with and are NOT purchasing the following
types of records:</P>
<UL>
    <LI>big band and swing</LI>
    <LI>post-1940 popular vocals</LI>
    <LI>classical album sets</LI>
    <LI>instrumental, piano or organ solos</LI>
    <LI>polkas, waltzes, marches, etc</LI>
</UL>
<P>If you have a collection of records that you think might be of interest,
please contact us with the following information:</P>
<UL>
    <LI>the approximate number of records in the collection</LI>
    <LI>a small representative sample of titles and artists</LI>
    <LI>a description of the overall condition of the records</LI>
    <LI>the city in which the collection is located</LI>
</UL>
<b>SHEET MUSIC:</b>  We are fond of buying "box lots" of music, as long as there
is a good percentage of useable items in the box.  Some of the things to look for
are:<BR><BR>
<UL>
    <LI>Ragtime titles</LI>
    <LI>colorful art work on covers</LI>
    <LI>ethnic stereotypes on covers</LI>
    <LI>songs about current events (elections, train wrecks, etc.)</LI>
    <LI>political or historical covers</LI>
    <LI>technology covers (trains, automobiles, other inventions)</LI>
    <LI>singers or movie stars on covers</LI>
</UL>
We are NOT buying the following types of sheet music:<br><br>
<UL>
    <LI>classical music</LI>
    <LI>teaching music</LI>
    <LI>badly damaged or torn covers</LI>
    <LI>music without cover art</LI>
</UL>
<p><b>PHONOGRAPHS:</b>  We are looking mainly for hand-wound phonographs
that are incomplete, have damaged parts, or at least need some servicing.
We are also interested in purchasing all types of parts for these machines.
We only purchase fully functional phonographs when they are available at
wholesale prices.  We generally look for phonographs that are within a
reasonable driving range from our home in Roseville, California.  If you
call us, it would be helpful if you have the make and model of the machine
you want to sell.</p>
We do not buy the following:<br><br>
<UL>
    <LI>phonographs with severely damaged cabinets</LI>
    <LI>electric phonographs</LI>
    <LI>non-original or counterfeit phonographs</LI>
</UL>

<p><b>CONSIGNMENTS:</b>  We occasionally accept very high quality records
or phonographs on consignment.  Please contact us to discuss what you have
to sell and we will be happy to quote you our consignment terms.</P>
Return to <A HREF="#">top of page</A>
{%endblock%}