{%extends "siteBase.html"%}



{%block inner%}

<div>
	<div>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR>Email us<A HREF="mailto:hawthorn@thoseoldrecords.com">
	here</A> for general inqueries.<BR><BR>Email us<A HREF="mailto:webmaster@thoseoldrecords.com">
	here</A> for questions/comments about the website.</div>
</div>

{%endblock%}