<HTML>
<BODY BACKGROUND="10LIGH04.JPG">
<H2 ALIGN=CENTER><FONT COLOR=RED>Auction 144 - Soft Winds and Sweet Music<BR>Picture Gallery<BR>This auction closes on May 1, 2015</FONT></H2><A></A>

<CENTER><IMG SRC="A144/0413.JPG"><BR><BR>Lot 413 - Billy Murray and Aileen Stanley sheet music<BR><BR></CENTER><BR>

To see any of these mini-pictures in a larger format, simply point and click on them.  To get right back here, use the "Back" arrow at the top of your screen.<BR><BR>

Return to <A HREF="new.html">What's New page</A><BR><BR>
<P>
<T>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
<TD ROWSPAN=2 WIDTH=35%><NOBR>

<BR>

<A HREF="A144/0009.JPG"><IMG SRC="A144/0009thumb.JPG"></A><BR>Lot 9 - Teddy Wilson instruction record<BR>Two great piano solos<BR><BR>

<A HREF="A144/0013.JPG"><IMG SRC="A144/0013thumb.JPG"></A><BR>Lot 13 - "From the Batlefields of France"<BR>General J.J. Pershing<BR><BR>

<A HREF="A144/0020.JPG"><IMG SRC="A144/0020thumb.JPG"></A><BR>Lot 20 - Francesco Tamagno G&T 52675<BR>He created the role of Otello in 1887<BR><BR>

<A HREF="A144/0050.JPG"><IMG SRC="A144/0050thumb.JPG"></A><BR>Lot 50 - Nellie Melba Farewell Speech<BR>Recorded in performance June 8, 1926<BR><BR>

<A HREF="A144/0326.JPG"><IMG SRC="A144/0326thumb.JPG"></A><BR>Lot 326 - Justrite Pet Food special pressing<BR>Originally on Victor #V-1<BR><BR>

<A HREF="A144/0355.JPG"><IMG SRC="A144/0355thumb.JPG"></A><BR>Lot 355 - Sophie Tucker - "Songs She Made Famous"<BR>Boldly autographed by Sophie inside front cover<BR><BR>


Return to <A HREF="#">top of page</A> OR <BR> return to <A HREF="new.html">What's New page</A> OR <BR> return to <A HREF="index.html">Home page.</A>

<TR VALIGN=TOP>
<TD ROWSPAN=2 WIDTH=35%>

<BR>


<A HREF="A144/0387.JPG"><IMG SRC="A144/0387thumb.JPG"> <A HREF="A144/0408.JPG"><IMG SRC="A144/0408thumb.JPG"> <A HREF="A144/0411.JPG"><IMG SRC="A144/0411thumb.JPG"> <A HREF="A144/0417.JPG"><IMG SRC="A144/0417thumb.JPG"></A><BR>Lots 387, 408, 411 & 417<BR>Examples of sheet music<BR><BR>

<A HREF="A144/0430.JPG"><IMG SRC="A144/0430thumb.JPG"></A><BR>Lots 430, 435, 456 & 461<BR>Examples of needle envelopes<BR><BR>

<A HREF="A144/1031.JPG"><IMG SRC="A144/1031thumb.JPG"></A><BR>Lot 1031 - "The Encyclopedia of Jazz and Blues"<BR>A large and beautiful reference book<BR><BR>

<A HREF="A144/1043.JPG"><IMG SRC="A144/1043thumb.JPG"></A><BR>Lot 1043 - Brun Campbell - "Maple Leaf Rag"<BR>Private memorial issue<BR><BR>

<A HREF="A144/1513.JPG"><IMG SRC="A144/1513thumb.JPG"></A><BR>Lot 1513 - "Varsovienne"<BR>Special record for Henry Ford<BR><BR>

<A HREF="A144/1824.JPG"><IMG SRC="A144/1824thumb.JPG"></A><BR>Lot 1824 - Columbia brown wax cylinder box<BR>Holds 24 cylinders<BR><BR>


</TD>
</TABLE>
</T>
</P>