{%extends "siteBase.html"%}
{%block inner%}

<div style="text-align:center">
<H1 ALIGN=CENTER><FONT COLOR=RED>Links</FONT></H1>
	
<H3><FONT COLOR=RED>First, here is the website of our retail location.</H3></FONT>

	<A HREF="http://www.antiquetrove.com">Antique Trove</A> - we are Dealer 250
	on Aisle D<BR><BR><BR>

<H3><FONT COLOR=RED>And here is where you can find our current listings on eBay.</H3></FONT>

<A HREF="http://search.ebay.com/_W0QQsassZhawthornsantiqueaudio">eBay Listings</A> - look for vintage records, music and other goodies.<BR><BR><BR>

	<H3><FONT COLOR=RED>Here are more interesting places to visit to learn about phonographs and records.  Have fun!</H3><BR>

<H3>Phonographs, Repairs, Parts & Supplies:</FONT></H3>

<A HREF="http://www.ontariophonographworks.com">Ontario Phonograph Works</A><BR><BR>

<A HREF="http://www.antiquephono.com">Antique Phonograph Supply</A><BR><BR>

<A HREF="http://www.wyattsmusical.com">Wyatt's Musical Americana</A><BR><BR>

<A HREF="http://www.victrolarepairservice.com">Victrola Repair Service</A><BR><BR>

<A HREF="http://www.collectorsworldwest.com">Collectors World West</A><BR><BR>

<A HREF="http://www.victroladoctor.com">Great Lakes Phonograph Repair</A><BR><BR><BR>


<H3><FONT COLOR=RED>Phonograph and Record Societies:</FONT></H3>

<A HREF="http://www.michiganantiquephonographsociety.org">Michigan Antique Phonograph Society</A><BR><BR>

<A HREF="http://www.CAPSnews.org">Canadian Antique Phonograph Society</A><BR><BR>

<A HREF="http://www.arsc-audio.org">Association of Recorded Sound Collections</A><BR><BR>

<A HREF="http://www.otaps.org">Oregon Territory Antique Phonograph Society</A><BR><BR>

<A HREF="http://www.ca-phono.org">California Antique Phonograph Society</A><BR><BR><BR>


<H3><FONT COLOR=RED>Sources for Books on Phonographs and Records:</FONT></H3>

<A HREF="http://www.mainspringpress.com">Mainspring Press</a><BR><BR>

<A HREF="http://www.edisonrecords.com">Ron Dethlefson</A><BR><BR>

<A HREF="http://www.lotz-verlag.de">Dr. Rainer E. Lotz</A><BR><BR><BR>


<H3><FONT COLOR=RED>LP and 45 RPM Records of All Kinds:</FONT></H3>

<A HREF="HTTP://www.recordsontheweb.com">Records On the Web</A><BR><BR><BR>


<H3><FONT COLOR=RED>Sources for Playback Equipment:</H3></FONT>

<A HREF="http://www.kabusa.com">KAB Electro-Acoustics</A><BR><BR><BR>


<H3><FONT COLOR=Red>Record Cleaning:</H3></FONT>

<A HREF="http://www.discdoc.com">The Disc Doctor</A><BR><BR><BR>


<H3><FONT COLOR=RED>Museums and Archives:</H3></FONT>

<A HREF="http://www-sul.stanford.edu/depts/ars/">Stanford Archive of Recorded Sound</A><BR><BR>

<A HREF="http://cylinders.library.ucsb.edu">University of California at Santa Barbara - Cylinders</A><BR><BR>

<A HREF="http://victor.library.ucsb.edu">University of California at Santa Barbara - Victor Discography</A><BR><BR>

<A HREF="http://library.syr.edu/about/tour/locations/belfer.php">Syracuse University - Belfer Audio Archive</A><BR><BR>

<A HREF="http://www.loc.gov/jukebox">Library of Congress - National Juke Box</A><BR><BR><BR>


<H3><FONT COLOR=RED>Sites of General Interest:</FONT></H3>

<A HREF="http://www.78discography.com">Online 78 RPM Discography Project</A> - ongoing discographical research<BR><BR>

<A HREF="http://www.victor-victrola.com/index.html">The Victor - Victrola Page</A> - history of the Victor Talking Machine Co.<BR><BR>

<A HREF="http://www.redhotjazz.com/bands.html">Red Hot Bands</A> - great music from the 1920s and 1930s<BR><BR>

<A HREF="http://www.gracyk.com">Tim Gracyk</A> - lots of interesting articles<BR><BR>

<A HREF="http://www.edisonshop.com">The Edison Shop</A> - information on cylinder records<BR><BR>

<A HREF="http://www.oldcrank.com">The Old Crank</A> - a great list of additional links<BR><BR>

<A HREF="http://www.78rpmrecord.com">The 78 RPM Home Page</A> - more information and lots of links



<BR>
<div style="margin:25px 0px;">Return to <A HREF="#">top of page</A> </div>

</div>

{%endblock%}