<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - What's New?</TITLE>
</HEAD>

<BODY BACKGROUND="/static/audio/images/site/10ligh04.jpg">
<CENTER><NOBR><IMG SRC="/static/audio/images/site/phono.gif"><IMG SRC="/static/audio/images/site/haa.gif"><IMG SRC="/static/audio/images/site/record.gif"></NOBR></CENTER>
<BR>
<a name="#"></a>
<a></a>
<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2 WIDTH=22%><NOBR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR>Click here to<A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us</A> </CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>What's New?</FONT></H1>


<P ALIGN=CENTER>
<a href="#2mcyl">Empty Edison Cylinder Record Boxes</a><BR>
<a href="#albums">Empty 10" or 12" 78 RPM Storage Albums</a><BR>
<a href="#needles">Victrola Needles and Strobe Discs</a><BR><BR><BR>
</CENTER>


<P><H2 ALIGN=CENTER><FONT COLOR=RED>Current Auctions</FONT></H2>

<CENTER><IMG SRC="/static/audio/images/site/bar15.gif"></CENTER>
	<H3 ALIGN=CENTER><FONT COLOR=RED>Auction #144 - "Soft Winds and Sweet Music" - is now available!<BR>Over 1800 discs, cylinders, books, needle envelopes, photographs,<BR>sheet music selections  and more are now available for your browsing pleasure.<BR>Check out the selection on this large and varied auction,<BR>and don't forget the closing date which is May 1, 2015.</FONT></H3>

<CENTER><IMG SRC="/static/audio/images/site/bar15.gif"></CENTER><BR>

<P><A HREF="A144 auction PDF.pdf"><FONT COLOR=BLUE>Click Here</A></FONT> to see the catalog for Auction 144. </P>

<P><A HREF="highlites.html"><FONT COLOR=BLUE>Click Here</A></FONT> to see the Picture Gallery of Auction 144. <P>

<P><a href="bids/">Click Here</a> to use the online bid sheet for the current auction.</P>


<P>Auction #144 has something for everyone!  It is now available for bidding.  Here are some of the highlights of this large and varied auction:<BR>

<LI>Five Inch Concert cylinders<BR>
<LI>Brown Wax cylinders<BR>
<LI>Custom vinyl pressings of rare 78s<BR>
<LI>Some nice classical G&T records<BR>
<LI>A selection of early discs<BR>
<LI>Historical and Personality singles and sets<BR>
<LI>Sheet music with artist's pictures<BR>
<LI>Reference books and periodicals<BR>
<LI>Victor record storage albums<BR>
<LI>High quality cardboard record sleeves<BR>
<LI>Needle envelopes and accessories<BR>
<LI>An interesting "odds and ends" section<BR>
<LI>Jazz - all kinds<BR>
<LI>Jazz picture books and reference volumes<BR>
<LI>Jazz album sets<BR>
<LI>1920s and 1930s dance bands<BR>
<LI>Ragtime (and a little jazz piano)<BR>
<LI>Rock and R&B (and a little folk music)<BR>
<LI>Country & Western (and a little bit of gospel)<BR>
<LI>Classical vocal, instrumental, orchestral and piano selections<BR>
<LI>Edison Diamond Discs, including some new/old stock<BR>
<LI>Both 2 and 4 minute cylinders<BR>
<LI>and much, much more.....<BR>

<P>Interested?  We will be happy to send you either a printed copy or an electronic copy.  If you're not already on our mailing list, simply <A HREF="mailto:hawthorn@thoseoldrecords.com">e-mail us</A> with your name and postal mailing address or your email address and we will send you a copy right away.  Please note that the electronic copy is in PDF format.  It is 64 pages long on 8.5" x 14" paper, and prints out easily on standard paper when reduced to 65%.  If you request an electronic copy, remember that we do not send a printed copy also.</P>

<P><H3 ALIGN=CENTER><FONT COLOR=RED>Introductory Special for New Bidders!</FONT></H3>
If you have not previously received any of our auction lists, then be sure to <A HREF="a144 new bidder coupon PDF.pdf"><FONT COLOR=BLUE>Click Here</A></FONT> and print the coupon good for a 10% discount on your first set of winning bids (postage and tax excluded).  Coupon valid for first time bidders only.</P>

<P><H3 ALIGN=CENTER><FONT COLOR=RED>Try Out Our Email Bid Sheet</FONT></H3>
<P>Now you can easily submit bids on our auctions by email.  We have posted a new email bid sheet on our website that is simple, easy and fun to use.  <a href="bids/">Click here</a> to access this new feature, or go to the home page of the website and click on "Email Bidsheet." Give it a try the next time your submit bids.</P>  


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Future Auctions</FONT></H3>
<P>We publish 4 auctions each year with 1600 to 2000  records listed on each one.  Future auctions are  scheduled for mailing in July and October of 2015.  Each list will be open for bids for 45 days from the date of mailing.  As an example, a list mailed on May 1st will close about June 15th.  This will give everyone ample time to receive and read the list and to submit bids.  A description of some of the highlights of each list and a colorful picture gallery of labels will be posted on this very page as each new list becomes available.</P>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Auction Mailing Policy</FONT></H3>
<P>Our policy is to send printed copies of our auction lists free to active bidders who maintain an <U>average</U> of $10.00 in winning bids per auction for three consecutive auctions.  Less active bidders can receive the printed list by subscription at the following rates (all prices in USA dollars):

<UL>
<LI>$10.00 for three issues sent to a USA, APO or FPO address
<LI>$15.00 for three issues sent to a Canadian address
<LI>$20.00 for three issues sent to an overseas address
</UL>

Email copies in PDF format are always sent free and require no minimum winnings or subscription.</P><BR>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Check Us Out On eBay!</FONT></H3>
<P>Hawthorn's Antique Audio is now listing some choice items on eBay.  You can easily view our current listings by visiting our <A HREF="http://search.ebay.com/_W0QQsassZhawthornsantiqueaudio">eBay Listings Page</A> anytime.  You can expect the same accurate descriptions (including pictures) and the same prompt service you receive from our mail auctions.  Pay us a visit!  And if you are wondering just what we have in store for future eBay listings, <A HREF="ebay auction 22 PDF.pdf"><FONT COLOR=BLUE>Click here</A></FONT> for for a printable copy of our upcoming eBay listings.</P><BR>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Outdoor Antique Shows</FONT></H3>
<P>We are gearing up for the Spring season of outdoor antique shows.  Here is the schedule so far:<BR><BR>

Folsom CA - April 19<BR>
Auburn, CA - May 17<BR><BR>

Meanwhile, if you really need a phonograph or record fix and can't wait till the Spring shows, you're welcome to visit our <A HREF="retail.html">Retail Location</A> at the Antique Trove in Roseville CA to see what you can find.  And don't forget that we usually have some nice phonographs for sale on our website.<HR><HR></P><BR>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Our panel of experts grades every record we sell on the most modern equipment.</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/grading.JPG"></CENTER><BR><BR><BR>

<P><H3 ALIGN=CENTER><FONT COLOR=RED>Many of the world's most advanced collectors are among our clients.</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/collectors.jpg"></CENTER><BR><BR><BR>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Our shipping department packs every order with the greatest care.</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/shipping.JPG"></CENTER><BR><BR><BR>

<P><H3 ALIGN=CENTER><FONT COLOR=RED>Our highly trained accountants keep an accurate record of your bids and invoices.</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/accounting.JPG"></CENTER><BR><BR><BR>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>We can refer you to the finest repair shops in the country.</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/workshop.JPG"></CENTER><BR><BR><BR>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Our company band takes music to new heights.</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/string band 2.jpg"></CENTER><BR><BR><BR>

<P><H3 ALIGN=CENTER><FONT COLOR=RED>The Girls Glee Club enjoys a company sponsored camping trip.</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/Glee Club.jpg"></CENTER><BR><BR><BR>

<P><H3 ALIGN=CENTER><FONT COLOR=RED>The staff in our modern and well equipped office and warehouse is waiting to serve you.<BR>Call us today!</FONT></H3><BR>
<CENTER><IMG SRC="/static/audio/images/site/photos/store.jpg"></CENTER><BR><HR><HR>


<a name="2mcyl"></a>
<P><H3 ALIGN=CENTER><FONT COLOR=RED>Original Boxes for Edison 2 Minute Cylinders</FONT></H3>
<CENTER><IMG SRC="/static/audio/images/site/photos/Edison 2M boxes.JPG"></CENTER><BR>
These original cylinder boxes are all in good condition and are without lids.  A previous owner has placed a white sticker on the side of each box with an index number. The boxes may have some light stains, rubs or other evidence of use, but they are all intact with good cotton lining and are ready to hold your homeless cylinders.  They are available in cartons of 20 for $20.00 plus $15.00 Parcel Post Mail shipping anywhere in the USA.  Overseas buyers please contact us first before ordering to obtain the shipping cost.  Use the printable order form on the <A HREF="recsup.html">Record Supplies</A> page and write in "Edison 2 Minute Cylinder Boxes."  Don't let your cylinders go naked any longer!</P>



<P><H3 ALIGN=CENTER><FONT COLOR=RED>Original Boxes for Edison 4 Minute Cylinders</FONT></H3>
<CENTER><IMG SRC="/static/audio/images/site/photos/Edison 4M boxes.JPG"></CENTER><BR>
These original cylinder boxes are all in good condition and are without lids.  A previous owner has placed a white sticker on the side of each box with an index number. The boxes may have some light stains, rubs or other evidence of use, but they are all intact with good cotton lining and are ready to hold your homeless cylinders.  They are available in cartons of 20 for $20.00 plus $15.00 Parcel Post Mail shipping anywhere in the USA.  Overseas buyers please contact us first before ordering to obtain the shipping cost.  Use the printable order form on the <A HREF="recsup.html">Record Supplies</A> page and write in "Edison 4 Minute Cylinder Boxes."  Don't let your cylinders go naked any longer!  <a href="#top">Click here</a> to return to the top of this page.<HR></P>


<a name="albums"></a>
<P><H3 ALIGN=CENTER><FONT COLOR=RED>Used 10" and 12" 78 RPM Storage Albums</FONT></H3>
<CENTER><IMG SRC="/static/audio/images/site/photos/Albums.jpg"></CENTER><BR>
These empty storage albums are handy for any 78 rpm collection.  They have not been made new for years, but we are offering clean used ones in good condition.  They come to us in a mix of colors and styles, therefore we cannot fill orders for specific colors.  All have either 10 or 12 pages and both the covers and bindings are intact.  There may be some shelf wear and writing from previous owners on the inside index or on the spine.  They are available in boxes of 5 albums for $20.00 plus $20.00 Parcel Post Mail shipping to USA addresses.  Overseas buyers please contact us first before ordering to obtain your shipping cost.  Each box of 5 albums weighs about 10 pounds.  To order albums individually use the printable order form on the <A HREF="recsup.html">Record Supplies</A> page.  Organize your collection with these quality storage albums!  <a href="#top">Click here</a> to return to the top of this page.<HR>

<B>SPECIAL OFFER!</B>  We have an excess of these albums in stock, so this special offer will be in effect only until our stock is reduced.  We are offering box lots of 10 ten inch albums for only $25 plus $30 Parcel Post mail shipping to USA addresses.  Stock up while we have extras to sell!<HR></P>


<a name="needles"></a>
<P><H3 ALIGN=CENTER><FONT COLOR=RED>Soft and Loud Tone Needles</FONT></H3>
<CENTER><IMG SRC="/static/audio/images/site/photos/needles.JPG"></CENTER><BR>
We are now offering excellent quality both soft and loud tone steel needles for Victrolas and other acoustic phonographs.  We recommend them highly to those who are seeking either a fuller or a more subdued tone from their phonographs.  Go to the <A HREF="recsup.html">Record Supplies</A> page for a further description and a printable order form.  <a href="#top">Click here</a> to return to the top of this page.<HR></P>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Strobe Discs</FONT></H3>
<CENTER><IMG SRC="/static/audio/images/site/photos/strobe.JPG"></CENTER><BR>
Have you ever wondered if your hand wound disc phonograph is running at exactly the right speed?  The most reliable way to test it is to use a strobe disc, and we are now offering a disc that works for both 78 rpm and 80 rpm phonographs.  All you need is a florescent light that runs on 60 cycles (in the USA, that's standard).  Incandescent bulbs may also work, depending on the ambient light conditions in the room.  Instructions are included with the disc.  You can see a further description of this item and order it on our <A HREF="recsup.html">Record Supplies</A> page.  <a href="#top">Click here</a> to return to the top of this page.<HR><HR></P>

<P><H3 ALIGN=CENTER><FONT COLOR=RED>The Original Nipper Painting</FONT></H3>
<CENTER><IMG SRC="/static/audio/images/site/photos/nippercyl.jpg"></CENTER><BR>
Most collectors are familiar with the story of the first Nipper painting.  The artist, Francis Barraud painted Nipper listening to a cylinder phonograph.  He attempted to sell the work to the British division of the Edison company, but was turned down.  He then took the painting to the offices of the Gramophone & Typewriter company and after agreeing to replace the Edison machine with the likeness of a Berliner disc phonograph, he sold the picture which soon became one of the world's best known trademarks.  So, here for your enjoyment, is the original image, showing Nipper listening to a cylinder phonograph.<HR><BR><BR>


<P><H3 ALIGN=CENTER><FONT COLOR=RED>Uncle Josh Buys An Automobile</FONT></H3>
<CENTER><IMG SRC="/static/audio/images/site/jan11-13.jpg"></CENTER><BR>
This record is one of the favorites of Uncle Josh collectors.  Evidently Robert Robinson, one of the cover artists for the Saturday Evening Post, had this record in mind when he drew this delightful illustration for the January 11, 1913 issue.  Although neither Uncle Josh or Cal Stewart is mentioned in the issue, the picture is just perfect - Uncle Josh roaring along with a terrified Aunt Nancy by his side.  We thought you would enjoy seeing this marvelous illustration.<BR>




Return to <A HREF="#">top of page.</A>
</TABLE>
</BODY>
</HTML>