<HTML>
<HEAD>
<TITLE>Hawthorn's Antique Audio - Order Form</TITLE>
</HEAD>

<BODY BACKGROUND="10ligh04.jpg">

<H1 ALIGN=CENTER>Hawthorn's Antique Audio<BR>Record Accessories Order Form</FONT></H1></ALIGN>


<p>To order, print this blank form on your printer.  Fill it out completely and send it to our mailing address below with payment in full.  Visa, Mastercard and Paypal payments are welcome.  You may fax your credit card orders to us at (916) 773-4727.  <b>All credit card orders must be signed.</b> E-mail or telephone credit card orders are also accepted.<BR>
<B>OVERSEAS CUSTOMERS:</B>  Please contact us for shipping charges before placing an order.</P>

<NOBR>

<P><TABLE WIDTH=100% BORDER=1 CELLPADDING=3>

<TR>
	<TD COLSPAN=6><CENTER><B>PHONOGRAPH AND RECORD SUPPLIES</TD>
</TR>

<TR>
	<TH><B>Item Description</TH>
	<TD WIDTH=10%><CENTER><B>Price</TD>
	<TD WIDTH=10%><CENTER><B>How Many</TD>
	<TD WIDTH=10%><CENTER><B>Total</TD>
	<TD WIDTH=10%><CENTER><B>Shipping</TD>
	<TD WIDTH=10%><CENTER><B>Total Ship</TD>
</TR>

<TR>
	<TD>Loud Tone Phonograph Needles - Pack of 50</TD>
	<TD ALIGN=CENTER>$4.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>Free</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Soft Tone Phonograph Needles - Pack of 50</TD>
	<TD ALIGN=CENTER>$4.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>Free</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Strobe Disc - 78 and 80 RPM</TD>
	<TD ALIGN=CENTER>$4.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>Free</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>78 RPM 10" Sleeves - Pack of 25</TD>
	<TD ALIGN=CENTER>$7.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$6.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>78 RPM 10" Sleeves - Pack of 100</TD>
	<TD ALIGN=CENTER>$25.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$12.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>78 RPM 12" Sleeves - Pack of 25 (out of stock)</TD>
	<TD ALIGN=CENTER>N/A</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>N/A</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>78 RPM 12" Sleeves - Pack of 100 (out of stock)</TD>
	<TD ALIGN=CENTER>N/A</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>N/A</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>78 RPM used Storage Album - 10"</TD>
	<TD ALIGN=CENTER>$5.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$8.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Five 78 RPM used Storage Albums - 10"</TD>
	<TD ALIGN=CENTER>$20.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$20.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>


<TR>
	<TD>78 RPM used Storage Album - 12"</TD>
	<TD ALIGN=CENTER>$5.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$10.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Five 78 RPM used Storage Albums - 12"</TD>
	<TD ALIGN=CENTER>$20.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$25.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>


<TR>
	<TD>Clear Plastic 10" Album Covers - Pack of 25</TD>
	<TD ALIGN=CENTER>$7.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$6.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Clear Plastic 12" Album Covers - Pack of 25</TD>
	<TD ALIGN=CENTER>$8.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$7.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Clear Plastic 9" x 12" Small Sheet Music Covers - Pack of 25</TD>
	<TD ALIGN=CENTER>$7.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$6.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Clear Plastic 11" x 14" Large Sheet Music Covers - Pack of 25</TD>
	<TD ALIGN=CENTER>$8.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD ALIGN=CENTER>$7.00 ea.*</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Special Item:</TD>
	<TD>$</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD>$</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>* Shipping discount available on larger quantities - inquire</TD>
	<TD ALIGN=RIGHT><B>Totals</B></TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>

</TR></TABLE></P>
<BR>

<P><TABLE WIDTH=100% BORDER=1 CELLPADDING=3>

<TR>
	<TD COLSPAN=2><B>Merchandise Total from above</B></TD>
	<TD WIDTH=15%>&nbsp</TD>
</TR>
<TR>
	<TD COLSPAN=2><B>California Residents add 7.25% Sales Tax on Merchandise Total</B></TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD COLSPAN=2><B>Shipping Total from above - USA ADDRESSES ONLY - contact us first for overseas shipment rates</B></TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD COLSPAN=2><B>Total Enclosed</B></TD>
	<TD>&nbsp</TD>
</TR>
</TABLE></P>

<b>Make checks payable to <U>Hawthorn's Antique Audio</U> and send payment along with this form to 244 Folsom Road, Roseville CA  95678.<BR>
All shipments will be sent via U.S. Mail.  Please allow 2 to 3 weeks for delivery.  For credit card orders, please fill out the section below.<BR>
We can also accept payment by PayPal.  Send your payment to <U>hawthorn@thoseoldrecords.com"</U> and include your shipping address.<BR></b>

<P><TABLE WIDTH=100% CELLPADDING=12 BORDER=1>
<TR>
	<TD WIDTH=13%>Name:</TD>
	<TD>&nbsp</TD>
	<TD WIDTH=20%>Visa or Mastercard #:</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Address:</TD>
	<TD>&nbsp</TD>
	<TD>Expiration Date:</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>City, State:</TD>
	<TD>&nbsp</TD>
	<TD>Security Code:</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>ZIP:</TD>
	<TD>&nbsp</TD>
	<TD>Signature:</TD>
	<TD>&nbsp</TD>
</TR>

<TR>
	<TD>Phone/Fax:</TD>
	<TD>&nbsp</TD>
	<TD>Email:</TD>
	<TD>&nbsp</TD>
</TR>
</TABLE></P>


</NOBR>

</CENTER>
</BODY>
</HTML>