<HTML>
<HEAD>
<TITLE>Hawthorn's Antique Audio - Order Form</TITLE>
</HEAD>
<BR><BR><BR><BR><BR>

<NOBR>

<P><TABLE WIDTH=100% BORDER=1 CELLPADDING=2>
<TR>
	<TD COLSPAN=4><B><CENTER>PHONOGRAPH AND RECORD SUPPLIES<CENTER></TD>
</TR>
<TR>
	<TH><B>Item Description</TH>
	<TH><B>Price Each</TH>
	<TH><B>How Many</TH>
	<TH><B>Total Price</TH>
</TR>
<TR>
	<TD>Phonograph Needles - Pack of 25</TD>
	<TD ALIGN=RIGHT>$2.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Strobe Disc - 78 and 80 RPM</TD>
	<TD ALIGN=RIGHT>$4.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>78 RPM 10" Sleeves - Pack of 25</TD>
	<TD ALIGN=RIGHT>$8.50</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>78 RPM 12" Sleeves - Pack of 25</TD>
	<TD ALIGN=RIGHT>$10.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>78 RPM 10" Sleeves - Pack of 100</TD>
	<TD ALIGN=RIGHT>$29.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>78 RPM 12" Sleeves - Pack of 100</TD>
	<TD ALIGN=RIGHT>$35.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>78 RPM Used Storage Album - 10"</TD>
	<TD ALIGN=RIGHT>$5.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>78 RPM Used Storage Album - 12"</TD>
	<TD ALIGN=RIGHT>$5.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Clear Plastic 10" Album Covers<br>Pack of 25</TD>
	<TD ALIGN=RIGHT>$6.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Clear Plastic 12" Album Covers<br>Pack of 25</TD>
	<TD ALIGN=RIGHT>$7.00</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Clear Plastic Small Sheet Music<br>Covers - Pack of 25</TD>
	<TD ALIGN=RIGHT>$6.50</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Clear Plastic Large Sheet Music<br>Covers - Pack of 25</TD>
	<TD ALIGN=RIGHT>$7.50</TD>
	<TD>&nbsp</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD COLSPAN=2>No shipping charge to U.S. addresses</TD>
	<TD><B>Sub Total</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD COLSPAN=2>California residents add 7.25% sales tax</TD>
	<TD><B>CA Tax</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD COLSPAN=2>OUTSIDE U.S. ONLY - contact us for rates</TD>
	<TD><B>Shipping</b></TD>
	<TD>xxxxxxx</TD>
</TR>
<TR>
	<TD COLSPAN=2>Make checks payable to <b>Hawthorn's Antique Audio</b>,
	and send this completed form to <B>77 Columbia Avenue, Roseville CA  95678</B>.
	</b></td><td><B>Total Enclosed</TD>
	<TD>&nbsp</Td>
</TR>
</TABLE></P></NOBR>

<P>All shipments will be sent via non-priority U.S. Mail.  Please allow 2 to 3 weeks for delivery.</P>

<P><TABLE WIDTH=100% CELLPADDING=3 BORDER=1>
<TR>
	<TD WIDTH=13%>Name:</TD>
	<TD>&nbsp</TD>
	<TD WIDTH=20%>Name on Credit Card:</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Shipping Address:</TD>
	<TD>&nbsp</TD>
	<TD>Credit Card Number:</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>City:</TD>
	<TD>&nbsp</TD>
	<TD>Expiration Date:</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>State, ZIP:</TD>
	<TD>&nbsp</TD>
	<TD>Signature:</TD>
	<TD>&nbsp</TD>
</TR>
<TR>
	<TD>Phone/Fax:</TD>
	<TD>&nbsp</TD>
	<TD>Email:
</TD>
	<TD>&nbsp</TD>
</TR>
</TABLE></P>

</CENTER>
</BODY>
</HTML>