<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - Phonograph Repair</TITLE>
</HEAD>

<BODY BACKGROUND="10ligh04.jpg">
<CENTER><NOBR><IMG SRC="phono.gif"><IMG SRC="haa.gif"><IMG SRC="record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2 WIDTH=22%><NOBR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="new.html">What's New?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR> Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Phonograph Repair</FONT></H1><BR>
	<CENTER><IMG SRC="photos/workshop.jpg"></CENTER><BR><HR>

	<P>We have temporarily discontinued our phonograph and reproducer repair service.  However, we will be happy to recommend an experienced repairmen that we know personally who can help you with your service needs.  Please contact us for a referral.</P>
<A>Return to <A HREF="#">top of page</A> 
</BODY>
</HTML>