<HTML>
<a name="top"></a>
<HEAD>
<TITLE>Hawthorn's Antique Audio - Phonographs for Sale</TITLE>
</HEAD>

<BODY BACKGROUND="10ligh04.jpg">
<CENTER><NOBR><IMG SRC="phono.gif"><IMG SRC="haa.gif"><IMG SRC="record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2 WIDTH=22%><NOBR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="new.html">What's New?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR> Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Phonographs for Sale</FONT></H1>
	<P>Although we are primarily record dealers, we usually have a few nice hand wound phonographs for sale.  Most phonographs are restored to good playing condition using original parts whenever possible.  The cabinets are cleaned and touched up, but usually not refinished.  We currently have the following available:</P>

<P>Sorry, no phonographs available at this time.</P>


<P>These phonographs are available for inspection by appointment only.  We may also have other instruments that are displayed at our <A HREF="retail.html">Retail Location</A> and at our Spring and Fall antique shows. Visit the <A HREF="new.html">What's New</A> page for dates and locations of our upcoming shows.  Special consignment items are occasionally listed that are in the owner's home.</P>


<a name="bargain"</a>
<P><H2 ALIGN=CENTER><FONT COLOR=RED>BARGAIN BASEMENT<BR>Project Phonographs, Music Boxes, Radios and Parts Machines</FONT></H2></CENTER><BR><BR>

<P><H2 ALIGN=CENTER><FONT COLOR=RED>Sorry, nothing in the Bargain Basement today.</FONT></H2></CENTER>
  <a href="#top">Click here</a> to return to the list of phonographs.<HR><BR><BR> 







	<P><CENTER><IMG SRC="music.gif"></CENTER></P>

</TD>
</TR>
</TABLE> 
</BODY>
</HTML>