{%extends "siteBase.html"%}



{%block inner%}


<H1 ALIGN=CENTER><FONT COLOR=RED>Phonograph Repair</FONT></H1><BR>
	<CENTER><IMG SRC="/static/audio/images/site/photos/workshop.JPG"></CENTER><BR><HR>

	<P>We have temporarily discontinued our phonograph and reproducer repair service.  However, we will be happy to recommend an experienced repairmen that we know personally who can help you with your service needs.  Please contact us for a referral.</P>
<div class="return">Return to <A HREF="#">top of page</A></div> 

{%endblock%}