{%extends "siteBase.html"%}



{%block inner%}
	

	<H1 ALIGN=CENTER><FONT COLOR=RED>Record Mail Auctions</FONT></H1><BR>

<P>For a quick preview of some of the items on our current auction, take a look at our <A HREF="new.html">What's New</A> page, and be sure to click on the Picture Gallery when you get there.


<P><A HREF="A144 auction PDF.pdf"><FONT >Click Here</A></FONT> to see the complete PDF file of the current auction.  To get back here, use the "back" arrow at the top of your screen.</P>

<P>Don't forget that we also have a great selection of records featured on ebay.  <A HREF="ebay auction 22 PDF.pdf"><FONT >Click here</A></FONT> for a printable copy of our upcoming eBay listings.</P>

<P><a href="bids/">Click Here</a> to submit your bids online

	<P>We have been publishing mail auction catalogs of collectable 78 rpm
	records since 1988.  Collectors throughout the world look forward to
	our quarterly lists.  In fact, many of our customers have been
	with us since the beginning of our business.  If you collect historical or personality
	records, jazz, dance bands, country and hillbilly, spoken word, classical vocal and
	instrumental, foreign and ethnic, or just about anything else on 78s, then you will enjoy our
	auctions.  When our inventory permits, we also include specialty sections
	of Edison material (cylinders and discs), paper ephemera, and whatever
	else we think you may like.  Occasionally, we include a few interesting
	LPs and sheet music, but our lists are primarily 78 rpm.</P>
	
	
	<P>Each auction list usually contains four separate sections:<BR><BR>
	<B>1.  <U>POPULAR</B></U> - this covers historical and early labels,
	personality, dance bands, country & western, foreign & ethnic, rock and R&B, popular vocals, comedy and novelty, instrumental solos, accessories, 
	paper items, and just about everything else.  <BR><BR>

	<B>2.  <U>CLASSICAL</B></U> - including vocal, operatic, instrumental, piano,	
	chamber and orchestral 78s, mostly pre-1940 issues, with a strong emphasis on
	acousitc and early electric recordings.<BR><BR>

	<B>3.  <U>EDISON</B></U> - cylinders, Diamond Discs, paper items, phonograph
	parts, and other Edison related material.  Occasionally, a small group of
	classical Diamond Discs may appear in the Classical section.<BR><BR>

	<B>4.  <U>JAZZ</B></U> - mostly traditional, but with occasional selections of
	modern and bop; Dixieland revival, some LPs, particularly 10" when we have them, and jazz related
	books, magazines and sheet music.</P>

<H2 ALIGN=CENTER>Guidelines for Receiving Auction Lists</H2>

	<P>After 20 years of providing free printed record auction lists to one and all, we are sorry to report that we can no longer do so.  For years we have been carrying quite a number of folks on our mailing list who merely request to keep receiving our auctions and do not bid, or who submit one or two small bids in order to stay on the list. Our printing and postage costs have risen sharply in the past few years, and our income has not, so we have found it necessary to make some cost-cutting changes.</P>

	<P>First of all, if you are on the PDF mailing list and receive your auction by email, you have nothing to worry about - that will continue as a free service for as long as we continue publishing auctions and you continue to want to receive them.  There is no need to send us a reminder to keep you on the list each time; as a matter of fact, it is less work for us if you don't!</P>

	<P>For all of you who receive your auctions by U.S. mail, the following <B>Rule of Three</B> will be in effect.  Simply stated, you can keep your name on our mailing list either by maintaining a minimum amount in winning bids on three consecutive auctions OR by requesting a paid subscription.  Of course, new bidders will receive 3 auctions to start out.  Here is how it works:</P>

	<P>To stay on the FREE postal mailing list you must maintain an average invoice of at least $10 per auction for the prior three auctions.  To explain: The total for all 3 auctions must be at least $30 in order to keep receiving a free list.  SO, if you win $20 on one auction, -0- on a second, and $15 on a third, you are OK - That's an average of more than $10 per auction (barely!).  How about $30 on the first, -0- on the second, and -0- on the third?  Still OK, but you have to win at least $30 on the following auction to stay on the free list because we only look back at 3 auctions, so the first one drops off.  How about $5 on the first, $10 on the second, and -0- on the third?  Sorry, no more freebies; you will have to subscribe or change to PDF to continue.

<H2 ALIGN=CENTER>Q & A Section</H2>

Q - How do I subscribe?<BR>
A - Send us your check, money order, PayPal payment or Credit Card approval for a 3-auction non-refundable subscription as follows:<BR><BR>
		<UL>
		<LI>$10 for a U.S. address
		<LI>$12 for a Canadian address
		<LI>$15 for anywhere else outside the U.S. or Canada
		</UL>

After 3 auctions, you may renew your subscription if you wish, switch to PDF, or if you have maintained at least a $10 average, you will get back on the free list - but check that <B>Rule of Three</B> again!<BR><BR>

Q - How do I get on the PDF email list?  <BR>
A - Just ask, by email please, so we can be sure to get the address right.<BR><BR>

Q - How will I know if you are going to take my name off of the mailing list?<BR>
A - It's tempting to say that you should keep track of these things (which you should), but we will include a warning notice before your name is dropped.<BR><BR>

Q - Why are the PDF lists always free?<BR>
A - COST - or rather, NO COST.  The PDF list costs us absolutely nothing to mail - no printing, no postage, no effort.  The full auction goes out to everyone with one touch of a button, and that is that!  The reminder note near the close of the auction works the same way - Zoom!  and It's gone.  Sending the printed auction list through the U.S. mail costs us many hours of work and many, many dollars.<BR><BR>

Q - Can I add my bids to a friend's bid sheet to make up the minimum winning amount?<BR>
A - Sure, but be aware, we will NOT bill you separately or mail separate parcels, so it will be up to you to keep track of who gets what, and fight over how to split the postage and tax (if any).  One bid sheet, one name, one bill, one payment, one shipment.  We don't even need to know.<BR><BR>

Q - Do I still need to ask you to keep me on your mailing list?<BR>
A - No - in fact, please don't!  Now it will not matter if you bid or not and if you win any items or not.  It's just 3 strikes and you're out - or move to a subscription or to the PDF list.<BR><BR>

Q - Do I have to bid on every auction?<BR>
A - No, you can skip one, even two in a row, so long as your average invoice over all three is at least $10.<BR><BR>

Remember, if we can cut costs, then we can buy more records to list on future auctions, and you'll see better stuff on our upcoming lists.  We're hoping with this new policy that everyone will benefit in the long run.  Thanks!



	
	<P><A HREF="aucrules.html">Click here </A>
	for a description of our Auction Rules and Policies.
	</P>

	<P><CENTER><IMG SRC="/static/audio/images/site/music.gif"></CENTER></P>
<BR>

{%endblock%}