{%extends "siteBase.html"%}



{%block inner%}
	<H1 ALIGN=CENTER><FONT COLOR=RED>Record Supplies</FONT></H1>

<P><H3><B>NOTE: Shipping prices are for USA addresses.  Overseas customers please contact us first before placing an order so we can advise you of the international shipping charges.<BR><BR>

A shipping price with an asterisk (*) indicates a shipping discount is available for larger quantities - inquire.</H3></b><p>
	
	<P><A HREF="order.html"><FONT >Click here for a printable order form.</A></FONT></P>

	<P><FONT COLOR=RED>Be sure to visit the </FONT><A HREF="new.html"><FONT >What's New</A></FONT> <FONT COLOR=RED>page for occasional limited inventory sleeves and supplies offers.</FONT></P>

	<B>SWISS STEEL PHONOGRAPH NEEDLES,</B> loud or soft tone.  For Victrolas and
	other hand wound phonographs except Edisons and some Pathe models.<BR>50 needles
	per pack - $4.00 (shipping - free)</P>
	
	<P><B>STROBE DISC FOR 78 AND 80 RPM,</B> for proper speed adjustment of all hand wound disc phonographs, including the Edison models.  Works with any flourscent light on 60 cycles, instructions included.<BR>$4.00 each (shipping - free)</P>

	<P><B>78 RPM RECORD SLEEVES,</B> 10-inch size only.  These 
	are large enough to fit Edison and other slightly oversize discs.  Heavy 28 lb. gold kraft paper, 
	inside seams.<br>
	10-inch: pack of 25 - $7.00 (shipping - $6.00*)<BR>
	10-inch: pack of 100 - $25.00 (shipping - $12.00*)</P>
	
	<p><b>78 RPM STORAGE ALBUMS,</b> used, various colors and styles.  
	Ten or twelve pages each, some may have writing or stickers from the previous owner on the index or spine.<br>
	10-inch album: $5.00 (shipping - $8.00*)<br>
	Five 10-inch albums: $20.00 (shipping - $20.00*)<BR>
	12-inch album: $5.00 (shipping $10.00*)<BR>
	Five 12-inch albums:  $20.00 (shipping $25.00*)</p>

	<p><b>CLEAR PLASTIC ALBUM COVERS,</B> 3-mil polyethelyne.  Can be used
	for regular LP albums or 78 rpm album set cover protectors.<br>
	10-inch: pack of 25 - $7.00 (shipping - $6.00*)<br>
	12-inch: pack of 25 - $8.00 (shipping - $7.00*</p>
	
	<p><b>CLEAR PLASTIC SHEET MUSIC COVERS,</B> 3-mil polyethylene.  Small size is 
	9-3/8" x 12-1/4", large size is 10-7/8" x 14-1/4".  With flap.<br>
	Small size (9" x 12"): pack of 25 - $7.00 (shipping - $6.00*)<br>
	Large size (11" x 14"): pack of 25 - $8.00 (shipping - $7.00*)</p>

	<p>To place an order, click and print the Order Form (see below), and fill it out completely.  
	Send the completed form to our mailing address with payment in full.  California
	residents must add 7.25% sales tax.  Please make checks payable to
	"Hawthorn's Antique Audio."</p>

	<p>Visa, Mastercard and Paypal payments are welcome.  All credit card mail orders must be on 
	a completed and signed order form.  You may fax your order form when paying by credit card.  	Email and telephone credit card orders are also accepted.</P>

	<p>All shipments will be sent via U.S. Postal Service Parcel Post.  
	Please allow 2 - 3 weeks for delivery.</p>  	<p>OVERSEAS CUSTOMERS:  Please 
	contact us first before placing an order so we can determine the 
	overseas shipping charge.</p>

	<p>If you wish to place a very large order for any of the above items, please 
	contact us in advance for pricing and terms.</p>
	
<A HREF="order.html"><FONT >Click here for a printable order form.</A></FONT>

<center><H3>Questions?</H3>
<B>Telephone:</B> (916) 773-4727<BR>
(10 AM to 6 PM Pacific Time, Tuesday thru Saturday)<BR>
<BR><B>Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">email us.</A>
</P> 



<A>Return to <A HREF="#">top of page</A> 
{%endblock%}