{%extends "siteBase.html"%}



{%block inner%}

<H1 ALIGN=CENTER><FONT COLOR=RED>Records for Sale</FONT></H1>
	<P>We specialize in 78 RPM and cylinder records of all types of music 
	recorded before 1940. We also offer some later 78s and a few LPs and 45s 
	when we get them. Here is a brief description of our methods of sale to 
	help you find the records you want:</P>

<P><A HREF="/static/audio/pdf/A144 auction PDF.pdf"><FONT >Click Here</A></FONT> to see the complete PDF file of the current auction.  To get back here, use the "back" arrow at the top of your screen.</P>


<P><A HREF="/static/audio/pdf/ebay auction 22 PDF.pdf"><FONT >Click here</A></FONT> for for a printable copy of our upcoming eBay listings.</P>

	<P><B>Early Popular 78s</B> - including historical and personality, 
	rare labels, vaudeville, comedy, minstrel shows, traditional jazz, blues, 
	ragtime, dance bands, country and hillbilly, foreign and ethnic, small sizes, 
	picture records, odds and ends. These are available on our mail 
	auction record lists described in <A HREF="recauc.html">Record Auctions.</A>
	Check out the <A HREF="new.html">What's New</A> page for a sample of our 
	current list or for a preview of upcoming auctions.</P>
	
<P><B>Early Classical 78s</B> - including opera, vocal, instrumental, 
	orchestral, piano, choral, occasional Fonotipias, Odeons, early Pathes, 
	Zonophones and other rarities, and lots of excellent performances by many 
	of the Golden Age artists.  These are available on our mail auction 
	record lists described in <A HREF="recauc.html">Record Auctions.</A>.  Check out the 
	<A HREF="new.html">What's New</A> page for a sample of the current list
	or for a preview of upcoming auctions.</P>

	<P><B>Edison Diamond Disc and Cylinder Records</B> - we offer these both on  
	our <A HREF="recauc.html">Record Auctions</A> and at our <A HREF="retail.html">Retail Location.</A>  Generally, the more collectable items such as 5" concert cylinders and electrical Diamond Discs will be on our auctions, while the more common items will be in our shop.  The <A HREF="new.html">What's New</A> page will let you know what is on the current auction.</P>

	<P><B>Advertising, Record Catalogs, and Other Music-Related Paper</B> - 
	these are usually included on the auction lists, 
	depending on the nature of the item. 

<P><B>Sheet music</B> - we usually stock most of our sheet music at our <A HREF="retail.html">Retail Location,</A> although sometimes you will find a few choice titles listed on our 
	auctions also. Check out the <A HREF="new.html">What's New</A> page for any 
	special items we may have.</P>

	<P><B>Post War 78s</B> - big band, swing, modern jazz, Dixieland, popular 
	vocals, country, comedy, classical, Hawaiian, foreign and miscellaneous other
	types.  You will find these mostly at our <A HREF="retail.html">Retail Location.</A></P>

	<P><B>45s</B> - these are also offered at our <A HREF="retail.html">Retail 
	Location.</A></P>

	<P><B>LPs</B> - Occasionally we list LPs that are mainly 78 rpm reissues on our 
	auctions, but most of our LPs are offered for sale 
	at our <A HREF="retail.html">Retail Location.</A></P>
	
We have no specific title lists of any records found in our retail shop, as
	the stock is continually changing.
	<P><CENTER><IMG SRC="/static/audio/images/site/music.gif"></CENTER>




<A>Return to <A HREF="#">top of page</A> 

{%endblock%}
