
<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - Retail Locations</TITLE>
</HEAD><A name="#"></A>

<BODY BACKGROUND="/static/audio/images/site/10ligh04.jpg">
<CENTER><NOBR><IMG SRC="/static/audio/images/site/phono.gif"><IMG SRC="/static/audio/images/site/haa.gif"><IMG SRC="/static/audio/images/site/record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2><NOBR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR>Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Retail Location</FONT></H1>
	<P>We have a booth in the Antique Trove in Roseville, one of the largest antique malls in Northern California. 
	If you are planning a visit, we suggest you allow several hours for browsing, 
	as it is full of many wonderful items besides our records, phonographs and sheet music. 
	The mall is open 7 days a week, from 10 AM to 6 PM. Visit their web 
	site for a map and further information. We are situated on Aisle D, dealer number
	 250. If you can't find our booth, just ask any of the salespeople to direct 
	you to the booth that has all the records and phonographs.<BR>
	<BR>
	<A HREF="http://www.antiquetrove.com">Antique Trove</A> - 236 Harding Blvd, Roseville CA  95678<BR>
	Phone (916) 786-2777<BR>
	From I-80 in Roseville, take the Douglas Blvd. West off ramp, go to the 
	first traffic light, which is Harding Blvd, turn right and drive about 1/2 
	mile North.  The store is on the right.<BR>
	<BR>
	
<CENTER>
<IMG SRC="/static/audio/images/site/malls/newshop1.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/malls/newshop3.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/malls/newshop4.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/malls/newshop5.jpg"><BR><BR>
</CENTER>


</TABLE>


<A>Return to <A HREF="#">top of page</A> 
</BODY>
</HTML>