
<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - Behind the Scenes</TITLE>
</HEAD><A name="#"></A>

<BODY BACKGROUND="/static/audio/images/site/10ligh04.jpg">
<CENTER><NOBR><IMG SRC="/static/audio/images/site/phono.gif"><IMG SRC="/static/audio/images/site/haa.gif"><IMG SRC="/static/audio/images/site/record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2><NOBR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR>Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Behind the Scenes</FONT></H1>
	<CENTER>Here are some photos and ramblings of a personal nature, just for fun.</CENTER><BR>
	<BR>
	
	
<CENTER>
<IMG SRC="/static/audio/images/site/scenes/new home.jpg"><BR>
New Home of Hawthorn's Antique Audio<BR>
244 Folsom Road, Roseville, CA - come visit!<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/78rpms.jpg"><BR>
My custom license plate for my car<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/kid.jpg"><BR>
Yep, that's me - about 3 years old and<BR>
I have no idea what the record is<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/article.jpg"><BR>
This is me again - 1966, 20 years old<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/entertaining clients.jpg"><BR>
It's always fun to meet new customers<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Gold Rush Days 107.jpg"><BR>
Collector friend Scott Corbett is having fun too<BR><BR>
<IMG sRC="/static/audio/images/site/scenes/Victorian Christmas.jpg"><BR>
I always enjoy Christmas<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/museum.jpg"><BR>
Tom in a corner of his museum<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/office.jpg"><BR>
The office, where Tom is typing another auction list<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/shipping room.jpg"><BR>
Here's the shipping room, and I'm packing your parcel of records<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Gail.jpg"><BR>
This is Gail, who is an incredible help with the packing and shipping,
as well as bid entry, auction typing, and just about everything else.<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/store4.jpg"><BR>
Restocking records in the store at the Antique Trove<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/store6.jpg"><BR>
New records for the wall displays<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/warehouse1.jpg"><BR>
The warehouse - picking out some records for a future auction<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/warehouse2.jpg"><BR>
Miles of aisles of records in the warehouse<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/warehouse3.jpg"><BR>
Still more unsorted records in the warehouse<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/ARSC 2008.jpg"><BR>
Left to right:  Paul Collenette, Martin Fisher, Tom Hawthorn,
Kurt Nauck, Bill Klinger, Anna Marie Manuel, Virginia Hawthorn,
and Kurt Nauck Sr. - ARSC Conference, Palo Alto CA, 2008<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Virginia City 2009.jpg"><BR>
Tom and fellow collector/dealer Scott Corbett ask<BR>
"How much is that doggie in the window?"<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Sherman.jpg"><BR>
Scott Corbett, Mike Sherman, Tom Hawthorn, Mike Khanchalian, Charlie Hummel - 2010<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Mike.jpg"><BR>
Mike Khanchalian repairing the only known Columbia Multiplex cylnder<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Hummel.jpg"><BR>
Charlie Hummel showing the one remaining Columbia Multiplex cylinder mechanism<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Caps.jpg"><BR>
Our booth at the 2010 CAPS Phonograph Show in Buena Park, CA<BR><BR>
<IMG SRC="/static/audio/images/site/scenes/ARSC1.jpg"><BR>
Kurt Nauck, Tom Hawthorn, Scott Corbett listen to a story told by Randy Morris - ARSC 2010<BR><BR>


</CENTER>


<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Where Do Your Records Come From?</FONT></H1>
	<CENTER>We don't have a record tree growing in the backyard, so we have to go out and find the records we list on our auctions.  Here are some pictures of collections we recently purchased so you can see what we have to go through to bring you the records you see on our auctions.</CENTER><BR>
	<BR>

<IMG SRC="/static/audio/images/site/scenes/Minnik 1.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Minnik 2.jpg"><BR><BR>	
<IMG SRC="/static/audio/images/site/scenes/Minnik 3.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Minnik 4.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Minnik 5.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Minnik 6.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Minnik 7.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Minnik 8.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 01.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 02.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 03.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 04.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 05.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 06.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 07.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 08.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 09.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/olmsted 10.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 11.jpg"><BR><BR>
<IMG SRC="/static/audio/images/site/scenes/Olmsted 12.jpg"><BR><BR>


</TABLE>


<A>Return to <A HREF="#">top of page</A> 
</BODY>
</HTML>