<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - Sheet Music for Sale</TITLE>
</HEAD>

<BODY BACKGROUND="10ligh04.jpg">
<CENTER><NOBR><IMG SRC="phono.gif"><IMG SRC="haa.gif"><IMG SRC="record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2 WIDTH=22%><NOBR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="new.html">What's New?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A  HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>


</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR> Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Sheet Music for Sale</FONT></H1>
	<P>In addition to records and phonographs, we offer a wide variety of 
	vintage sheet music.  Here is where you can find it:</P>

	<P>Our <A HREF="retail.html">Retail Location</A> has a fine selections of 
	music of all types. We do not maintain a list of titles available in our
	retail shop as the stock is continually changing and we put out new
	titles frequently.  This is a great browsing spot!<BR><BR>

	In addition, we always have lots of good music, including some record & sheet music matches 
	and many bargain selections at our Spring and Fall antique shows which take place
	on picturesque "old town" streets.  These shows are a wonderful reason to visit 
	Northern California.  Check our <A HREF="new.html">What's New?</A> page for the
	dates and times of our upcoming shows.<BR><BR>

	We do not run regular sheet music auctions, but collectable music and music with direct 
	ties to 78 RPM records, such as an artist's picture on the cover, matching 
	music and record titles, or music with references to records, will 
	be listed on our <A HREF="recauc.html">Record Auctions.</A>
	Take a look at that page to find out how they work and to put your name
	on our auction mailing list.</P>

	
	<P>Please do not send us "want lists" as we do not keep a computerized 
	list of titles or make special searches for particular items.</P>
</TR>
</TABLE>


<A>Return to <A HREF="#">top of page</A> 
</BODY>
</HTML>