<HTML>

<HEAD>
<TITLE>Hawthorn's Antique Audio - Unsolicited Testimonials</TITLE>
</HEAD>

<BODY BACKGROUND="/static/audio/images/site/10ligh04.jpg">
<CENTER><NOBR><IMG SRC="/static/audio/images/site/phono.gif"><IMG SRC="/static/audio/images/site/haa.gif"><IMG SRC="/static/audio/images/site/record.gif"></NOBR></CENTER>
<BR>

<TABLE WIDTH=100%>
<TR VALIGN=TOP>
	<TD ROWSPAN=2><NOBR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="index.html">Home</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recauc.html">Record Auctions</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsup.html">Record Supplies</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="recsale.html">Records for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonosale.html">Phonographs for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="phonorep.html">Phonograph Repair</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="sheetmusc.html">Sheet Music for Sale</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="appraisal.html">Appraisals</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="retail.html">Retail Locations</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="faq.html">FAQ</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="buyrec.html">What Do We Buy?</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="links.html">Links</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="testimonials.html">Unsolicited Testimonials</A><BR>
	&nbsp<IMG SRC="/static/audio/images/site/arrow.gif"><A HREF="scenes.html">Behind the Scenes</A><BR>

</NOBR>
	<P ALIGN=CENTER>Mailing Address:<BR> 244 Folsom Road<BR> Roseville, CA 95678 USA<BR>
	<BR> Telephone:<BR> (916) 773-4727<BR> (10 AM to 6 PM Pacific Time, 
	Tuesday thru Saturday)<BR><BR> Fax:<BR> (916) 773-4727<BR> 
	(24 hours, every day)<BR><BR> Click here to <A HREF="mailto:hawthorn@thoseoldrecords.com">
	e-mail us.</A></CENTER></P></TD>
	
	<TD ROWSPAN=2 WIDTH=20></TD>
	<TD><H1 ALIGN=CENTER><FONT COLOR=RED>Unsolicited Testimonials</FONT></H1>
	<P>"The records arrived safely and I've been enjoying them immensely.  The parcel was well packed and the records are just as you graded them."  <I>L.H., Amityville NY</I><BR><BR>

"I just wanted to let you know that the shipment of my auction winnings arrived safe and sound.  In all, a fine result and you have my thanks and looking forward to your next auction." <I>L.H., Kirkland WA</I><BR><BR>

"You have some great records on your auction lists."  <I>S.C., Ontario CA</I><BR><BR>

"These are some really cool cylinders."  <I>M.K., Monrovia CA</I><BR><BR>

"Great packing job!  Everything arrived safely - many thanks!" <I>D.G., Derwood MD</I><BR><BR>

"Thanks for such wonderful records."  <I>M.L., Vista CA</I><BR><BR>

"Your grading is the best in the business."  <I>L.W., Grass Valley CA</I><BR><BR>

"Always a pleasure to receive your auction lists."  <I>D.S., Glendale CA</I><BR><BR>

"Another fine list of records - hard to choose which ones I really want."  <I>P.A., St. Andrews, Scotland</I><BR><BR>

"Awesome!"  <I>C.K., Penryn, CA</I><BR><BR>

"I was really, really pleased with the Teddy Roosevelt record I bought from you recently."  <I>T.B., email</I><BR><BR>

For more references, go to our <A HREF="http://search.ebay.com/_W0QQsassZhawthornsantiqueaudio">eBay 		Auctions</A> page and scroll down the left side until you see "Read Feedback Profile."  Click on that to see what our eBay customers have to say.</P>


<A>Return to <A HREF="#">top of page</A> 
</BODY>
</HTML>