{%extends "siteBase.html"%}
{%block inner%}
<style type="text/css">

</style>


<div class="site">
    <h1>Video Tutorials</h1>
    <div class="topCaption">Changing & Resetting Your Password</div>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/0r-9nbb9Ems" frameborder="0" allowfullscreen></iframe>
    <div class="message">Stay tuned for more videos...</div>
    <div class="clear"></div>
    <!--<div class="return">Return to <a HREF="#">top of page</a></div>-->

</div>
{%endblock%}