{% extends "admin/audio/baseAdmin.html" %}
 

{%block content%}
<h1>Open add item page with these values:</h1>

<form action="" method="post" id="addItemURL">
    {% csrf_token %}
      {{ data.form.as_p }}
      <input type="submit" value="Start creating items">
  </form>

<script type="text/javascript">
$( document ).ready(function() {

	$("#id_label").after('<a onclick="return showAddAnotherPopup(this);" id="add_id_label" class="add-another" href="/admin/audio/label/add/?_to_field=id"> <img width="10" height="10" alt="Add Another" src="http://dev.kirami.webfactional.com/static/admin/img/icon_addlink.gif"></a>')

	$("#id_category").after('<a onclick="return showAddAnotherPopup(this);" id="add_id_category" class="add-another" href="/admin/audio/category/add/?_to_field=id"> <img width="10" height="10" alt="Add Another" src="http://dev.kirami.webfactional.com/static/admin/img/icon_addlink.gif"></a>')

	$("#id_auction").change(function(){
		window.location =  "/admin/addItemUrl/?auction=" + $(this).val()
	})

	$("#addItemURL").submit(function(e){
		first = true
		url = "/admin/addItem/?"
		if ($("#id_auction").val()){
			if(first)
				first = false
			else 
				url+='&'
			url+="auction=" + $("#id_auction").val()
		}	
		if ($("#id_category").val()){
			if(first)
				first = false
			else 
				url+='&'
			url+="category=" + $("#id_category").val()
		}
		if ($("#id_label").val()){
			if(first)
				first = false
			else 
				url+='&'
			url+="label=" + $("#id_label").val()
		}
		if ($("#id_min_bid").val()){
			if(first)
				first = false
			else 
				url+='&'
			url+="min_bid=" + $("#id_min_bid").val()	
		}

		if ($("#id_item_type").val()){
			if(first)
				first = false
			else 
				url+='&'
			url+="item_type=" + $("#id_item_type").val()	
		}

		if ($("#id_beginning_lot_id").val()){
			if(first)
				first = false
			else 
				url+='&'
			url+="beginning_lot_id=" + $("#id_beginning_lot_id").val()	
		}

		
		window.open(url)
		return false;

	})

})

</script>

{%endblock%}
