{% extends "admin/base_site.html" %}
 

{% block extrahead %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}audio/js/main.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}audio/css/admin.css" />


{% endblock %}

{%block content%}

<div>Report for auction {{data.auctionId}}:</div>  
<div><A HREF="javascript:window.print()">Click to Print This Page</A></div>
<br>
<div><a href="/admin/report">Summary: </a></div>
<br>
<div>Total on bids: ${{data.total}}</div>
<div><a href="/admin/wonItems/{{data.auctionId}}"># of items sold: {{data.wonItemsCount}}</a></div>
<div><a href="/admin/unsoldItems/{{data.auctionId}}"># of items with no bids: {{data.noBidItemsCount}}</a></div>
<div><a href="/admin/winners/{{data.auctionId}}"># of winners: {{data.winners.count}}</a></div>
<div><a href="/admin/losers/{{data.auctionId}}"># of nonWinners: {{data.loserCount}}</a></div>



{%block info%}
{%endblock%}

{% endblock %}




<!--

{%for winner in data.winners%}
	{{winner.user}}
{%endfor%}
-->




