{% extends "admin/audio/baseAdmin.html" %}
 


{% block content %}


 <form action="" method="post">
    {% csrf_token %}
     <div>
     <div>Consignor:</div>
    	{{form.consignors}}
    </div>
    <div class="leftBox">
    <div>Available Items:</div>
    	{{form.bcItemsAvailable}}

    </div>
    <div class="arrowButtons">
        <input type="button" id="btnLeft" value="&lt;&lt;" />
        <input type="button" id="btnRight" value="&gt;&gt;" />
    </div>
    <div class="rightBox">
        <div>Selected Items:</div>
        

        {{form.bcItemsSelected}}
        </select>
    </div>
    <div class="clear"></div>

    <div>
    	<input type="number" name="percent1" value="25">
    	<input type="number" name="min1" value="0">
    	<input type="number" name="max1" value="10.00">
    </div>


    	
    <input type="submit" value="Add consignments">	
    

  </form>

  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


{%endblock%}

