{% extends "admin/audio/baseReport.html" %}
 

{%block info%}

<h1 style="margin-top:30px;">Report for consignor: {{data.firstName}} {{data.lastName}} Auction #{{data.auctionId}}</h1>

 <div id="ccemail-confirm" title="Please Confirm">Are you sure you want to email a consignor report to {{data.firstName}} {{data.lastName}} for auction {{data.auction.name}}?</div>

<button id='ccemailButton'>Email report to {{data.firstName}} {{data.lastName}}</button>
<div id="consignorIdEmailMsg"></div>

<div id="reportDiv" class="reportTable">

	<div>Consignment info by item:</div>	
	<div class="maxBidItem">Item number:</div>
	<div class="maxBidItem">Bidder:</div>
	<div class="maxBidItem">Total amount:</div>
	<div class="maxBidItem">Range amount:</div>
	<div class="maxBidItem">Range Min:</div>
	<div class="maxBidItem">Range Max:</div>
	<div class="maxBidItem">Percent:</div>
	<div class="maxBidItem">Range percentage:</div>
	

	
	<div class="clear"></div>
	<br><br>
	{%for item in data.consignedItems%} 
		<div style="{%if item.HAA == True%}background-color:red{%endif%}">
			<div class="maxBidItem">{{item.id}} {{item.label.name}} {{item.name}}</div>
			<div class="maxBidItem">{{item.user_id}}</div>
			<div class="maxBidItem">${{item.amount}}</div>
			<div class="maxBidItem">${{item.inRange}}</div>
			<div class="maxBidItem">${{item.minimum}}</div>
			<div class="maxBidItem">${{item.maximum}}</div>
			<div class="maxBidItem">{{item.percentage}}</div>
			<div class="maxBidItem">{{item.rangeAmount|floatformat:2}}</div>
			
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	{%endfor%}

	<hr>
	<div>Total: ${{data.consignorTotal|floatformat:2}} </div>

	<br><br>
	<div>Unsold items:
	{%if data.unsoldConsignorItemsCount == 0%}
		<div>All items were sold!</div>
	{%else%}
		{%for unsoldItem in data.unsoldConsignorItems%}
			<div>{{unsoldItem.id}} {{unsoldItem.label.name}} {{unsoldItem.name}}</div>
		{%endfor%}
	{%endif%}
	</div>

</div>

<script type="text/javascript">

	$( document ).ready(function() {

		$( "#ccemail-confirm" ).dialog({
			resizable: false,
			height:240,
			modal: true,
			autoOpen: false, 
			buttons: {
				"Email": function() {
					sendEmail("singleConsignorReport", {{data.auctionId}},{{data.consignor}})
					$( this ).dialog( "close" );
				},
			Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$("#ccemailButton").click(function(){
			$( "#ccemail-confirm" ).dialog( "open" );
			return false;
		})

	})

	</script>

{%endblock%}
