{% extends "admin/audio/baseReport.html" %}
 

{%block info%}

<h1 style="margin-top:15px;">Consignor report for auction: {{data.auctionId}}</h1>{{ data.totalsByConsignor}}

<div style="margin-bottom:10px;">
 <button id="ccemailButton">Email all consignors (each consignor their own report)</button>
 <div style="font-size:18px;" id="consignorIdEmailMsg"></div>
 </div>

  <div id="ccemail-confirm" title="Please Confirm">Are you sure you want to email a consignor report to ALL consignors for auction {{data.auction.name}}?</div>

<div>Gross auction total:  ${{data.total}}</div>

<div>Total gross of consigned items: ${{data.consignedTotal|floatformat:2}}</div>
<div>Gross consignor total:  ${{data.consignorTotal|floatformat:2}}</div>
<div>Gross HAA total:  ${{data.totalHAA|floatformat:2}}</div>

<div id="reportDiv" class="reportTable">
	
	<div>Consignment info by consignor</div>
	<div class="maxBidItem">Consignor:</div>
	<div class="maxBidItem">Gross:</div>
	<div class="maxBidItem">Amount owed:</div>

	<div class="clear"></div>
	
	{%for key,value in data.items%} 
		{%if key != "total" %}
		<div class="maxBidItem"><a href="/admin/consignorReport/{{data.auctionId}}/{{key}}" target="_blank">{{value.firstName}} {{value.lastName}}</a></div>
		<div class="maxBidItem">{{value.gross|floatformat:2}}</div>
		<div class="maxBidItem">{{value.consignorTotal|floatformat:2}}</div>
		<div class="clear"></div>
		{%endif%}
	{%endfor%}



	<div style="margin-top:20px;">
		<div>The consignors didn't sell anything:</div>
		{%for loser in data.nonWinners%}
		
			<div class="maxBidItem"><a href="/admin/consignorReport/{{data.auctionId}}/{{loser.id}}" target="_blank">{{loser.first_name}} {{loser.last_name}}</a></div>
	
		{%endfor%}
	</div>

</div>

<script type="text/javascript">
	
	function ccEmail(){
		var csrftoken = getCookie('csrftoken');
			ajaxSetup(csrftoken);

			$.ajax({
			type: "POST",
			url: "/admin/sendConsignorEmails/",
			data: { "auctionId":{{data.auctionId}}},
			success: function(data) {
				$('#consignorIdEmailMsg').css("color","green")
				$('#consignorIdEmailMsg').text("Emails were successfully sent.")
			},
			error: function (xhr, ajaxOptions, thrownError) {
				$('#consignorIdEmailMsg').css("color","red")
				$('#consignorIdEmailMsg').text("Something went wrong - emails were not sent.")
	        	return false;
	      	}
		});
	}

	$( document ).ready(function() {

		$( "#ccemail-confirm" ).dialog({
			resizable: false,
			height:240,
			modal: true,
			autoOpen: false, 
			buttons: {
				"Email": function() {
					ccEmail()
					$( this ).dialog( "close" );
				},
			Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$("#ccemailButton").click(function(){
			$( "#ccemail-confirm" ).dialog( "open" );
			return false;
		})

	})

	</script>

{%endblock%}
