{% extends "admin/audio/baseReport.html" %}
 

{%block info%}

<h1>Consignor report for auction: {{auctionId}}</h1>{{ data.totalsByConsignor}}

<div>Gross auction total:  ${{data.total}}</div>

<div>Total gross of consigned items: ${{data.consignedTotal}}</div>
<div>Gross consignor total:  ${{data.consignorTotal}}</div>
<div>Gross HAA total:  ${{data.totalHAA}}</div>

<div id="reportDiv" class="reportTable">
	
	<div>Consignment info by consignor</div>
	<div class="maxBidItem">Consignor:</div>
	<div class="maxBidItem">Gross:</div>
	<div class="maxBidItem">Amount owed:</div>

	<div class="clear"></div>
	
	{%for key,value in data.items%} 
		{%if key != "total" %}
		<div class="maxBidItem"><a href="/admin/consignorReport/{{key}}" target="_blank">{{value.firstName}} {{value.lastName}}</a></div>
		<div class="maxBidItem">{{value.gross|floatformat:2}}</div>
		<div class="maxBidItem">{{value.consignorTotal|floatformat:2}}</div>
		<div class="clear"></div>
		{%endif%}
	{%endfor%}

</div>

{%endblock%}
