
 

{%block content%}

{%for data in data.profiles%}

<div style="margin-bottom:10px;">{%if data.profile.user.first_name%}Hello {{data.profile.user.first_name}} {{data.profile.user.last_name}}!{%else%}Hello!{%endif%}</div>

<div>
We would like to tell you about a new record auction that is like nothing you have ever seen before.  We have developed an entirely new format for viewing our auction catalog and placing bids plus we've added some new features as well.  With our new system you can:
<ul>
	<li>Browse the catalog, which includes sorting and filtering options.</li>
	<li>Place new bids.</li>
	<li>View, edit or delete bids (you can do this until the close of the auction!)</li>
	<li>Maintain your contact information.</li>
	<li>Adjust settings on how you'd like us to contact you.</li>
	<li>View past items won (starting from this test auction).</li>
</ul>

We call it our Direct Bid program, and it is extremely easy to use, completely foolproof, and a whole lot of fun.  We’re introducing this new format with a small test auction, and we really hope you will participate.  There are only 50 records on this auction, but we have chosen some interesting and unique discs that should appeal to a wide variety of collectors.  Your bids are most welcome, but even if you don’t bid we would like to hear from you.  What do you think of the new format?   Any comments or suggestions?  Any bugs in the program?  Is it easy for you to use?  This is a test auction, so the more feedback we get, the better the next version will be.  So please take a moment to look over this short list of records and hopefully you’ll find a few to bid on.  But even if you don’t bid, we hope to hear from you with your comments and suggestions.  You can view this unique auction at: <a href="thoseoldrecords.com/audio/catalog">thoseoldrecords.com/audio/catalog</a></div>


<div style="margin-top:10px;">We've created an account for you!  You must be logged in to bid.</div>
<div>Your login information:</div>
<div>Username: <b>{{data.profile.user.username}}</b></div>
<div>Password: <b>{{data.password}}</b></div>
<div>Email:   We don't have your email, please enter it by logging in and going to Account -> Login Info</div>

<div style="margin-top:10px;">Please change your password by going www.thoseoldrecords.com/audio/accounts/changePassword/</div>

<div style="margin-top:10px;">Thank you so much and we look forward to hearing from you!</div>

<div>Hawthorn's Antique Audio</div>
<span style="page-break-before: always;"> </span>

{%endfor%}
{%endblock%}
