{% extends "admin/audio/baseAdmin.html" %}
 

{%block content%}

{%if success%}
	<div style="color:green; font-size:18px">Bid successfully created.</div>

{%endif%}

{%if error%}
	<div style="color:red; font-size:18px">Something went wrong - bid was not created.</div>
{%endif%}

<h1>Create a bid for auction: {{data.auction}}</h1>

<Div>**Please note, if the blind auction has ended, the time entered needs to be before that.</Div>
<Div>For this auction, ending time was: {{data.auction.end_date}}</Div>
<form action="" method="post">
    {% csrf_token %}

    {%if data.link%}
    <div style="color:red; font-size:18px">You can change the existing bid <a href="{{data.link}}" target="_blank">here</a></div>
    {%endif%}
      {{ data.form.as_p }}
      <input type="submit" value="Submit Bid">
  </form>

<script type="text/javascript">
	$(document).ready(function(){

		 $("#id_user").after('<a onclick="return showRelatedObjectLookupPopup(this);" id="lookup_id_user" class="related-lookup" href="/admin/auth/user/?_to_field=id"> <img width="16" height="16" alt="Lookup" src="http://dev.kirami.webfactional.com/static/admin/img/selector-search.gif"></a>')

	})
</script>

{%endblock%}
