{% extends "admin/audio/baseAdmin.html" %}
 

{%block content%}

<div style="font-size:18px;">Invoices Auction: {{data.auction}}</div>
{%if data.error%}
<div style="font-size:18px; color:red">{{data.errorMsg}}</div>
{%endif%}

<div><button id="emailInvoices">Send all invoice emails</button></div>
<div><button id="printInvoices">Print all invoices that are not emailed</button></div>
<div><button id="printInvoices">Print all invoices, both emailed and not</button></div>


<div id="emailInvoices-confirm" title="Please Confirm">Are you sure you want email all invoices for auction <span id="auctionIdSpan"></span>?</div>



<script type="text/javascript">
	
</script>

{%endblock%}
