{% extends "admin/audio/baseReport.html" %}
 
{%block info%}


<h1 style="margin-top:30px;">Report for user: {{data.user.first_name}} {{data.user.last_name}} Auction: {{data.auction}}</h1>

 <div id="invoiceEmail-confirm" title="Please Confirm">Are you sure you want to email this invoice to {{data.user.first_name}} {{data.user.last_name}} for auction {{data.auction.name}}?</div>

<button id='invoiceEmailButton'>Email Invoice to {{data.user.first_name}} {{data.user.last_name}}</button><br>
<button onclick="window.open('/admin/printInvoices/{{data.auction.id}}/{{data.user.id}}')">Print this Invoice</button><br>
<button onclick="window.open('/admin/audio/payment/add/?invoice={{data.invoice.id}}&user={{data.user.id}}')">Add Payment to this Invoice</button>

<div id="consignorIdEmailMsg"></div>

<div id="invoiceReminder-confirm" title="Please Confirm">Are you sure you want to email a reminder to {{data.user.first_name}} {{data.user.last_name}} for auction {{data.auction.name}}?</div>

<button id='invoiceReminderButton'>Email Reminder to {{data.user.first_name}} {{data.user.last_name}}</button>
<div id="reminderMsg" class=""></div>

<div id="reportDiv" class="reportTable">
	<div class="maxBidItem">Lot Id:</div>

	<div class="maxBidItem">Item name:</div>
	<div class="maxBidItem">Item artist:</div>
	<div class="maxBidItem">Amount bid:</div>
	<div class="clear"></div>
	<br><br>
	
	{%for winner in data.info.wonItems%}
		<div class="maxBidItem">{{winner.item.lot_id}}</div>
		<div class="maxBidItem">{{winner.item.name}}</div>
		<div class="maxBidItem">{{winner.item.artist}}</div>
		<div class="maxBidItem">${{winner.amount}}</div>
		<div class="clear"></div>
	{%endfor%}

	<hr>
	<div>Subtotal:</div>
	<div>${{data.info.sum}}</div>
	{%if data.discount != 0%}
	<div>Discount:</div>
	<div>${{data.discount}}</div>
	{%endif%}
	<hr>
	<div>Shipping: ${{data.shippingTotal}}</div>
	{%if data.invoice.tax%}
	<div>CA State Tax: ${{data.taxTotal}}</div>
	{%endif%}
	{%if data.previousBalance%}
	<div>Previous balance (as of {{data.balanceDate}}): ${{data.previousBalance}}</div>
	{%endif%}
	<div>Total: ${{data.orderTotal}}</div>

</div>

<script type="text/javascript">

	function sendInvoices(){
		var csrftoken = getCookie('csrftoken');
		ajaxSetup(csrftoken);

		data = { "auctionId":{{data.auction.id}}, "userId":{{data.user.id}}}


		$.ajax({
			type: "POST",
			url: "/admin/sendInvoices/",
			data: data,
			success: function(data) {
				
				if (data.success){

					$('#reminderMsg').removeClass("successError")
					$('#reminderMsg').addClass("successMsg")
					$('#reminderMsg').text("Invoice email was successfully sent.")
				}else{
					$('#reminderMsg').addClass("successError")
					$('#reminderMsg').removeClass("successMsg")
					$('#reminderMsg').text("Something went wrong - email was not sent. " + data.msg)
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				$('#reminderMsg').addClass("successError")
				$('#reminderMsg').removeClass("successMsg")
				$('#reminderMsg').text("Something went wrong - email was not sent.")
	        	return false;
	      	}
		});
	}

	function sendReminder(){
		var csrftoken = getCookie('csrftoken');
		ajaxSetup(csrftoken);

		data = { "auctionId":{{data.auction.id}}, "userId":{{data.user.id}}}


		$.ajax({
			type: "POST",
			url: "/admin/sendReminder/",
			data: data,
			success: function(data) {
				$('#consignorIdEmailMsg').removeClass("successError")
				$('#consignorIdEmailMsg').addClass("successMsg")
				$('#consignorIdEmailMsg').text("Reminder email was successfully sent.")
			},
			error: function (xhr, ajaxOptions, thrownError) {
				$('#consignorIdEmailMsg').addClass("successError")
				$('#consignorIdEmailMsg').removeClass("successMsg")
				$('#consignorIdEmailMsg').text("Something went wrong - email was not sent.")
	        	return false;
	      	}
		});
	}


	$( document ).ready(function() {

		$( "#invoiceEmail-confirm" ).dialog({
			resizable: false,
			height:240,
			modal: true,
			autoOpen: false, 
			buttons: {
				"Email Invoice": function() {
					sendInvoices()
					$( this ).dialog( "close" );
				},
			Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$( "#invoiceReminder-confirm" ).dialog({
			resizable: false,
			height:240,
			modal: true,
			autoOpen: false, 
			buttons: {
				"Email Reminder": function() {
					sendInvoices()
					$( this ).dialog( "close" );
				},
			Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$("#invoiceEmailButton").click(function(){
			$('#consignorIdEmailMsg').text(" ")
			$( "#invoiceEmail-confirm" ).dialog( "open" );
			
			return false;
		})

		$("#invoiceReminderButton").click(function(){
			$('#reminderMsg').text(" ")
			$( "#invoiceReminder-confirm" ).dialog( "open" );
			return false;
		})

	})

	</script>


{%endblock%}
