{% extends "admin/audio/baseAdmin.html" %}



{%block content%}

{%for key, value in data.items%}
<div style="margin-bottom:10px;">
	<div>{{value.0.category.name}}</div>
	{%for item in value%}
	<div class="itemLeft">{{item.lot_id}}</div>
	<div class="itemLeft">{{item.label.abbreviation}}</div> 
	<div class="itemLeft">{%if item.record_number%} {{item.record_number}}{%else%}&nbsp{%endif%} </div>
	<div class="itemLeft" style="width:200px">{{item.name}} 
		{%if item.name_two%}<br>{{item.name_two}}{%endif%} 
		{%if item.notes%}<br>{{item.notes}}{%endif%} 
	</div>
	<div class="itemLeft">
		{{item.artist}} 
		
	</div>
	<div class="itemLeft">
		{{item.condition}}
	</div>
	<div class="clear"></div>
	{%endfor%}
</div>
{%endfor%}



{%block info%}
{%endblock%}

<style type="text/css">
	.itemLeft{
		float:left;
		width:150px;
	}
</style>


<script type="text/javascript">

</script>

{% endblock %}


