{% extends "admin/audio/baseReport.html" %}
 

{%block info%}
<div>These people bid on items but did not win:</div>

<div>All emails:<br>
{%for lostBid in data.losingBids%}
	{%if lostBid.user.email != "" %}
		{{lostBid.user.email}},
	{%endif%}
{%endfor%}
</div>	
<br><br>	


<div id="loserEmail-confirm" title="Please Confirm">Are you sure you want to email Loser letters to all these users for auction {{data.auction.name}}?</div>

<button id='loserEmailButton'>Email ALL Loser letters</button>
<button id="printLL" onclick="javascript:window.open('/admin/printLoserLetters/{{data.auction.id}}')">Print USPS Loser Letters</button>
<button  onclick="javascript:window.open('/admin/printLabels/{{data.auction.id}}/loserUSPS')">Print USPS loser Shipping Labels</button>
<div id="reminderMsg"></div>

<div id="reportDiv" class="reportTable">
	<div class="maxBidItem">ID:</div>
	<div class="maxBidItem">Last Name:</div>
	<div class="maxBidItem">First Name:</div>
	<div class="maxBidItem">Email:</div>
	<div class="clear"></div>
	

	<br><br>	
	{%for lostBid in data.losers%}
		<div class="maxBidItem">{{lostBid.user.id}}</div>
		<div class="maxBidItem">{{lostBid.user.last_name}}</div>
		<div class="maxBidItem">{{lostBid.user.first_name}}</div>
		<div class="maxBidItem">{{lostBid.user.email}}</div>

		<div class="clear"></div>
	{%endfor%}

</div>



<script type="text/javascript">

	function sendLoserLetters(){
		var csrftoken = getCookie('csrftoken');
		ajaxSetup(csrftoken);


		$.ajax({
			type: "POST",
			url: "/admin/sendLoserLetters/{{data.auction.id}}",
			success: function(data) {
				$('#reminderMsg').css("color","green")
				$('#reminderMsg').text("Loser emails were successfully sent.")
			},
			error: function (xhr, ajaxOptions, thrownError) {
				$('#reminderMsg').css("color","red")
				$('#reminderMsg').text("Something went wrong - emails were not sent.")
	        	return false;
	      	}
		});
	}



	$( document ).ready(function() {

		$( "#loserEmail-confirm" ).dialog({
			resizable: false,
			height:240,
			modal: true,
			autoOpen: false, 
			buttons: {
				"Email Loser Letter": function() {
					sendLoserLetters()
					$( this ).dialog( "close" );
				},
			Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});



		$("#loserEmailButton").click(function(){
			$( "#loserEmail-confirm" ).dialog( "open" );
			return false;
		})



	})

	</script>


{%endblock%}
