{% extends "admin/audio/baseAdmin.html" %}
 

{%block content%}

<div style="font-size:18px;">Loser Letters for Auction: {{data.auction}}</div>

<div id="msg"></div>

<div id="msg"></div>
<div style="margin-top:20px;">Loser Letter Emails:</div>
<div><button id="sendLoserLetter">Send all loser letter emails</button></div>
<div style="margin-top:20px;">Printing Loser Letters for USPS:</div>
<div><button id="printLL" onclick="javascript:window.location.href = '/admin/printLoserLetters/{{data.auction.id}}'">Print all loser letters that are not emailed</button></div>
<div>


<div id="sendLoserLetter-confirm" title="Please Confirm">Are you sure you want email all loser letters for auction <span id="auctionIdSpan"></span>?</div>



<script type="text/javascript">
	
$( document ).ready(function() {

	$( "#sendLoserLetter-confirm" ).dialog({
		resizable: false,
		height:140,
		modal: true,
		autoOpen: false, 
		buttons: {
			"Email Loser Letters": function() {
				var csrftoken = getCookie('csrftoken');
				ajaxSetup(csrftoken);

				$.ajax({
					type: "POST",
					url: "/admin/sendLoserLetters/{{data.auction.id}}/",
					success: function(data) {
						if(data.success){

							$("#msg").css("color","green")
							$("#msg").text("You've successfully emailed all loser letters")
						}else{
							$("#msg").css("color","red")
							$("#msg").text("Something went wrong, loser letters were not sent: "  + data.msg)
			        	
						}


					},
					error: function (xhr, ajaxOptions, thrownError) {
			        	$("#msg").text("Something went wrong, this flat auction wasn't locked")
			        	return false;
			      	}
				});
				$( this ).dialog( "close" );
			},
		Cancel: function() {
				$( this ).dialog( "close" );
			}
		}
	});

	$( "#sendLoserLetter" ).click(function() {
    	$( "#sendLoserLetter-confirm" ).dialog( "open" );
    });


});

</script>

{%endblock%}
