{% extends "admin/audio/baseAdmin.html" %}



{%block content%}

{%if data.success%}Success!{%endif%}

<div>Chose an auction:</div>
<form action="" method="post" id="markWinnersForm">
    {% csrf_token %} 


    <select>
    {%for auction in data.auctions%}
    	<option value="{{auction}}">{{auction}}</option>
    {%endfor%}
    

    </select>

</form>

<div id="dialog-confirm" title="Please Confirm">Are you sure you want to mark winners?  This will reset all existing win/lose information for this auction.</div>
<button id="opener">Run mark winners</button>


{%block info%}
{%endblock%}

{% endblock %}




<!--

{%for winner in data.winners%}
	{{winner.user}}
{%endfor%}
-->




