
{% block extrahead %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}audio/js/main.js" type="text/javascript"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}audio/css/admin.css" />


{% endblock %}

{%block info%}

{%for key,value in data.invoices.items%} 


<div>

	<div style="margin-top:30px;">
		<div style="float:left; ">Invoice # A{{data.auction.id}}:{{value.invoice.id}}</div>
		<div style="float:right">{{data.today}}</div>
		<div style="margin:0px auto; text-align:center;">
			<div style="display: inline-block; text-align:left">
				<div>Tom Hawthorn</div>
				<div>Hawthorn's Antique Audio</div>
				<div>244 Folsom Rd</div>
				<div>Roseville, CA 95678 USA</div>
				<div>Phone/Fax: (916)-773-4727</div>
			</div>
		</div>
		
	</div>

	<div style="clear:both"></div>

	<div style="margin-bottom:15px; margin-top:10px;">
		{%if value.profile.billing_address.country == "USA" %}
		<div >{{value.user.first_name}} {{value.user.last_name}}<br>{{value.profile.billing_address.address_one}}<br> {%if value.profile.billing_address.address_two%}{{value.profile.billing_address.address_two}}<br>{%endif%}{{value.profile.billing_address.city}} {{value.profile.billing_address.state}}, {{value.profile.billing_address.zipcode}}</div>
		
		{%else%}
		<div >{{value.user.first_name}} {{value.user.last_name}}<br>{{value.profile.billing_address.address_one}}<br> {%if value.profile.billing_address.address_two%}{{value.profile.billing_address.address_two}}<br>{%endif%}{%if value.profile.billing_address.address_three%}{{value.profile.billing_address.address_three}}<br>{%endif%}{{value.profile.billing_address.city}} {%if value.profile.billing_address.province%}{{value.profile.billing_address.province}}{%endif%} {{value.profile.billing_address.postal_code}}<br>{{value.profile.billing_address.country}}</div>
		{%endif%}

	</div>

	<div>CONGRATULATIONS: Here are your winning bids from out auction.  Payment in full in U.S. Dollars is due upon receipt of this invoice.  Domestic shipping is by USPS Media Mail; Priority Mail overseas.  Please allow 3 to 4 weeks for packaging and delivery.  To pay by Visa or Mastercard, please sign below and return this form.  Thanks!</div>

	<div style="margin-top:15px; margin-bottom:25px;">
		<div style="margin-bottom:10px;">
			<div style="float:left; margin-right:15px">Card No. _________________________________</div> <div>Expiration date _______________________</div>
		</div>
		<div style="clear:both"></div>
		<div style="float:left; margin-right:15px">Visa or MC  _________</div> <div style="float:left; margin-right:15px">3 Digit Code (on back) _________</div><div>Signature ________________________</div>
		<div style="clear:both"></div>
	</div>

	<div id="reportDiv" class="reportTable">
		<div class="maxBidItem" style="font-weight:bold">Lot Id:</div>

		<div class="maxBidItem" style="font-weight:bold">Item name:</div>
		<div class="maxBidItem" style="font-weight:bold">Item artist:</div>
		<div class="maxBidItem" style="font-weight:bold">Amount bid:</div>
		<div class="clear"></div>
		<br><br>
		
		{%for winner in value.info.wonItems%}
			<div class="maxBidItem">{{winner.item.lot_id}}</div>
			<div class="maxBidItem">{{winner.item.name}}</div>
			<div class="maxBidItem">{{winner.item.artist}}</div>
			<div class="maxBidItem">${{winner.amount}}</div>
			<div class="clear"></div>
		{%endfor%}
		<div style="clear:both; padding-top:15px;">
			<hr >
			<div>Subtotal: ${{value.info.sum}}</div>
			{%if value.discount != 0%}
			<div>Discount: ${{value.discount}}</div>

			{%endif%}
			
				{%if value.invoice.tax%}
			<div>CA State Tax: ${{value.taxTotal}}</div>
			{%endif%}
			<div>Shipping: ${{value.shippingTotal}}</div>
		
			{%if value.previousBalance%}
			<div>Previous balance (as of {{value.balanceDate}}): ${{value.previousBalance}}</div>
			{%endif%}
			<div style="font-weight:bold">Total (please remit this amount): ${{value.orderTotal}}</div>
		</div>

	</div>


</div>

<span style="page-break-before: always;"> </span>
{%endfor%}

{%endblock%}
