{% extends "admin/audio/baseLetter.html" %}
 


{%block letter%}
<div>Hello {{info.profile.user.first_name}},</div><br>
<div>
	We're sorry, but you didn't win any records in our recent auction.  Here are the winning bids for the items you bid on.  Thanks for your bids, and better luck next time!
</div>

<br>
<div id="reportDiv" class="reportTable" style="font-weight:bold">
	<div style="float:left; width:75px;">Lot ID:</div>
	<div style="float:left; width:125px;">Label:</div>
	<div style="float:left; width:200px; margin-right:10px">Title:</div>
	<div style="float:left; width:175px;">Winning Bid:</div>

	<div class="clear" style="clear:both"></div>
	

	<br><br>	
	{%for item in info.winningBids%}
	<div style="font-weight:normal">
		<div style="float:left; width:75px;">{{item.item.lot_id}}</div>
		<div style="float:left; width:125px;">{{item.item.label.abbreviation}}</div>
		<div style="float:left; width:200px; margin-right:10px">{{item.item.name}}</div>
		<div style="float:left; width:175px;">${{item.amount}}</div>
		<div style="clear:both"></div>
		</div>
	{%endfor%}

</div>
<br><br>
<div>If you would like to receive notifications through email instead, please review your account settings at: www.thoseoldrecords.com/audio/accounts/settings/</div>
<br><br>
<div>Thank you for participating!</div>
<span style="page-break-before: always;"> </span>
{%endblock%}


