{% extends "admin/audio/baseReport.html" %}
 

{%block info%}


<div id="reportDiv" class="reportTable">
	<div class="maxBidItem">Lot Id:</div>

	<div class="maxBidItem">Item name:</div>
	<div class="maxBidItem" style="width:200px">Winner email:</div>
	<div class="maxBidItem">Amount bid:</div>
	<div class="maxBidItem">Discount:</div>
	<div class="clear"></div>
	<br><br>
	
{%for winner in data.winners%}
<div class="tableInfoItem">
	<div class="maxBidItem">{{winner.item.lot_id}}</div>
	<div class="maxBidItem">{{winner.item.name}}</div>
	<div class="maxBidItem" style="width:200px;">{%if winner.user.email%}{{winner.user.email}}{%else%}&nbsp;{%endif%}</div>
	<div class="maxBidItem">${{winner.amount}}</div>
	<div class="maxBidItem">{%if winner.discount%}${{winner.discount}}{%endif%}</div>
	
	<div class="clear"></div>
	</div>
{%endfor%}

</div>




{%endblock%}
