{% extends "admin/audio/baseAdmin.html" %}
 

{%block content%}

<style type="text/css">

.runningTotal li {
   list-style:none;
   float:left;
   font-size:16px;
   width:250px;
}	

</style>
<div style="font-size:16px;">Total so far for auction <b>{{data.auction.name}}</b>: ${{data.total}} for {{data.bids|length}} items.</div>


<div style="margin-top:15px;" class="runningTotal">
	<div>These are the current max bids:</div>

	<div>
		<ul style="font-weight:bold">
			<li>LotId</li>
			<li>Title</li> 
			<li>Amount</li> 
			<li>User</li>
		</ul>
	</div>
	<div class="clear"></div>
	{%for bid in data.bids%}
	<div>
		<ul>
			<li>{{bid.item.lot_id}}</li>
			<li>{{bid.item.name}}</li> 
			<li>${{bid.amount}}</li> 
			<li>{{bid.user.first_name}} {{bid.user.last_name}}</li>
		</ul>
	</div>
	<div class="clear"></div>
	{%endfor%}
</div>
{%endblock%}
