{% extends "admin/audio/baseAdmin.html" %}
 

{%block content%}



<div>Invoices Auction: {{data.auctionId}}</div>
<input type="hidden" value="{{data.auctionId}}" name="auctionId" id="auctionId"> 
<div id="invoices">
{%for key,value in data.invoices.items%} 

	<div id="invoiceDiv_{{key}}" class="invoiceDivs" style="display:none">
		<div>Invoice for user: <a href="/admin/audio/invoice/{{key}}" target="_blank">{{value.bids.wonItems.0.user}}</a></div>
		{%if data.filtered == False%}
		<div>Take me to only invoices with no shipping entered yet <a href="/admin/shippingByInvoice/{{data.auctionId}}/filtered/">here</a></div>
		{%else%}
		<div>Take me to all invoices <a href="/admin/shippingByInvoice/{{data.auctionId}}/">here</a></div>
		{%endif%}

		<div id="reportDiv" class="reportTable">
			<div class="maxBidItem maxBidItemTitle">Lot ID:</div>
			<div class="maxBidItem maxBidItemTitle">Label:</div>
			<div class="maxBidItem maxBidItemTitle">Number:</div>
			<div class="maxBidItem maxBidItemTitle">Name:</div>
			<div class="maxBidItem maxBidItemTitle">Artist:</div>
			<div class="maxBidItem maxBidItemTitle">Winning Bid:</div>
			<div class="clear"></div>
			{%for winner in value.bids.wonItems%}
				<div class="maxBidItem">{{winner.item.lot_id}}</div>
				<div class="maxBidItem">{{winner.item.label.name}}</div>
				<div class="maxBidItem">{{winner.item.record_number}}</div>
				<div class="maxBidItem">{{winner.item.name}}</div>
				<div class="maxBidItem">{{winner.item.artist}}</div>
				<div class="maxBidItem">{{winner.amount}}</div>
				<div class="clear"></div>
			{%endfor%}
		</div>
		<br><br>
		<div id="invoice_{{key}}_msg"></div>
		<div>Shipping Country: {{value.country}}</div>
		<input type="text" value="{{value.shipping}}" id="invoiceShipping_{{key}}">
		<input type="submit" value="Save Shipping" id="submit_{{key}}">

	</div>
{%endfor%}
	<div>
	<br><br>   
	<div>#<span id="indexNum"></span> out of <span id="outOfNum"></span></div>
		<input type="button" id="btnLeft" value="&lt;&lt; Back" disabled="true" />
		<input type="button" id="btnRight" value="Next &gt;&gt;" />
		
		<input type="button" id="jumpToBtn" value="Jump to #:" />
		<input type="text" id="jumpTo" value="">
		
	</div>
     
</div>


<script type="text/javascript">

$( document ).ready(function() {

	index = 0;
	invoiceDivs = $(".invoiceDivs");
	if(invoiceDivs){
		if (invoiceDivs.length ==1){
			$("#btnLeft").attr("disabled",true)
			$("#btnRight").attr("disabled",true)
		}
		$(invoiceDivs[0]).css("display","block");
		
		$("#outOfNum").text(invoiceDivs.length)
		
		$("#indexNum").text(index+1)
		
	}else{
		$("#btnLeft").attr("disabled",true)
		$("#btnRight").attr("disabled",true)
	}
	

	$("#jumpToBtn").click(function(){

		val = $("#jumpTo").val()
		if (invoiceDivs.length ==1)
			return;

		if (invoiceDivs && val <= invoiceDivs.length){
			$(invoiceDivs[index]).css("display","none");
			index = val;
			$("#btnLeft").click();
		}

	})

	$("#btnLeft").click(function(){
		
		if(index == 1 )
			$(this).attr("disabled",true)
		else{
			$(this).attr("disabled",false)
		}

		if(index !=0)
			$("#btnRight").attr("disabled",false)

		$(invoiceDivs[index]).css("display","none");
		index--;	
		$(invoiceDivs[index]).css("display","block");
		$("#indexNum").text(index+1)

	})

	$("#btnRight").click(function(){
		
		if(index == invoiceDivs.length-2)
			$(this).attr("disabled",true)
		else{
			$(this).attr("disabled",false)
		}
		
		$(invoiceDivs[index]).css("display","none");
		index++;	
		$(invoiceDivs[index]).css("display","block");		
		$("#btnLeft").attr("disabled",false)
		$("#indexNum").text(index+1)

	})

	$('#invoices input[type="submit"]').click(function (data) {

		invoiceId = $(this).attr("id").substring(7);
		shipping = $("#invoiceShipping_"+invoiceId).val();

		var csrftoken = getCookie('csrftoken');
		ajaxSetup(csrftoken);

		$.ajax({
			type: "POST",
			url: "/admin/shippingByInvoice/"+ $("#auctionId").val() + "/",
			data:{"invoiceId":invoiceId, "shippingAmount": shipping},
			success: function(data) {
				if(data.success){
					$("#invoice_"+data.invoiceId+"_msg").removeClass("errorMsg")
					$("#invoice_"+data.invoiceId+"_msg").addClass("successMsg")
					$("#invoice_"+data.invoiceId+"_msg").text("Shipping successfully saved")
				}else{
					$("#invoice_"+data.invoiceId+"_msg").removeClass("successMsg")
					$("#invoice_"+data.invoiceId+"_msg").addClass("errorMsg")
					$("#invoice_"+data.invoiceId+"_msg").text("Shipping successfully saved")
	        	
				}


			},
			error: function (xhr, ajaxOptions, thrownError) {
	        	$("#msg").text("Something went wrong, this flat auction wasn't locked")
	        	return false;
			}
		});
		
	});

});
	
</script>

{%endblock%}
