{% extends "admin/audio/baseReport.html" %}
 

{%block info%}
<div>These people bid won an item:</div>

<div id="reportDiv" class="reportTable">
	<div class="maxBidItem">ID:</div>
	<div class="maxBidItem">Last Name:</div>
	<div class="maxBidItem">First Name:</div>
	<div class="maxBidItem">Zip Code:</div>
	<div class="clear"></div>
	<br><br>
	
{%for winner in data.winningBids%} 
	<div class="maxBidItem"><a href="/admin/getInvoices/{{data.auctionId}}/{{winner.id}}/" target="_blank">{{winner.id}}</a></div>
	<div class="maxBidItem">{{winner.last_name}}</div>	
	<div class="maxBidItem">{{winner.first_name}}</div>	
	<div class="maxBidItem">{{winner.zipcode}}</div>
	<div class="clear"></div>
{%endfor%}

</div>




{%endblock%}
