
body{
   font-family: 'Roboto Slab', serif !important;
   height: 100%

   
}

.pagebreak { page-break-before: always; } // page-break-after works, as well

.bodyClass{background-image: url('/static/audio/images/grayBackground.jpg') !important;}

.clear{
   clear: both;
}

.left{
   float: left;
}

.right{
   float: right;
}

.headerLeft a:hover, .headerLeft a:focus{
   color: white;
}


.subMenuBox{
   float:left;
   color:white;
}

.clickable{
   cursor: pointer;
}

label{
   font-weight: normal !important;
}

#main{
max-width:1000px; margin: 0 auto;
padding-top: 25px;
height:auto;
overflow: auto;
}

.catalogBox:nth-child(even) {
   background: #CCC;
   padding-top:10px;
}

#content{
   
   height:100%;

}

.errorlist{
   color:red;
}

.tableHeader div{
   
}

.tableBody div{
   
}

.cat_tips li{
   margin-bottom: 10px;
}

.ruleHeader{
   font-weight: bold;
   text-decoration: underline;

}


#header{
   padding-top:20px;
   padding-right:20px;
   height:85px;
   padding-bottom:15px;

}

.ruleFirst, .ruleSecond, .ruleThird{
   float:left;
   margin-right:15px;
}

.ruleThird{
   clear:right;
}

.rulesFirst, .rulesSecond, .rulesThird{
   display:inline-block;
   width:33%;
}

.rulesThird{
   clear:right;
}



/*
#header div{
   float:right;
   clear:right;
}*/

.headerActive{
   background-color: #e7f3f9;
   background-image: linear-gradient(to bottom, #e7f3f9, #ceebf5);
   border-radius: 0.3em;
   padding:0.4em 0.8em;
}

.headerActive:hover{
   border: 1px solid white !important;
   color: #1b75bb !important;
}

.headerLink{

   margin-right:50px;
   float:left;
}

.headerLeft{
   margin: 0 auto; float:left;
   padding-left:20px;

}


.headerLink a{
      color: #1b75bb;
      border: 1px solid white;
      padding:0.4em 0.8em;

}

.headerLink a:hover{
   background-color: #fff;
   border: 1px solid #e7f3f9;
   border-radius: 0.3em;  
   text-decoration: none;
   color:#0b458b;
}

#profileList a{
   padding:0.4em 0.8em;
   border: 1px solid transparent !important;
}

#profileList a:hover{
   border: 1px solid #1b75bb !important;
   border-radius: 0.3em;  
   text-decoration: none;
   padding:0.4em 0.8em;

}


.header{
   font-size:22px;
   font-weight: bold;
}



.sideDiv{
   width:27%; margin:0 auto; float:left;
}

/*
.headerLink:hover a{
   color: #445f64;
   text-decoration: none;
}
*/


.simpleSuccess{
   color:green;
}

.catalogItem, .catalogItemInfo{
   cursor: pointer;
   color: blue;
   float: left;
}

.bidSubmitButton{
   cursor: pointer;
   padding: 10px 30px;
   background-color: red;
   float: left;
}

.category{
   float: left;
   width: 50px;
}

.catalogBox{
   margin-bottom: 20px;
}

.successMsg{
   color:green;
   font-size:18px;
}

#shippingForm label, #billingForm label, #userInfoDiv label{
   width:100px;
}


.successError{
   color:red !important;
   font-size:18px;
}

#itemInfoError{
   color:red !important;
}

.itemInfoDetail{
   font-weight: bold;
}


.button, input[type="submit"] {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:hover, input[type="submit"]:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }


#simpleFormPage label{
   width:75;
}

.rulesOL li{
   margin-bottom: 10px;
}
.rulesHeaderItem{
   float:left;
   width:33%;
}
.rulesHeaderItem a{
   cursor: pointer;
}

#loginForm label{
   width:80px !important;
}

#homeTxt{
   width:50px;
   margin-left:60px;
   color:#428bca !important;

}

#homeTxt:hover{
   color:#428bca !important;
}

#footer{
   height:75px;

}

#footerInner{
   max-width:1000px; margin: 0 auto;
}