<html>
<body>
<h1><font face="Arial">You have a new bid submission</font></h1>
<p><font face="Arial">Here is the information submitted:</font></p> 
<table border="0" bgcolor="#C0C0C0" cellspacing="1" cellpadding="10">
    <tr>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">Name:</font></td> 
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">$FIRST_NAME $LAST_NAME</font></td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">Email Address:</font></td> 
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">$email</font></td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">Phone Number:</font></td>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">$PHONE</font></td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">Address:</font></td>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">$ADDRESS1, $ADDRESS2<br>
          $CITY, $STATE&nbsp; $ZIP<br>$COUNTRY</font></td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">Comments:</font></td>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">$COMMENTS</font></td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">Bids:</font></td>
        <td bgcolor="#FFFFFF" valign="top"><font face="Arial">LOT#________RECORD#_____BID AMT</font><br><font face="Arial">$MYBIDS</font></td>
    </tr>
</table>
<p />
</font>
</body>
</html>
