{% extends "catalogBase.html" %}



{% block top %}
	{%if not bids%}
		<div>You have no bids currently, visit our <a href="../../catalog">catalog</a> to bid!</div>
	{%else%}
		{%if success%}<div class="successMsg" style="text-align:center">Your bid has been successfully submitted.</div>{%endif%}
	<DIV style="text-align:center; font-size:26px; font-weight:bold; margin-bottom:10px;">Your current bids:</DIV>
	{%endif%}
{%endblock%}

{%if bids%}
	{%block info%}

		{% for bid in bids %}
			{%with item=bid.item%}
				{% include "innerCatalog.html" %}
			{%endwith%}

		{% endfor %}
	{%endblock%}

{%else%}
	{%block table%}{%endblock%}
{%endif%}




		<!--

		<div class="left" style="width:100px; margin-top:5px;">
			<div class="left" style="width:10px; margin-top:2px;">$</div>
			<form autocomplete="off">
			<input type="text" value="{{ bid.amount }}" id="bidAmount_{{bid.item.id}}" style="width:75px"></form>
		</div>
		<div class="left" style="width:100px;"><button class="button" value="Update Bid" onclick="submitBid({{bid.item.id}})">Update Bid</button></div>
		
		<form class="left" method="POST" action="/audio/catalog/deleteBid">
		 {% csrf_token %}
			<input type ="hidden" name="itemId" value="{{bid.item.id}}">
			<input type="submit" class="bidSubmitButton" value="Delete Bid">
		</form>

	</div>
	-->
	


{%block extra%}
	<script type="text/javascript">


		$(document).ready(function(){

			$(".headerLink").removeClass("headerActive")
			$("#accountLink").addClass("headerActive")

			
		})
	</script>

	<style type="text/css">
		#pageBottom{display: none;}
	</style>
	{%endblock%}