{% extends "base.html" %}
{% load audio_extras %}

{% block content %}
<div id="itemPopup" title="Item Info"></div>
<div id="auctionDescription" title="Auction Info">{{data.auction.description}}</div>
{%block top%}



<div style="margin-bottom:15px;">
	
	<div class="sideDiv">
		<div style="font-weight:bold">Table of contents:</div>
		<div class="leftMenu" id="" ><a href="/audio/catalog" style="{%if not category%}color:black{%endif%}">All</a></div>
		
		{%for cat in categories%}
			<div class="leftMenu" id="category_{{cat.id}}" ><a href="?category={{cat.id}}" style="{%if category.id == cat.id %}color:black{%endif%}">{{cat}}</a></div>
		{%endfor%}
	</div>
	
	<div style="text-align:center; float:left; margin:0 auto; width:44%">
		<div id="msg" style="color:red; font-weight:bold; font-size:18px;"></div>
		{%if success%}<div class="successMsg">Your bid has been successfully submitted.</div>{%endif%}

		<div class="" style="font-weight:bold; font-size:26px;
		">
			<div>"{{data.auction.name}}" Catalog</div> 
			<div style="font-size:18px;">Closes {{data.auction.end_date|date:"M d, Y" }}  <a style="margin-left:10px; cursor:pointer" id="moreAuctionInfo">More Info</a></div>
			
			{%if not loggedIn%}
				<div class="successError">You must log in to bid.</div>
			{%endif%}
			
		</div>



		<div style="">Please review our <a  href="/audio/rules">rules page</a> before entering bids.</div>
		{%if total > 1%}
		<div>
			<ul id="pagination" class="pagination-sm" style="margin-bottom:10px;"></ul>
			<div>
			<ul class="pagination-sm pagination" style="margin-top:10px">
				<li class="page" style="float:left"><input type="text" id="jumpTo" style="width:40px; height:29px; margin-left:7px; border:1px solid #ddd; color:#999" value="#"></li>
				<li class="page"><a id="jumpToLink" style="font-size: 12px; padding: 5px 10px; margin-left:5px; border-bottom-right-radius: 3px; border-top-right-radius: 3px;color:#428bca; background:white; border:1px solid #ddd; cursor:pointer">Go to Page</a></li>
				<li class="page"><a id="jumpToLotLink" style="font-size: 12px; padding: 5px 10px; margin-left:5px; border-bottom-right-radius: 3px; border-top-right-radius: 3px;color:#428bca; background:white; border:1px solid #ddd; cursor:pointer">Go to Lot #</a></li>
			</ul></div>


		</div>
		{%endif%}
		<div style="margin-top:0px;">
		
			<ul class="pagination-sm pagination" style="margin-top:10px">
				<li class="page" style="float:left"><input type="text" id="searchInput" style="width:140px; height:29px; margin-left:7px; border:1px solid #ddd; color:#999" value=""></li>
				<li class="page"><a id="searchBox" style="font-size: 12px; padding: 5px 10px; margin-left:5px; border-bottom-right-radius: 3px; border-top-right-radius: 3px;color:#428bca; background:white; border:1px solid #ddd; cursor:pointer">Search</a></li>
			</ul>	
		</div>
	</div>
	<div class="sideDiv" style="float:right">
		<div style="font-weight:bold">Tips:</div>
		<ul class="cat_tips">
			<li><div>You can view, edit or delete your submitted bids <a href="/audio/accounts/bids">here</a></div></li>
			<li>
				<div style="font-size:14px;">You can sort by lot ID, title or artist by clicking on the corresponding header</div></li>
			{%if loggedIn%}
			<li>
				<div>Use the <a href="/audio/catalog/simpleForm/">simple bid form</a> to enter bids manually.</div>
			</li>
			{%endif%}
			<li>
				<div>Click on an item's lot # for more information.</div>
			</li>
			<li><div>Click on the small image in the left column to enlarge it.</div></li>
		</ul>
	</div>

	<div class="clear"></div>
</div>
{%if data.search%}
<div style="font-size:16px;"><b>Showing resuts for search: "{{data.search}}"</b></div>
{%endif%}
<hr style="border:1px solid black">

{%endblock%}


{%block table%}
<!-- item table -->
<div id="tableRight" style="margin-left:auto; margin-right:auto; " class="">
	{%if category%}
		<div style="font-size:16px; margin-bottom:15px; "><u style="font-weight:bold">{{category.name}}</u>: {{category.description}} <u style="font-weight:bold; ">Minimum Bid: ${{category.min_bid}}</u></div>
	{%endif%}
	<div class="innerRight">
		<div class="tableHeader" style="font-weight:bold; margin-bottom:10px">
			<div class="left" style="width:{%if sort == 'lotAsc' or sort == 'lotDesc' %}50px{%else%}70px{%endif%};">&nbsp;</div>	
			<div style="width:{%if sort == 'lotAsc' or sort == 'lotDesc' %}65px{%else%}45px{%endif%}; " class='left clickable {%if sort == "lotAsc"%}orderAsc{%endif%}' id="lotIdHeader">{%if sort == "lotAsc"%}&#9650;{%else%}{%if sort == "lotDesc"%}&#9660;{%endif%}{%endif%} Lot:</div>
			<div class="left" style="width:110px">Label & Rec#:</div>
			<div  style="width:190px; margin-right:7px;" id="nameHeader" class='left clickable {%if sort == "nameAsc"%}orderAsc{%else%}{%if sort == "-name"%}orderDesc{%endif%}{%endif%}'>{%if sort == "nameAsc"%}&#9650;{%else%}{%if sort == "nameDesc"%}&#9660;{%endif%}{%endif%} Title:</div>
			<div  style="width:180px; margin-right:7px;" id="artistHeader" class='left  clickable {%if sort == "artistAsc"%}orderAsc{%else%}{%if sort == "artistDesc"%}orderDesc{%endif%}{%endif%}'>{%if sort == "artistAsc"%}&#9650;{%else%}{%if sort == "artistDesc"%}&#9660;{%endif%}{%endif%} Artist:</div>
			<div style="float:left">Condition:</div>
			<div class="clear"></div>
		</div>
	</div>

	
	{%block info%}{%endblock%}


	<div class="clear"></div>	
</div>
{%endblock%}

{%if total > 1%}
<div style="text-align:center" id="pageBottom">
			<ul id="pagination2" class="pagination-sm" style="margin-bottom:10px;"></ul>
			<div>
			<ul class="pagination-sm pagination" style="margin-top:10px">
				<li class="page" style="float:left"><input type="text" id="jumpTo2" style="width:40px; height:29px; margin-left:7px; border:1px solid #ddd; color:#999" value="#"></li>
				<li class="page"><a id="jumpToLink2" style="font-size: 12px; padding: 5px 10px; margin-left:5px; border-bottom-right-radius: 3px; border-top-right-radius: 3px;color:#428bca; background:white; border:1px solid #ddd; cursor:pointer">Go to Page</a></li>
				<li class="page"><a id="jumpToLotLink2" style="font-size: 12px; padding: 5px 10px; margin-left:5px; border-bottom-right-radius: 3px; border-top-right-radius: 3px;color:#428bca; background:white; border:1px solid #ddd; cursor:pointer">Go to Lot #</a></li>
			</ul></div>

		</div>
<div style="margin-top:20px;">&nbsp;</div>

{%endif%}
<div class="clear"></div>


{%block script%}

<script type="text/javascript">
	$(document).ready(function(){
		 	
		 jump = $.urlParam("jump")
		 if (jump)
		 	console.log(jump)

		 if({{total}} > 1){



		 $('#pagination').twbsPagination({
		        totalPages: {{total}},
		        startPage:{{number}},
		        onPageClick: function (event, page) {
		        	
		        	window.location="?page="+page+"{%if category%}&category={{category.id}}{%endif%}{%if sort%}&sort={{sort}}{%endif%}"
		        }
		    });

		 	$('#pagination2').twbsPagination({
		        totalPages: {{total}},
		        startPage:{{number}},
		        onPageClick: function (event, page) {

		        	window.location="?page="+page+"{%if category%}&category={{category.id}}{%endif%}{%if sort%}&sort={{sort}}{%endif%}"
		        }
		    });

		 }

		$("#lotIdHeader").click(function(){
			if(!$(this).hasClass("orderAsc"))
				window.location="?sort=lot_id{%if category%}&category={{category.id}}{%endif%}{%if page%}&page={{page}}{%endif%}"

			else
				window.location="?sort=lotDesc{%if category%}&category={{category.id}}{%endif%}{%if page%}&page={{page}}{%endif%}"
				
		})

		$("#nameHeader").click(function(){
			if($(this).hasClass("orderAsc"))
				window.location="?sort=nameDesc{%if category%}&category={{category.id}}{%endif%}{%if page%}&page={{page}}{%endif%}"
			else
				window.location="?sort=nameAsc{%if category%}&category={{category.id}}{%endif%}{%if page%}&page={{page}}{%endif%}"
		})

		$("#artistHeader").click(function(){
			if($(this).hasClass("orderAsc"))
				window.location="?sort=artistDesc{%if category%}&category={{category.id}}{%endif%}{%if page%}&page={{page}}{%endif%}"
			else
				window.location="?sort=artistAsc{%if category%}&category={{category.id}}{%endif%}{%if page%}&page={{page}}{%endif%}"
		})



		$( "#itemPopup" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false, 
			//position:[200,0],
			width:"auto",
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$( "#auctionDescription" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false, 
			//position:[200,0],
			width:500,
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$("#jumpToLink").click(function(){
			page = $("#jumpTo").val()
			window.location="?page="+page+"{%if category%}&category={{category.id}}{%endif%}{%if sort%}&sort={{sort}}{%endif%}"
		})

		$("#jumpTo").focus(function(){
			$("#jumpTo").val("")			
		})

		$("#jumpToLink2").click(function(){
			page = $("#jumpTo2").val()
			window.location="?page="+page+"{%if category%}&category={{category.id}}{%endif%}{%if sort%}&sort={{sort}}{%endif%}"
		})

		$("#jumpTo2").focus(function(){
			$("#jumpTo2").val("")			
		})

		$("#jumpToLotLink").click(function(){
			lotId = $("#jumpTo").val()
			window.location="?jump="+lotId+"{%if category%}&category={{category.id}}{%endif%}#lot" + lotId
		})

		$("#jumpToLotLink2").click(function(){
			lotId = $("#jumpTo2").val()
			window.location="?jump="+lotId+"{%if category%}&category={{category.id}}{%endif%}#lot" + lotId
		})

		$("#moreAuctionInfo").click(function(){
			$( "#auctionDescription" ).dialog("open", "position", "center");
		})

		$("#searchBox").click(function(){
			lotId = $("#searchInput").val()
			window.location="?search="+lotId+"{%if category%}&category={{category.id}}{%endif%}"
		})


	})
</script>

{% endblock %}

{%block extra%}
{%endblock%}

{%endblock%}
