{% extends "base.html" %}
{% load audio_extras %}

{% block content %}
<div id="itemPopup" title="Item Info"></div>

<div style="margin-bottom:15px;">
	
	<div class="sideDiv">
		<div style="font-weight:bold">Table of contents:</div>
		<div class="leftMenu" id="" ><a href="/audio/catalog" style="{%if not category%}color:black{%endif%}">All</a></div>
		
		{%for cat in categories%}
			<div class="leftMenu" id="category_{{cat.id}}" ><a href="?category={{cat.id}}" style="{%if category == cat.id %}color:black{%endif%}">{{cat}}</a></div>
		{%endfor%}
	</div>
	
	<div style="text-align:center; float:left; margin:0 auto; width:46%">
		<div id="msg" style="color:red; font-weight:bold; font-size:18px;"></div>
		{%if success%}<div class="successMsg">Your bid has been successfully submitted.</div>{%endif%}

		<div class="" style="font-weight:bold; font-size:26px;
		">
			<div>Our current catalog:</div> 
			
			{%if not loggedIn%}
				<div class="successError">You must log in to bid.</div>
			{%endif%}
			
		</div>

		<div style="">Please review our <a  href="/audio/rules">rules page</a> before entering bids.</div>

		<ul id="pagination" class="pagination-sm"></ul>
	</div>
	<div class="sideDiv" style="float:right">
		<div style="font-weight:bold">Tips:</div>
		<ul>
			<li>
				<div style="font-size:14px;">You can sort by lot ID, name or artist by clicking on the corresponding header</div></li>
			{%if loggedIn%}
			<li>
				<div>Click <a href="simpleForm">here</a> to enter bids manually.</div>
			</li>
			{%endif%}
			<li>
				<div>Click on an item's lot # for more information.</div>
			</li>
		</ul>
	</div>

	<div class="clear"></div>
</div>

<hr style="border:1px solid black">


<div id="tableRight" style="margin-left:auto; margin-right:auto; " class="left">
	<div class="innerRight">
		<div class="tableHeader" style="font-weight:bold">
			<div class="left" style="width:55px;">&nbsp;</div>	
			<div style="width:70px;" class='left clickable {%if sort == "lot_id"%}orderAsc{%endif%}' id="lotIdHeader">{%if sort == "lot_id"%}&#9650;{%endif%} Lot:</div>
			<div class="left" style="width:105px">Label & Rec#:</div>
			<div  style="width:250px" id="nameHeader" class='left clickable {%if sort == "nameAsc"%}orderAsc{%else%}{%if sort == "-name"%}orderDesc{%endif%}{%endif%}'>{%if sort == "nameAsc"%}&#9650;{%else%}{%if sort == "nameDesc"%}&#9660;{%endif%}{%endif%} Name:</div>
			<div  style="width:230px" id="artistHeader" class='left  clickable{%if sort == "artistAsc"%}orderAsc{%else%}{%if sort == "artistDesc"%}orderDesc{%endif%}{%endif%}'>{%if sort == "artistAsc"%}&#9650;{%else%}{%if sort == "artistDesc"%}&#9660;{%endif%}{%endif%} Artist:</div>
			
			<div class="clear"></div>
		</div>
	</div>

	{%for key, value in ordered.items%}
		<div style="font-size:16px; margin-bottom:10px; margin-top:20px;"><u style="font-weight:bold">{{value.0.category.name}}</u> {{value.0.category.description}}<u style="font-weight:bold; margin-left:10px;">Minimum Bid: ${{value.0.category.min_bid}}</u></div>
		{%for item in value%}
			<div class="catalogBox" style="{%if True%}{%endif%}">
		<div style="margin-top:7px; float:left" class="tableBody">
			<div class="catalogItem" style="float:left; width:50px; height:50px; margin-right:20px">
			{%if item.image%}
				{%if item.thumbnail%}<a href="{{STATIC_URL}}audio/images/{{item.image}}" target="_blank"><img src="{{STATIC_URL}}audio/images/{{item.thumbnail}}" width="50px" height="50px"></a>
				{%endif%}
			{%else%}
				{%if item.thumbnail%}<img src="{{STATIC_URL}}audio/images/{{item.thumbnail}}" width="50px" height="50px">
				{%endif%}
			{%endif%}
			</div> 
			<div class="quickLook" title="Min Bid: ${{item.min_bid}}" style="float:left; width:55px" id="quickLook_{{item.id}}"><div >{{item.lot_id}}</div></div> 
			<div class="category" style="float:left; width:105px">{{item.label.name}} {{item.record_number}}{%if item.record_number_two%}<br>{{item.label.name}} {{item.record_number_two}}{%endif%}</div>
			<div class="category" style="float:left; width:250px">{{item.name}} {%if item.name_two%}<br>{{item.name_two}}{%endif%}{%if item.notes%}<br>{{item.notes}}{%endif%}</div>
			<div class="category" style="float:left; width:230px">{{item.artist}}{%if item.artist_two%}<br>{{item.artist_two}}{%endif%}</div>
		</div>
		<div style="float:left">
			
			

			
		</div>

		<div class="clear"></div>	
	</div>
	{%endfor%}
	{%endfor%}
<div class="clear"></div>	
</div>




<div class="clear"></div>

<script type="text/javascript">
	$(document).ready(function(){
		 $('#pagination').twbsPagination({
		        totalPages: {{total}},
		        startPage:{{number}},
		        onPageClick: function (event, page) {
		        	window.location="?page="+page+"{%if category%}&category={{category}}{%endif%}{%if sort%}&sort={{sort}}{%endif%}"

		        	
		        }
		    });

		$("#lotIdHeader").click(function(){
			if(!$(this).hasClass("orderAsc"))
				window.location="?sort=lot_id{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
				
		})

		$("#nameHeader").click(function(){
			if($(this).hasClass("orderAsc"))
				window.location="?sort=nameDesc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
			else
				window.location="?sort=nameAsc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
		})

		$("#artistHeader").click(function(){
			if($(this).hasClass("orderAsc"))
				window.location="?sort=artistDesc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
			else
				window.location="?sort=artistAsc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
		})

		$(".headerLink").removeClass("headerActive")
		$("#catalogLink").addClass("headerActive")

		$( "#itemPopup" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false, 
			//position:[200,0],
			width:"auto",
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$(".quickLook").click(function(){
			var csrftoken = getCookie('csrftoken');
			ajaxSetup(csrftoken);
			item = $(this).attr("id").substring(10)
			

			$.ajax({
				type: "POST",
				url: "/audio/catalog/itemInfo/"+ item + "/",
				success: function(data) {
					$("#itemPopup").removeClass("successError")
					
					if(data.success){
						$("#itemPopup").html(data)
					}else{
						$("#itemPopup").html(data)
		        	
					}
					$( "#itemPopup" ).dialog("open", "position", "center");

				},
				error: function (xhr, ajaxOptions, thrownError) {
		        	$("#itemPopup").html("That is not a valid item.")
		        	$("#itemPopup").addClass("successError")
		        	$( "#itemPopup" ).dialog("open", "position", "center");
		        	return false;
				}
			});
			
			

			return false;
		})

	})
</script>

{% endblock %}