{% extends "base.html" %}
{% load audio_extras %}

{% block content %}
<div id="itemPopup" title="Item Info"></div>

<div style="margin-bottom:15px;">
	
	<div class="sideDiv">
		<div style="font-weight:bold">Table of contents:</div>
		<div class="leftMenu" id="" ><a href="/audio/catalog" style="{%if not category%}color:black{%endif%}">All</a></div>
		
		{%for cat in categories%}
			<div class="leftMenu" id="category_{{cat.id}}" ><a href="?category={{cat.id}}" style="{%if category == cat.id %}color:black{%endif%}">{{cat}}</a></div>
		{%endfor%}
	</div>
	
	<div style="text-align:center; float:left; margin:0 auto; width:46%">
		<div id="msg" style="color:red; font-weight:bold; font-size:18px;"></div>
		{%if success%}<div class="successMsg">Your bid has been successfully submitted.</div>{%endif%}

		<div class="" style="font-weight:bold; font-size:26px;
		">
			<div>Our current catalog:</div> 
			
			{%if not loggedIn%}
				<div class="successError">You must log in to bid.</div>
			{%endif%}
			
		</div>

		<div style="">Please review our <a  href="/audio/rules">rules page</a> before entering bids.</div>

		<ul id="pagination" class="pagination-sm"></ul>
	</div>
	<div class="sideDiv" style="float:right">
		<div style="font-weight:bold">Tips:</div>
		<ul class="cat_tips">
			<li>
				<div style="font-size:14px;">You can sort by lot ID, name or artist by clicking on the corresponding header</div></li>
			{%if loggedIn%}
			<li>
				<div>Click <a href="simpleForm">here</a> to enter bids manually.</div>
			</li>
			{%endif%}
			<li>
				<div>Click on an item's lot # for more information.</div>
			</li>
		</ul>
	</div>

	<div class="clear"></div>
</div>

<hr style="border:1px solid black">


<div id="tableRight" style="margin-left:auto; margin-right:auto; " class="left">
	<div class="innerRight">
		<div class="tableHeader" style="font-weight:bold">
			<div class="left" style="width:55px;">&nbsp;</div>	
			<div style="width:70px;" class='left clickable {%if sort == "lotAsc"%}orderAsc{%else%}{%if sort == "lotDesc"%}orderDesc{%endif%}{%endif%}' id="lotIdHeader">{%if sort == "lotAsc"%}&#9650;{%else%}{%if sort == "lotDesc"%}&#9660;{%endif%}{%endif%} Lot:</div>



			<div class="left" style="width:105px">Label & Rec#:</div>
			<div  style="width:250px" id="nameHeader" class='left clickable {%if sort == "nameAsc"%}orderAsc{%else%}{%if sort == "-name"%}orderDesc{%endif%}{%endif%}'>{%if sort == "nameAsc"%}&#9650;{%else%}{%if sort == "nameDesc"%}&#9660;{%endif%}{%endif%} Name:</div>
			<div  style="width:230px" id="artistHeader" class='left  clickable{%if sort == "artistAsc"%}orderAsc{%else%}{%if sort == "artistDesc"%}orderDesc{%endif%}{%endif%}'>{%if sort == "artistAsc"%}&#9650;{%else%}{%if sort == "artistDesc"%}&#9660;{%endif%}{%endif%} Artist:</div>
			
			<div class="clear"></div>
		</div>
	</div>


	{%for key, value in ordered.items%}
		
		{%ifequal key firstLibraryKey %}
			<div><u style="font-weight:bold; font-size:16px;">The Library</u> Books, sheet music, record storage albums and sleeves, needle tins and other accessories - it’s all here. <u style="font-weight:bold; font-size:16px;">Minimum Bids Indicated:</u></div>
		{%endifequal%}

		<div style="font-size:16px; margin-bottom:10px; margin-top:20px;"><u style="font-weight:bold">{{value.0.category.name}}</u> {{value.0.category.description}} {%if value.0.category.min_bid%}<u style="font-weight:bold;">Minimum Bid: ${{value.0.category.min_bid}}</u>{%endif%}</div>
		


		{%for item in value%}

		{%if item.prefix%}
			<div style="font-style:italic; margin-top:5px;">{{item.prefix}}</div>
		{%endif%}



			<div class="catalogBox" style="{%if True%}{%endif%}">
				<div style="margin-top:7px; float:left" class="tableBody">
				

					<div class="catalogItem" style="float:left; width:50px; height:50px; margin-right:20px">
					{%if item.image%}
						{%if item.thumbnail%}<a href="{{STATIC_URL}}audio/images/{{item.image}}" target="_blank"><img src="{{STATIC_URL}}audio/images/{{item.thumbnail}}" width="50px" height="50px"></a>
						{%endif%}
					{%else%}
						{%if item.thumbnail%}<img src="{{STATIC_URL}}audio/images/{{item.thumbnail}}" width="50px" height="50px">
						{%endif%}
					{%endif%}
					</div> 
					<div class="quickLook" title="Min Bid: ${{item.min_bid}}" style="float:left; width:55px" id="quickLook_{{item.id}}"><div >{{item.lot_id}}</div></div> 
					
					{%ifequal item.item_type.name "Book"%}
						<div class="category" style="float:left; width:565px; margin-right:20px;"><u>{{item.name}}</u> by {{item.artist}}. {{item.notes}}</div>
					{%else%}
						
						<div class="category" style="float:left;  margin-right:10px; width:565px">						<div style="float:left; width:95px">
								{%if not item.label%}&nbsp;{%else%}
								{{item.label.abbreviation}} {{item.record_number}}{%endif%}
							</div>
							<div style="float:left; width:240px">{{item.name}}  
								<div>{%if item.notes%}<div style="float:left">{{item.notes}}</div>{%endif%}</div>
							</div>
							
							<div style="float:left; width:230px;">{{item.artist}}</div>
							
						</div>

						{%if item.name_two%}
						<div class="clear"></div>
						<div style="width:125px; float:left">&nbsp;</div>
							<div class="category" style="float:left; width:565px;  margin-right:10px;">
								<div style="float:left; width:95px">{%if item.record_number_two%}
								{{item.label.abbreviation}} {{item.record_number_two}}{%else%}&nbsp;{%endif%}</div>
								{%if item.name_two%}<div style="float:left; width:240px">{{item.name_two}}</div>{%endif%}
								<div style="float:left; width:230px;">{%if item.artist_two%}{{item.artist_two}}{%endif%}</div>
							</div>

						{%endif%}

						<!--

						<div class="category" style="float:left; width:95px; margin-right:10px;">
							{%if not item.label%}&nbsp;{%else%}
							{{item.label.abbreviation}} {{item.record_number}}{%if item.record_number_two%}<br>{{item.label.abbreviation}} {{item.record_number_two}}{%endif%}{%endif%}</div>
						
						<div class="category" style="float:left; width:240px;  margin-right:10px;">
							<div>{{item.name}} </div>
							{%if item.name_two%}<div style="margin-top:5px;">{{item.name_two}}</div>{%endif%}
							{%if item.notes%}<div style="">{{item.notes}}</div>{%endif%}
						</div>
						


						<div class="category" style="float:left; width:230px">{{item.artist}}{%if item.artist_two%}<br>{{item.artist_two}}{%endif%}</div>
						-->
					{%endifequal%}
					<div class="clear"></div>
				</div>


<!--
				<div style="float:left">
			
			{%if not loggedIn%}
			{%else%}

				{%if bids|get_item:item.id == None %}
					
					<div class="left" style="width:100px; margin-top:5px;">
						<div class="left" style="width:10px; margin-top:2px;">$</div>
						<form autocomplete="off">
						<input type="text" name="bidAmount_{{item.id}}" value="" id="bidAmount_{{item.id}}" style="width:75px"></form>
					</div>
					<div class="left" style="width:100px;"><button onclick="submitBid({{item.id}})" class="button" >Enter Bid</button></div>
				
				{%else%}
						
					<div class="left" style="width:100px; margin-top:5px;">
						<div class="left" style="width:10px; margin-top:2px;">$</div>
						<form autocomplete="off">
						<input type="text" value="{{ bids|get_item:item.id }}" id="bidAmount_{{item.id}}" style="width:75px"></form>
					</div>
					<div class="left" style="width:100px;"><button class="button" value="Update Bid" onclick="submitBid({{item.id}})">Update Bid</button></div>
					
					<form class="left" method="POST" action="/audio/catalog/deleteBid">
					 {% csrf_token %}
						<input type ="hidden" name="itemId" value="{{item.id}}">
						<input type="submit" class="bidSubmitButton" value="Delete Bid">
					</form>

				{%endif%}
			{%endif%}

			
		</div>
		-->

		<div class="clear"></div>

	

			
	</div>
	{%endfor%}
	{%endfor%}



<div class="clear"></div>	
</div>




<div class="clear"></div>

<script type="text/javascript">
	$(document).ready(function(){
		 $('#pagination').twbsPagination({
		        totalPages: {{total}},
		        startPage:{{number}},
		        onPageClick: function (event, page) {
		        	window.location="?page="+page+"{%if category%}&category={{category}}{%endif%}{%if sort%}&sort={{sort}}{%endif%}"

		        	
		        }
		    });

		$("#lotIdHeader").click(function(){
			if($(this).hasClass("orderAsc"))
				window.location="?sort=lotDesc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
			else

				window.location="?sort=lotAsc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
				
		})

		$("#nameHeader").click(function(){
			if($(this).hasClass("orderAsc"))
				window.location="?sort=nameDesc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
			else
				window.location="?sort=nameAsc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
		})

		$("#artistHeader").click(function(){
			if($(this).hasClass("orderAsc"))
				window.location="?sort=artistDesc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
			else
				window.location="?sort=artistAsc{%if category%}&category={{category}}{%endif%}{%if page%}&page={{page}}{%endif%}"
		})

		$(".headerLink").removeClass("headerActive")
		$("#catalogLink").addClass("headerActive")

		$( "#itemPopup" ).dialog({
			resizable: false,
			modal: true,
			autoOpen: false, 
			//position:[200,0],
			width:"auto",
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});

		$(".quickLook").click(function(){
			var csrftoken = getCookie('csrftoken');
			ajaxSetup(csrftoken);
			item = $(this).attr("id").substring(10)
			

			$.ajax({
				type: "POST",
				url: "/audio/catalog/itemInfo/"+ item + "/",
				success: function(data) {
					$("#itemPopup").removeClass("successError")
					
					if(data.success){
						$("#itemPopup").html(data)
					}else{
						$("#itemPopup").html(data)
		        	
					}
					$( "#itemPopup" ).dialog("open", "position", "center");

				},
				error: function (xhr, ajaxOptions, thrownError) {
		        	$("#itemPopup").html("That is not a valid item.")
		        	$("#itemPopup").addClass("successError")
		        	$( "#itemPopup" ).dialog("open", "position", "center");
		        	return false;
				}
			});
			
			

			return false;
		})

	})
</script>

{% endblock %}