{% extends "base.html" %}
{% load audio_extras %}

{% block content %}

Our current catalog:<br>
Lot:<br>


{%for item in catItems%}
<div class="catalogBox">
	<div id="{{item}}" class="catalogItem">{{item}}</div> 
	<div class="category">{{item.category.name}}</div>
	<form class="left" method="POST" action="/audio/catalog/submitBid">
	 {% csrf_token %}
		<input type="text" name="bidAmount">
		<input type ="hidden" name="itemId" value="{{item}}">
		<input type="submit" class="bidSubmitButton" value="Submit Bid">
		<input type="hidden" name="isUpdate" value="True">
	</form>
{%if bids|get_item:item %}
	<div class="left">{{ bids|get_item:item }}</div>
	{%endif%}
	<div class="clear"></div>	
</div>

{%endfor%}

{% endblock %}