{% extends "catalogBase.html" %}

{% block info %}
 

	{%for key, value in ordered.items%}
		
		{%ifequal key firstLibraryKey %}
			<div><u style="font-weight:bold; font-size:16px;">The Library</u> Books, sheet music, record storage albums and sleeves, needle tins and other accessories - it’s all here. <u style="font-weight:bold; font-size:16px;">Minimum Bids Indicated:</u></div>
		{%endifequal%}

		<div style="font-size:16px; margin-bottom:10px; margin-top:20px;"><u style="font-weight:bold">{{value.0.category.name}}</u> {{value.0.category.description}} {%if value.0.category.min_bid%}<u style="font-weight:bold;">Minimum Bid: ${{value.0.category.min_bid}}</u>{%endif%}</div>
		


		{%for item in value%}
			{% include "innerCatalog.html" %}
		{%endfor%}
	{%endfor%}



{% endblock %}

{%block extra%}
<script type="text/javascript">


	$(document).ready(function(){

		$(".headerLink").removeClass("headerActive")
		$("#catalogLink").addClass("headerActive")
	})
</script>
{%endblock%}