{% extends "base.html" %}


{% block content %}
<div>

  {%if success%}
  <div class="simpleSuccess">You have successfully updated your contact info.</div>
  {%endif%}

  <form action="" method="post" id="contactForm" autocomplete="off">
    {% csrf_token %}

    <div style="float:left">
      <div style="font-size:14px; font-weight:bold; height:50px;">Shipping Address:</div>

      <div id="shippingForm">

          {{ data.shippingForm.as_p }}
      
      </div>


      {% if data.billingForm.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
    </div>


  <div style="float:left; margin-left:50px;">
    <div style="font-size:14px; font-weight:bold; height:50px"><div>Billing Address:</div>
      
    <input type="checkbox" name="sameAddress" id="sameAddress" {%if data.sameAddress%}checked{%endif%}> <span>My billing address is the same as my shipping address</span>
    </div>


   <div  id="billingForm">
      
        {{ data.billingForm.as_p }}
       
    </div>


    {% if data.shippingForm.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-error">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-error">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}


  </div> 
  </form>

  <div class="clear"></div>
  <button id="addressSave" class="button">Save contact info</button>
  <div class="clear"></div>

</div>
<div class="clear"></div>

<script type="text/javascript">
  


  $( document ).ready(function() {
  //todo fix for already filled out
    
    //$('#billingForm #id_country').val('USA');
    if($("#sameAddress").is(':checked')){
        $("#billingForm").hide()
    }

    $("#sameAddress").change(function(){
      
      if($("#sameAddress").is(':checked')){
        $("#billingForm").hide()
      }else{
        $("#billingForm").show()
      }
    
    })

    $("#addressSave").click(function(){
      $("#contactForm").submit()

    })


    $(".headerLink").removeClass("headerActive")
    $("#accountLink").addClass("headerActive")

    
  })
  

</script>


{% endblock %}