{% extends "catalogBase.html" %}



{%block top%}

<div id="endAuction-confirm" title="Please Confirm">Are you sure you want to end your auction?  You will no longer be able to create/edit/delete bids without contacting us directly.</div>
<div id="itemPopup" title="Item Info"></div>

<div style="margin-bottom:15px;">
	
	<div class="sideDiv" style="display:block; width:30%">
		<img src="http://www.thoseoldrecords.com/hmv.gif" width="275px">
		
		
	</div>
	
	<div style="text-align:center; float:left; margin:0 auto; width:39%">
		<div id="msg" style="color:red; font-weight:bold; font-size:18px;"></div>
		{%if success%}<div class="successMsg">Your bid has been successfully submitted.</div>{%endif%}

		<div class="" style="font-weight:bold; font-size:26px;
		">
			<div>The blind auction has ended.<br>These items were not sold:</div> 

		</div>

		<div style="">Please review our <a  href="/audio/rules">rules page</a> before entering bids.</div>
		
	
		
		<div id="endAuctionMsg"></div>
		<ul id="pagination" class="pagination-sm"></ul>
	</div>
	<div class="sideDiv" style="float:right; width:30%">
		<div style="font-weight:bold">Tips:</div>
		<ul class="cat_tips">
			
			<li>
				<div>View current <a href="/audio/accounts/bids">Set Sale bids</a>.</div>
			</li>
			<li>
				<div>Each item costs ${{auction.flat_bid_amount}} unless otherwise marked.</div>
			</li>
			
			<li>
				<div>Click on an item's lot # for more information.</div>
			</li>
			<li>
				<div>You can close your bidding for this auction & we will start preparing your items to ship <a onclick="openDialog('endAuction-confirm')">here</a>.</div>
			</li>
		</ul>
	</div>

	<div class="clear"></div>
</div>

<hr style="border:1px solid black">

{%endblock%}





	{%block info%}
	{%for item in catItems%}
		{% include "innerCatalog.html" %}
	{%endfor%}
	{% endblock %}
	



{%block extra%}
	<script type="text/javascript">


		$(document).ready(function(){

			$( "#endAuction-confirm" ).dialog({
				resizable: false,
				height:240,
				modal: true,
				autoOpen: false, 
				buttons: {
					"End Auction": function() {
						endMyAuction("{{auctionId}}", "{{user.id}}")
						
						$( this ).dialog( "close" );
					},
				Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});

			$(".headerLink").removeClass("headerActive")
			$("#catalogLink").addClass("headerActive")

		})

		
	</script>

	<style type="text/css">
		#pageBottom{display: none;}
	</style>
	{%endblock%}

