{% extends "catalogBase.html" %}




{%if ended%}
	<div style="font-weight:bold; font-size:26px; text-align:center">You have no current bids.</div>
{%else%}

{% block top %}

<div style="font-weight:bold; font-size:26px; text-align:center">Your current Set Sale bids:</div>
	
	<div id="msg" style="color:red; font-weight:bold; font-size:18px; "></div>
	{%if endAuctionOption%}
		<div id="endAuction-confirm" title="Please Confirm">Are you sure you want to end your auction?  You will no longer be able to create/edit/delete bids without contacting us directly.</div>
		<div style="margin-bottom:20px;">
			<div style=" text-align:center">
				<div>You may close your bidding for this auction and we will start preparing your items to ship.</div>
				<div style="">You will no longer be able to create/edit/delete bids without contacting us directly.  <a onclick="openDialog('endAuction-confirm')">End My Auction.</a></div>
			</div>
			
			<div id="endAuctionlMsg"></div>
		</div>
	{%endif%}

	<hr style="border:1px solid black">

{%endblock%}

{%block info%}

	{% for bid in bids %}
		{%with item=bid.item%}
		{% include "innerCatalog.html" %}
		{%endwith%}
	
		

	{% endfor %}
{%endblock%}

{%endif%}

{%block extra%}
	<script type="text/javascript">


		$(document).ready(function(){

			$(".headerLink").removeClass("headerActive")
			$("#accountLink").addClass("headerActive")

			$( "#endAuction-confirm" ).dialog({
				resizable: false,
				height:240,
				modal: true,
				autoOpen: false, 
				buttons: {
					"End Auction": function() {
						endMyAuction("{{auctionId}}", "{{user.id}}")
						
						$( this ).dialog( "close" );
					},
				Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});

			$( "#EMA_BTN" ).click(function() {
	    		$( "#endAuction-confirm" ).dialog( "open" );
	    	})

		    

  
		})
	</script>

	<style type="text/css">
		#pageBottom{display: none;}
	</style>
	{%endblock%}

