{% load audio_extras %}
{% load thumbnail %}

	{%if item.prefix%}
		<div style="font-style:italic; margin-top:5px;">{{item.prefix}}</div>
	{%endif%}



	<div class="catalogBox" style="{%if True%}{%endif%}" id="lot{{item.lot_id}}">
		

		<!--  Image and quick look item id  -->
		<div style="float:left">
			<div class="catalogItem" style="float:left; width:50px; height:50px; margin-right:20px">
				{%if item.image%}
					{%if item.thumbnail%}<a href="{{STATIC_URL}}audio/images/{{item.image}}" target="_blank"><img src="{{STATIC_URL}}audio/images/{{ item.image|thumbnail_url:'avatar' }}" width="50px" height="50px"></a>
					{%endif%}
				{%else%}
					{%if item.thumbnail%}<img src="{{STATIC_URL}}audio/images/{{ item.image|thumbnail_url:'avatar' }}" width="50px" height="50px">
					{%endif%}
				{%endif%}
			</div> 
			<div class="quickLook" title="Min Bid: ${{item.min_bid}}" style="float:left; width:45px" id="quickLook_{{item.id}}">

				<div >{{item.lot_id}}</div>
			</div> 
		</div>

		<!-- item info -->
		<div style="margin-top:0px; float:left; " class="tableBody">
					
			{%ifequal item.item_type.name "Book"%}
				<div class="category" style="float:left; width:565px; margin-right:20px;"><u>{{item.name}}</u> by {{item.artist}}. {{item.notes}}</div>
			{%else%}
				
				<div class="category" style="float:left;  width:565px">						
					<div style="float:left; width:105px; margin-right:7px;">
						{%if not item.label%}&nbsp;{%else%}
						{{item.label.abbreviation}} {{item.record_number}}{%endif%}
					</div>
					<div style="float:left; width:190px; margin-right:7px;">•{{item.name}}  
						<div>{%if item.notes%}<div style="float:left">{{item.notes}}</div>{%endif%}</div>
					</div>
					
					<div style="float:left; width:180px; margin-right:7px;">{{item.artist}}{%if not item.artist%}&nbsp;{%endif%}</div>
					<div style="float:left;">{{item.condition}} {%if item.defect%}{{item.defect}} {%endif%}</div>
				</div>

				{%if item.name_two%}
					<div class="clear"></div>
					<div class="category" style="float:left; width:565px;  margin-right:10px; margin-top:5px;">
						<div style="float:left; width:105px; margin-right:5px;">{%if item.record_number_two%}
						{{item.label.abbreviation}} {{item.record_number_two}}{%else%}&nbsp;{%endif%}</div>
						{%if item.name_two%}<div style="float:left; width:190px; margin-right:7px;">•{{item.name_two}}<div>{%if item.notes_two%}<div style="float:left">{{item.notes_two}}</div>{%endif%}</div></div>{%endif%}
						<div style="float:left; width:180px; margin-right:7px">{%if item.artist_two%}{{item.artist_two}}{%endif%}</div>
						
					</div>

				{%endif%}


			{%endifequal%}
			<div class="clear"></div>
		</div>

		<!-- Bid buttons -->
		<div style="float:left">
			
			{%if not loggedIn%} 
			{%else%}


				{%if data.flat%}

					<!-- Flat bids page -->
					{%if data.bidPage%}
					<form class="left" method="POST" action="/audio/catalog/deleteBid" style="margin-left:30px;">
					 {% csrf_token %}
						<input type ="hidden" name="itemId" value="{{bid.item.id}}">
						<input type="submit" class="bidSubmitButton" value="Delete Bid">
					</form>
					
					{%else%}

					<!-- Flat catalog page-->
					<div style="float:left; margin-left:30px;">
						<input type ="hidden" name="itemId" value="{{item.id}}">
						<button onclick="submitBid({{item.id}})" class="button">Enter ${{item.min_bid|floatformat:0}} Bid</button>
					
					</div>

					{%endif%}

				{%else%}	

					<!-- blind bids page -->
					{%if data.bidPage%}

						<div class="left" style="width:100px; margin-top:5px;">
							<div class="left" style="width:10px; margin-top:2px;">$</div>
							<form autocomplete="off">

							<input type="text" value="{{ bid.amount }}" id="bidAmount_{{bid.item.id}}" style="width:75px"></form>
						</div>
						<div class="left" style="width:100px;"><button class="button" value="Update Bid" onclick="submitBid({{bid.item.id}})">Update Bid</button></div>
						
						<form class="left" method="POST" action="/audio/catalog/deleteBid">
						 {% csrf_token %}
							<input type ="hidden" name="itemId" value="{{bid.item.id}}">
							<input type="hidden" name="bidPage" value="true">
							<input type="submit" class="bidSubmitButton" value="Delete Bid">
						</form>

					{%else%}

						{%if bids|get_item:item.id == None %}
							
							<div class="left" style="width:85px; margin-top:5px;">
								<div class="left" style="width:10px; margin-top:2px;">$</div>
								<form autocomplete="off">
								<input type="text" name="bidAmount_{{item.id}}" value="" id="bidAmount_{{item.id}}" style="width:60px"></form>
							</div>
							<div class="left" style="width:100px;"><button onclick="submitBid({{item.id}})" class="button" >Enter Bid</button></div>
						
						{%else%}
								
							<div class="left" style="width:85px; margin-top:5px;">
								<div class="left" style="width:10px; margin-top:2px;">$</div>
								<form autocomplete="off">
								<input type="text" value="{{ bids|get_item:item.id }}" id="bidAmount_{{item.id}}" style="width:60px"></form>
							</div>
							<div class="left" style="width:100px;"><button class="button" value="Update Bid" onclick="submitBid({{item.id}})">Update Bid</button></div>
							
							<form class="left" method="POST" action="/audio/catalog/deleteBid">
							 	{% csrf_token %}
								<input type ="hidden" name="itemId" value="{{item.id}}">
								<input type="submit" class="bidSubmitButton" value="Delete Bid">
							</form>

						{%endif%}
					{%endif%}
				{%endif%}
			{%endif%}

			
		</div>
		
		<div class="clear"></div>
			
	</div>