{% load audio_extras %}

	{%if item.prefix%}
		<div style="font-style:italic; margin-top:5px;">{{item.prefix}}</div>
	{%endif%}



	<div class="catalogBox" style="{%if True%}{%endif%}">
		

		<!--  Image and quick look item id  -->
		<div style="float:left">
			<div class="catalogItem" style="float:left; width:50px; height:50px; margin-right:20px">
				{%if item.image%}
					{%if item.thumbnail%}<a href="{{STATIC_URL}}audio/images/{{item.image}}" target="_blank"><img src="{{STATIC_URL}}audio/images/{{item.thumbnail}}" width="50px" height="50px"></a>
					{%endif%}
				{%else%}
					{%if item.thumbnail%}<img src="{{STATIC_URL}}audio/images/{{item.thumbnail}}" width="50px" height="50px">
					{%endif%}
				{%endif%}
			</div> 
			<div class="quickLook" title="Min Bid: ${{item.min_bid}}" style="float:left; width:55px" id="quickLook_{{item.id}}">

				<div >{{item.lot_id}}</div>
			</div> 
		</div>

		<!-- item info -->
		<div style="margin-top:0px; float:left; " class="tableBody">
					
			{%ifequal item.item_type.name "Book"%}
				<div class="category" style="float:left; width:565px; margin-right:20px;"><u>{{item.name}}</u> by {{item.artist}}. {{item.notes}}</div>
			{%else%}
				
				<div class="category" style="float:left;  margin-right:10px; width:565px">						
					<div style="float:left; width:90px; margin-right:5px;">
						{%if not item.label%}&nbsp;{%else%}
						{{item.label.abbreviation}} {{item.record_number}}{%endif%}
					</div>
					<div style="float:left; width:240px">•{{item.name}}  
						<div>{%if item.notes%}<div style="float:left">{{item.notes}}</div>{%endif%}</div>
					</div>
					
					<div style="float:left; width:230px;">{{item.artist}}</div>
					
				</div>

				{%if item.name_two%}
					<div class="clear"></div>
					<div class="category" style="float:left; width:565px;  margin-right:10px; margin-top:5px;">
						<div style="float:left; width:90px; margin-right:5px;">{%if item.record_number_two%}
						{{item.label.abbreviation}} {{item.record_number_two}}{%else%}&nbsp;{%endif%}</div>
						{%if item.name_two%}<div style="float:left; width:240px">•{{item.name_two}}</div>{%endif%}
						<div style="float:left; width:230px;">{%if item.artist_two%}{{item.artist_two}}{%endif%}</div>
					</div>

				{%endif%}

			{%endifequal%}
			<div class="clear"></div>
		</div>

		<!-- Bid buttons -->
		<div style="float:left">
			
			{%if not loggedIn%}
			{%else%}

				{%if bids|get_item:item.id == None %}
					
					<div class="left" style="width:100px; margin-top:5px;">
						<div class="left" style="width:10px; margin-top:2px;">$</div>
						<form autocomplete="off">
						<input type="text" name="bidAmount_{{item.id}}" value="" id="bidAmount_{{item.id}}" style="width:75px"></form>
					</div>
					<div class="left" style="width:100px;"><button onclick="submitBid({{item.id}})" class="button" >Enter Bid</button></div>
				
				{%else%}
						
					<div class="left" style="width:100px; margin-top:5px;">
						<div class="left" style="width:10px; margin-top:2px;">$</div>
						<form autocomplete="off">
						<input type="text" value="{{ bids|get_item:item.id }}" id="bidAmount_{{item.id}}" style="width:75px"></form>
					</div>
					<div class="left" style="width:100px;"><button class="button" value="Update Bid" onclick="submitBid({{item.id}})">Update Bid</button></div>
					
					<form class="left" method="POST" action="/audio/catalog/deleteBid">
					 	{% csrf_token %}
						<input type ="hidden" name="itemId" value="{{item.id}}">
						<input type="submit" class="bidSubmitButton" value="Delete Bid">
					</form>

				{%endif%}
			{%endif%}

			
		</div>
		
		<div class="clear"></div>
			
	</div>