{% extends "base.html" %}


{% block content %}


<div>We're improving our auctioning system!  The old bid sheet is no longer available, to bid on Auction #144 please email us at hawthorn@thoseoldrecords.com.  </div>

<div style="margin-top:20px">For this test auction and any future auctions, you still have the ability to forgo the new online catalog by using our simple bids form.  This is very similar to the old online bit sheet but even simpler!  Just login to your account and go to the <a href="http://thoseoldrecords.com/audio/catalog/simpleForm">simple bid page</a> or click on the link from the online catalog.  Just enter the amount you wish to bid and the lotId and click submit!  It's that easy!  You can then see all your bids on your <a href="http://thoseoldrecords.com/audio/accounts/bids/">account bid page</a> and edit or delete any bid you wish until the closing of the auction.</div>


{% endblock %}