{% extends "base.html" %}


{% block content %}


<div class="successError" id="errorMsg" style="display:none"></div>
<div class="successMsg" id="successMsg" style="display:none">Your password has been reset.  Please check your email.</div>


 <form action="" method="post">
    {% csrf_token %}
      <div style="margin-bottom:20px;">Enter account email address:<input type="text" name="email" id="email" style="margin-left:10px;"></div>
      <input type="submit" value="Reset Password" class="bidSubmitButton">
  </form>

<script type="text/javascript">
  $(document).ready(function(){


  })
</script>
{% endblock %}