{% extends "base.html" %}


{% block content %}

{%if data.success%}
<div class="successMsg" id="successMsg">Your password has been reset.  Please check your email.</div>
{%endif%}


{%if data.errorMsg%}
<div class="successError" id="errorMsg">{{data.errorMsg}}</div>
{%endif%}


 <form action="" method="post">
    {% csrf_token %}
      <div style="margin-bottom:20px;">Enter account email address:<input type="text" name="email" id="email" style="margin-left:10px;"></div>
      <input type="submit" value="Reset Password" class="bidSubmitButton">
  </form>

<script type="text/javascript">
  $(document).ready(function(){


  })
</script>
{% endblock %}