{% extends "base.html" %}
{% load audio_extras %}

{% block content %}


<div style="text-align:center; font-size:18px; margin-bottom:20px;">
	<div class="rulesHeaderItem">
		<span >Rules</span> 
	</div>
	<div class="rulesHeaderItem"><a href="/audio/conditionCodes">Condition Codes</a> </div>
	<div class="rulesHeaderItem"> <a  href="/audio/labelAbbreviations">Label Abbreviations</a></div>
	<div class="clear"></div>
</div>

<div class="clear"></div>
<div style=" margin: 0 40px; margin-bottom:40px;">
	
	<div><b>THIS IS A STRAIGHT BID AUCTION:  NO BUYER’S PREMIUM, NO BID REDUCTION, NO TOPPING OR HIGH/LOW BIDS, NO TRADES, NO EXCEPTIONS.  WHAT YOU BID IS WHAT YOU PAY.</b></div>

	<div style="margin-top:15px;"><b>BID SUBMISSION:</b> Shortly after the closing date, all winning bidders will receive an invoice for the total amount of their winnings.  We will also send each bidder a report of items bid on but not won, and the winning bid for each.  You may submit your bids in any of the following ways:</div>


	<div class="rulesOL">
		<ol>
			<li><div class="ruleHeader">Direct Bids.</div> This brand new feature allows you to bid directly from the auction catalog displayed on your computer screen.  It is fun, foolproof, and extremely easy to use. You may add, change or delete your bids anytime, and you will always be able to see a current list of the items you have bid on.  You can view the catalog <a href="/audio/catalog">here</a>.</li>
			
			<li><div class="ruleHeader">Email Bids.</div> We are no longer using our electronic eBid sheet. The new Direct Bids feature allows you to manually input your bids if you wish , and they will go directly to the auction database.  To get to manual bid input, go to the <a href="/audio/catalog/simpleForm">simple form page</a>.</li>

			<li><div class="ruleHeader">Written Bids.</div> Please use the bid sheet found in the printed auction catalog or print out <a href="/static/audio/pdf/bidsheet PDF.pdf">this copy</a> from our website.  Handwritten bids on odd scraps of paper can cause data entry errors.</li>

			<li><div class="ruleHeader">Phone or Fax Bids.</div> We accept bids either way, but these methods are not always reliable.  Phone messages can be garbled and faxes hard to read.  Last minute bidders should avoid bidding this way.</li>


			<li><div class="ruleHeader">Minimum bids.</div> A minimum bid is specified for each section of the auction and is effective for all items in that section with a few exceptions:
				<ul>
					<li>The printed catalog: NMB means there is no minimum bid on a particular item.  An MB followed by a number means the minimum bid is higher or lower.  (Example:  MB7 = $7.00).</li>
					<li>Online catalog: each item has its individual minimum bid listed in the info section (click on the lot # on the catalog).</li>
				</ul>
			</li>
			<li>
			<div class="ruleHeader">Conditional bids.</div> We can accept conditional bids, "either/or" bids, and you may set a limit on your winnings. Please keep the conditions simple and be sure to indicate them clearly on the bid sheet. Sorry, but we can not accept percentage, high/low, or "topping" bids.
			</li>
			<li>
				<div class="ruleHeader">Modifying or withdrawing bids.</div> You may modify or withdraw any of your bids anytime before the closing date of the auction. However, we do not disclose the status of any bid.  You can edit/delete bids made online on the <a href="/audio/accounts/bids">bids</a> page.
			</li>
			<li><div class="ruleHeader">Payments.</div> We accept Visa, Mastercard and Paypal. Full payment for your winnings is required within 30 days of the date of the invoice. If we don't hear from you within that time, your records will be offered to other bidders or returned to our inventory and your name will be removed from our mailing list.</li>

			<li><div class="ruleHeader">Holding winnings.</div> If you win only a few records, we can hold your winnings upon request and ship them with winnings from a future auction. We must receive full payment, less postage, plus any sales tax before records can be put on hold. Please note we will not hold records longer than 12 months.</li>
		</ol>
	</div>

	<div><b>SHIPPING:</b> Shipping charges include sturdy mailing boxes, new packing material, and postage at the Media Mail rate (records and books) or Parcel Post rate (other items) in the USA and Air Mail overseas. All parcels are insured against loss or breakage. Alternate shipping methods quoted upon request only.
	</div>

	<div>
		<ol>
			<li><div class="ruleHeader">USA:</div> Minimum $6.00 per parcel, up to two pounds. Additional shipping charges will be based on increased postage costs as well as additional packing material needed for larger shipments.</li>
			<li><div class="ruleHeader">Canada and Overseas:</div> Shipping cost varies with each country. Overseas parcels weighing less than 4 pounds and valued below $100 receive the best postage rate. All parcels are sent Air Mail.
			</li>
		</ol>
	</div>

	<div>In the unlikely event of your shipment being damaged, please contact us immediately. <span style="text-decoration:underline">Do not return any items to us without our authorization and do not discard anything.</span> All shipments are fully covered for loss or damage, and with your cooperation we will gladly make sure you receive full reimbursement.</div>

	<div style="margin-top:15px;"><span style="font-weight:bold">CUSTOMERS OUTSIDE THE USA</span> - you may be charged import duties based on the value of your shipment. We are sorry if this increases your cost, but we do not declare reduced values as we must comply with United States Customs regulations. Thank you for your cooperation.</div>

	<div style="margin-top:15px;"><b>PERSONAL CHECKS, MONEY ORDERS, VISA,  MASTERCARD and PAYPAL are welcome for payment.</b>  A space is provided on your invoice for your credit card information and your signature.  Please fax or mail your signed invoice to us or send us a confirmation by email.  We particularly encourage credit card or PayPal payments from overseas customers, as it eliminates the problems of currency exchange and allows us to make shipments faster.  Sorry, we do not accept American Express.</b>

	<div style="margin-top:15px;"><b>TIE BIDS ARE DECIDED BY THE EARLIEST BID RECEIVED.</b> The closing date is at the top of page one. Be sure to get your bids in early, as this increases your chances of winning and makes our work a lot easier. It also eliminates the possibility of a last minute fax or letter failing to get through on time.</div>
	
	<div style="margin-top:15px;"><b>AUCTION MAILING POLICY</b>. We send our printed auction catalogs by regular mail and PDF catalogs by email, and you may choose whichever you prefer.  PDF catalogs are always free, and your name will stay on our email list unless you request us to remove it.  Printed catalogs are free to active bidders or by subscription for less active bidders.  Subscription rates are below:
	</div>

	<div style="margin-left:20px; margin-top:10px;">$10.00 for three issues sent to a USA, APO or FPO address </div>
	<div style="margin-left:20px;">$20.00 for three issues sent to an overseas address</div>

	<div style="margin-top:20px;">Please visit our website and turn to the <a href="/recauc.html">Record Auctions</a> page for more detailed information.</div>

</div>

{% endblock %}