{% extends "base.html" %}
{% load audio_extras %}

{% block content %}

<div style=" margin: 0 40px;">
	
	<div><b>THIS IS A STRAIGHT BID AUCTION: NO BUYER’S PREMIUM, NO BID REDUCTION, NO TOPPING OR HIGH/LOW BIDS, NO TRADES, NO EXCEPTIONS. WHAT YOU BID IS WHAT YOU PAY.</b></div>

	<div style="margin-top:15px;"><b>BIDDING RULES:</b> First of all, <b>SAVE THIS LIST!</b> Shortly after the closing date, all winning bidders will receive an invoice for the total amount of their winnings. We will also send each bidder a report of items bid on but not won, and the winning bid for each. You will need this list to refer to the lot numbers. </div>


	<div>
		<ol>
			<li><div class="ruleHeader">If you’re bidding by mail, please use the bid sheet.</div> Bids on odd scraps of paper can cause data entry errors. If you need more room than the bid sheet provides, please use a second sheet of paper.</li>
			<li><div class="ruleHeader">Minimum bids.</div> A minimum bid is specified for each section of the auction and is effective for all items in that section unless otherwise noted. NMB means there is no minimum bid on a particular item. MB followed by a number means the minimum bid is higher or lower. (Example: MB7 means that the minimum bid is $7.00).</li>
			<li>
			<div class="ruleHeader">Conditional bids.</div> We can accept conditional bids, "either/or" bids, and you may set a limit on your winnings. Please keep the conditions simple and be sure to indicate them clearly on the bid sheet. Sorry, but we can not accept percentage, high/low, or "topping" bids.
			</li>
			<li>
				<div class="ruleHeader">Modifying or withdrawing bids.</div> You may modify or withdraw any of your bids anytime before the closing date of the auction. However, we do not disclose the status of any bid.
			</li>
			<li><div class="ruleHeader">Payments.</div> We accept Visa, Mastercard and Paypal. Full payment for your winnings is required within 30 days of the date of the invoice. If we don't hear from you within that time, your records will be offered to other bidders or returned to our inventory and your name will be removed from our mailing list.</li>

			<li><div class="ruleHeader">Holding winnings.</div> If you win only a few records, we can hold your winnings upon request and ship them with winnings from a future auction. We must receive full payment, less postage, plus any sales tax before records can be put on hold. Please note we will not hold records longer than 12 months.</li>
		</ol>
	</div>

	<div><b>SHIPPING:</b> Shipping charges include sturdy mailing boxes, new packing material, and postage at the Media Mail rate (records and books) or Parcel Post rate (other items) in the USA and Air Mail overseas. All parcels are insured against loss or breakage. Alternate shipping methods quoted upon request only.
	</div>

	<div>
		<ol>
			<li><div class="ruleHeader">USA:</div> Minimum $6.00 per parcel, up to two pounds. Additional shipping charges will be based on increased postage costs as well as additional packing material needed for larger shipments.</li>
			<li><div class="ruleHeader">Canada and Overseas:</div> Shipping cost varies with each country. Overseas parcels weighing less than 4 pounds and valued below $100 receive the best postage rate. All parcels are sent Air Mail.
			</li>
		</ol>
	</div>

	<div>In the unlikely event of your shipment being damaged, please contact us immediately. Do not return any items to us without our authorization and do not discard anything. All shipments are fully covered for loss or damage, and with your cooperation we will gladly make sure you receive full reimbursement.</div>

	<div style="margin-top:15px;"><span style="font-weight:bold">CUSTOMERS OUTSIDE THE USA</span> - you may be charged import duties based on the value of your shipment. We are sorry if this increases your cost, but we do not declare reduced values as we must comply with United States Customs regulations. Thank you for your cooperation.</div>


	<div style="margin-top:15px;"><span style="font-weight:bold">GRADING AND CONDITION CODES</span> All records are graded in the following manner. The record is assigned an overall condition grade, and then it is examined again for any specific defects. All records are graded by sight, with aural grading used in uncertain cases. We grade conservatively, but if you feel a record does not meet its assigned grade, let us know. Your satisfaction is guaranteed. <span class="ruleHeader">Sorry, no adjustments on items graded “poor”.</span></div>

	<div style="margin-top:15px;">
		<span style="text-decoration:underline">These grading codes apply to the overall condition of the record:</span>
		<div>e = excellent, nearly new, minor defects only, plays loud and clear.</div>
		<div>v = very good, above average, a little wear and a few scuffs, plays well.</div>
		<div>g = good, average for its age, audible scratches and wear, plays OK but noisy. </div>
		<div>f = fair, below average, heavy wear or scratches, plays with difficulty.</div>
		<div>p = poor, barely playable if at all, offered for visual interest only.</div>
		<div>(+) = a little better (-) = a little worse</div>
	</div>

	<div style="margin-top:15px;">
		<span style="text-decoration:underline">These grading codes apply to specific defects, regardless of overall condition:</span>
		<div style="font-style:italic">The following defects are cosmetic only, and are not audible:</div>
		<div class="ruleFirst">
			<div>sol - sticker on label</div>
			<div>ldm - label damaged</div> 
		</div>
		<div class="ruleSecond">
			<div>wol - writing on label</div>
			<div>ulc - under label crack</div>
		</div> 
		<div class="rulesThird">
			<div>nrl - needle run on label</div> 
			<div>shf - spindle hole flake</div>
		</div>	
	</div>

	<div style="margin-top:15px;">
		<div style="font-style:italic">The following defects may cause an audible sound but should not affect tracking:</div>
		<div class="ruleFirst">
			<div>lam - lamination crack</div>	
			<div>gry - grey grooves</div>	
			<div>scr - scratch</div>	
			<div>ndr - needle run</div>	
		</div>
		<div class="ruleSecond">
			<div>hlc - hairline crack </div>	
			<div>grn - grainy surface </div>	
			<div>bbl - pressing bubble </div>	
			<div>wdm - water damage</div>	
		</div> 
		<div class="rulesThird">
			<div>crk - crack</div>	
			<div>hdm - heat damage </div>	
			<div>rst - rough start</div>	
			<div>scf - scuff</div>	
		</div>	
	</div>

	<div style="margin-top:15px;">
		<div style="font-style:italic">The following defects may cause mistracking, repeating or skipping grooves:</div>
		<div class="ruleFirst">
			<div>rch - rim chip </div>
			<div>rcr - radial crack </div>
		</div>
		<div class="ruleSecond">
			<div>rfl - rim flake</div>
			<div>pit - pit or needle drop</div>		
		</div> 
		<div class="rulesThird">
			<div>wrp - warp</div>
			<div>sco - scored grooves</div>
		</div>	
	</div>

	<div style="margin-top:15px;">
		<div style="font-style:italic">The following defects apply to cylinder records only:</div>
		<div class="ruleFirst">
			<div>spl - split</div>
		</div>
		<div class="ruleSecond">
			<div>pls - plaster missing</div>	
		</div> 
		<div class="rulesThird">
			<div>mld - mold</div>
		</div>	
	</div>

	<div style="margin-top:15px;">
		<div style="font-style:italic">These suffix codes indicate the extent of the defect:</div>
		<div class="ruleFirst">
			<div>s(1) - side (1) </div>
			<div>pot - potential </div>
		</div>
		<div class="ruleSecond">
			<div>(1)" - (1) inch</div>	
			<div>ntg - not to grooves</div>
		</div> 
		<div class="rulesThird">
			<div>(1)g - (1) groove</div>
			<div>nap - not affecting play</div>
		</div>	
	</div>

	<div style="margin-top:15px;">
		<div style="font-style:italic">The following cosmetic defects apply to albums, sleeves and covers:</div>
		<div class="ruleFirst">
			<div>soc - sticker on cover </div>
			<div>scs - split cover seam </div>
		</div>
		<div class="ruleSecond">
			<div>woc - writing on cover</div>
			<div>adm - album damaged </div>
		</div> 
		<div class="rulesThird">
			<div>toc - tape on cover </div>
			<div>sub - substitute album</div>
		</div>	
	</div>

	
	<div style="margin-top:15px;">Double face records reissued from earlier single face issues will show the original single face numbers, when known, in parenthesis after the listing. Example: (sf 1234/1235).</div>
		
	<div style="margin-top:15px;">Records reissued on a different label will show the original label and number, when known, in parenthesis after the listing. Example: (Victor 1234/1235).</div>


	<div>Label Abbreviations</div>

	<div style="margin-top:15px;">
		<div style="font-style:italic">The following cosmetic defects apply to albums, sleeves and covers:</div>
		<div class="ruleFirst">
			<div style="text-decoration:underline">Victor</div>
			<div>VicPD - pre-dog label </div>
			<div>VicMon - Monarch</div>
			<div>VicDlx - DeLuxe</div>
			<div>VicGP - Grand Prize </div>
			<div>VicGPI - Gr. Prize Import </div>
			<div>VicPat - patents label </div>
			<div>Victor - acoustic label </div>
			<div>VicScr - Victor scroll label </div>
			<div>VlaScr - Victrola scroll label </div>
			<div>VicCir - circular label</div>
			<div>RCA - RCA Victor</div>
		</div>
		<div class="ruleSecond">
			<div style="text-decoration:underline">Columbia</div> 
			<div>ColBS - black & silver </div> 
			<div>ColGP - Grand Prize </div> 
			<div>ColMN - Magic Notes</div> 
			<div>Col - acoustic label </div> 
			<div>ColBan - banner label </div> 
			<div>ColFlag - flag label </div> 
			<div>ColViva - Viva-Tonal </div> 
			<div>ColBW - blue wax pressing </div> 
			<div>ColFR - Full Range label </div> 
			<div>ColPW - pre-war label </div> 
			<div>ColCBS - CBS label</div> 
		</div> 
		<div class="rulesThird">
			<div style="text-decoration:underline">Gramophone</div>	
			<div>G&T - Gram. & Typewriter </div>	
			<div>GramPD - pre-dog label </div>	
			<div>GramCon - Concert label </div>	
			<div>GramMon - Monarch label </div>	
			<div>DPG - Disque Pour Gram. </div>	
			<div>DiscG - Disco Gramophono </div>	
			<div>SchG - Schallplatt Gram. </div>	
			<div>HMV - His Masters Voice </div>	
			<div>HMV2 - HMV Catalog #2 </div>	
			<div>VDP - Voce del Padrone </div>	
			<div>VDM - Voix de son Matrie</div>	
		</div>	
	</div>

	<div>NOTE: These codes apply to Victor recordings only: (A) - A stamper (Z) - Z shellac</div>
	
	<div style="margin-top:15px;">
		<div class="ruleFirst">
			<div style="text-decoration:underline">Other Labels:</div>
			<div>B&W - Black & White</div>
			<div>BRS - British Rhythm Soc. </div>
			<div>Blbd - Bluebird</div>
			<div>BlbdBf - Buff Bluebird </div>
			<div>BlbdSt - Staff Bluebird </div>
			<div>Bruns - Brunswick </div>
			<div>BrunsBS - Black/Silver </div>
			<div>BrunsP - Brunswick Polydor</div> 
			<div>Comm - Commodore </div>
			<div>Conq - Conqueror</div>
			<div>CRS - Coll. Rec. Society </div>
			<div>DeccaSB - Decca Sunburst </div>
			<div>DGG - Deutsche Gram. </div>
			<div>EdBell - Edison Bell</div>
		</div>
		<div class="ruleSecond">
		<br>
			<div>Fono - Fonotipia</div>
			<div>FonoCol - Fono/Columbia </div>
			<div>GTJ - Good Time Jazz </div>
			<div>Gramm - Grammophon </div>
			<div>HistMast - Historic Master </div>
			<div>HisRS - Historic Rec. Soc. </div>
			<div>HJCA - Hot Jazz Club </div>
			<div>HotRS - Hot Record Soc. </div>
			<div>HOW - Hit of the Week </div>
			<div>IRCC - Int. Rec. Col. Club </div>
			<div>JoeDav - Joe Davis</div>
			<div>LW - Little Wonder</div>
			<div>NGS - Nat. Gram. Society </div>
			<div>NML - Nat. Music Lovers</div>
		</div> 
		<div class="rulesThird">
		<br>
			<div>OpDisc - Opera Disc </div>
			<div>Para - Paramount</div>
			<div>Parlo - Parlophone </div>
			<div>PatheA - Pathe Actuelle </div>
			<div>Silver - Silvertone</div>
			<div>Spec - Specialty</div>
			<div>Symp - Symposium</div>
			<div>Tech - Technichord</div>
			<div>Tele - Telefunken </div>
			<div>VelTone - Velvet Tone </div>
			<div>Voc - Vocalion</div>
			<div>VocB - Vocalion blue label </div>
			<div>VocRW - Voc Red Wax </div>
			<div>Zono - Zonophone</div>
		</div>	
	</div>

	<div style="margin-top:15px;">TIE BIDS ARE DECIDED BY THE EARLIEST BID RECEIVED. The closing date is at the top of page one. Be sure to get your bids in early, as this increases your chances of winning and makes our work a lot easier. It also eliminates the possibility of a last minute fax or letter failing to get through on time.</div>
	
	<div style="margin-top:15px;">AUCTION MAILING POLICY. Our policy is to send printed copies of our auction lists free to active bidders who maintain an average of $10.00 in winning bids per auction for three consecutive auctions. Less active bidders can receive the printed list by subscription at the following rates (all prices in US$)
	</div>

	<div>$10.00 for three issues sent to a USA, APO or FPO address </div>
	<div>$15.00 for three issues sent to a Canadian address</div>
	<div>$20.00 for three issues sent to an overseas address</div>

	<div>Please visit our website and turn to the “Record Auctions” page for more detailed information.</div>

</div>

{% endblock %}