{% extends "base.html" %}


{% block content %}

<div style="font-size:18px; margin-bottom:20px;">Manual bid entry for: <b>{{data.auction.name}}</b></div>
<div style="margin-bottom:20px;">You can view, edit or delete your submitted bids <a href="/audio/accounts/bids">here</a></div>
{%if success%}
<div class="simpleSuccess">Your bid has been submitted successfully.</div>
{%else%}
<div style="color:red; font-size:18px;">{{msg}}</div>

{%endif%}




{%if msg%}

{%endif%}

<div id="simpleFormPage">
  
 <form action="" method="post">
    {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit Bid" class="bidSubmitButton">
  </form>

</div>



{% endblock %}