{% extends "base.html" %}
{% load audio_extras %}

{% block content %}

<div>For temporary access to emai go to <a href="https://webmail.webfaction.com/">https://webmail.webfaction.com/</a>
<br>Username: tomhawthorn
<br>password: victor6
<br><br>
You'll be able to read and send mail that is going to hawthorn@thoseoldrecords.com.  I'll set up the other mailboxes too, they'll all just go to the same place.<br>
<br>
Outlook:  do these instructions:  <a href="http://docs.webfaction.com/user-guide/email_clients/outlook.html?highlight=outlook#outlook-com">http://docs.webfaction.com/user-guide/email_clients/outlook.html?highlight=outlook#outlook-com</a>
<br>With the following info:

<br>Name: whatever you want

<br>Email address:  hawthorn@thoseoldrecords.com
<br>victor6

<br><br>
Let me know if you have issues, you can just email me from the webmail link above.

<br><br>
We're live!


</div>

{% endblock %}
