{% extends "base.html" %}


{% block content %}
<div id="userInfoDiv">
{%if success%}
<div class="simpleSuccess">You have successfully updated your login information.</div>
{%endif%}

<div>Please note your login information is case sensitive</div>

 <form action="" method="post" autocomplete="off">
    {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save your login info">
  </form>

<div>Change your password <a href="/audio/accounts/changePassword">here</a>.</div>

</div>

{% endblock %}