{% extends "base.html" %}


{% block content %}
	{%if data.needEmail%}
	<div class="successError" style="text-align:center">We do not have your email on file, please fill it out <a href="/audio/accounts/userInfo">here</a> so we can send you a verification email.</div>
{%else%}
	{%if data.resent%}
		<div class="successMsg" style="text-align:center">We have resent you a confirmation email.</div>
	{%else%}

		{%if data.errorMsg%}
		<div class="successError" style="text-align:center">{{data.errorMsg}}</div>
		{%else%}
		<div class="successMsg" style="text-align:center">You have successfully verified your email address.  You may visit your profile <a href="/audio/accounts/profile">here</a> or view the catalog <a href="/audio/catalog">here</a>.</div>
	{%endif%}
{%endif%}

{%endif%}


{% endblock %}