{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
       <div class="app-auth module">
            <table>
                <caption>
                    <a title="Models in the Auth application" class="section" href="/admin/auth/">
                        Utilities
                    </a>
                </caption>
                <tbody>
                
                <tr class="model-group">           
                        <th scope="row"><a class="adminLink" onclick="goTo('addItemUrl/', null)"  >Add Items to Auction</a></th>                   
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>                      
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>     
                    </tr>
                <tr class="model-group">           
                        <th scope="row"><a class="adminLink" onclick="goTo('createUser/', null)"  >Add User</a></th>                   
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>    
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Adjust Lot IDS&auction=true&nextPage=adjustLotIds" target="_blank">Adjust Lot IDS</a></th>                   
                        <td>Auction ID:<input type="text" id="adjustLotIdsAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('adjustLotIds/', 'adjustLotIdsAuctionId')" >Go Quick</a></td>     
                    </tr>

                    
    


                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Bulk Consignment&auction=true&nextPage=bulkConsignment" target="_blank" target="_blank">Bulk Consignment</a></th>                   
                        <td>Auction ID:<input type="text" id="bulkConsignmentAuctionId" class="adminInput"></td>  
                        <td><a class="quick" onclick="goTo('bulkConsignment/', 'bulkConsignmentAuctionId')">Go Quick</a></td>     
                    </tr>

                     <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Create Bid&auction=true&nextPage=createBid"  target="_blank">Create Bid</a></th>                   
                        <td>Auction ID:<input type="text" id="createBidAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('createBid/', 'createBidAuctionId')">Go Quick</a></td>     
                    </tr>

                      <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Deal with Conditions&auction=true&nextPage=conditions" target="_blank">Deal with Conditions</a></th>                   
                        <td>Auction ID:<input type="text" id="conditionsAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('conditions/', 'conditionsAuctionId')" >Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=End Auction&auction=true&nextPage=endAuction" target="_blank">End Auction</a></th>                   
                        <td>Auction ID:<input type="text" id="endAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('endAuction/', 'endAuctionId')" >Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=End User's Set Sale&auction=true&nextPage=endSSAuction&user=true" target="_blank">End User's Set Sale</a></th>                   
                        <td>Auction ID:<input type="text" id="endSSAuctionId" class="adminInput"></td> 
                        <td>User ID:<input type="text" id="endSSUserId" class="adminInput"></td>
                        <td><a class="quick" onclick="goToEndSS()" >Go Quick</a></td>     
                    </tr>
                    
                     <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Item Printout&auction=true&nextPage=itemPrintOut" target="_blank">Item Printout</a></th>                   
                        <td>Auction ID:<input type="text" id="IOAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('itemPrintOut/', 'IOAuctionId')" >Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Mark Shipped in Bulk&auction=true&nextPage=markShipped" target="_blank">Mark Shipped Bulk</a></th>                   
                        <td>Auction ID:<input type="text" id="markShippedAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('markShipped/', 'markShippedAuctionId')" >Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Paid Invoices but not Shipped&auction=true&nextPage=paidNotShipped" target="_blank">Paid Not Shipped</a></th>                   
                        <td>Auction ID:<input type="text" id="paidNotShippedAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('paidNotShipped/', 'paidNotShippedAuctionId')" >Go Quick</a></td>     
                    </tr>

                    

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Print Record Labels&auction=true&nextPage=printRecordLabels" target="_blank">Print Record Labels</a></th>                   
                        <td>Auction ID:<input type="text" id="printRecordLabelsAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('printRecordLabels/', 'printRecordLabelsAuctionId')" >Go Quick</a></td>     
                    </tr>
                    <!--
                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" onclick="goTo('sendInvoices/', 'invoicesAuctionId')" >Email All Invoices</a></th>                   
                        <td>Auction ID:<input type="text" id="invoicesAuctionId" class="adminInput"></td>  
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>     
                    </tr> -->
                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Print/Email Invoices&auction=true&nextPage=invoices" target="_blank">Print/Email Invoices</a></th>                   
                        <td>Auction ID:<input type="text" id="invoicesAdminAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('invoices/', 'invoicesAdminAuctionId')">Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Print/Email Loser Letters&auction=true&nextPage=loserLetters" target="_blank">Print/Email Loser Letters</a></th>                   
                        <td>Auction ID:<input type="text" id="loserLetterAdminAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('loserLetters/', 'loserLetterAdminAuctionId')">Go Quick</a></td>     
                    </tr>
                    
                    <!--
                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=End Auction&auction=true&nextPage=endAuction"  >End Auction</a></th>                   
                        <td>Auction ID:<input type="text" id="endAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('endAuction/', 'endAuctionId')"></a></td>     
                    </tr>-->

                   
<!--
                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Email Admin&auction=true&nextPage=emailAdmin"  target="_blank">Email Admin</a></th>                   
                        <td>Auction ID:<input type="text" id="emailAdminAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('emailAdmin/', 'emailAdminAuctionId')">Go Quick</a></td>     
                    </tr> -->

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Running Total&auction=true&nextPage=runningTotal" target="_blank">Running Total</a></th>                   
                        <td>Auction ID:<input type="text" id="runningTotalAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('runningTotal/', 'runningTotalAuctionId')">Go Quick
                        </a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Set Discount&auction=true&invoice=true&nextPage=setDiscount"  target="_blank">Set Discount</a></th>                   
                        <td>Invoice ID:<input type="text" id="setDiscountInvoiceId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('setDiscount/', 'setDiscountInvoiceId')">Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Shipping By Invoice&auction=true&nextPage=shippingByInvoice&flat=true" target="_blank">Shipping by Invoice</a></th>                   
                        <td>Auction ID:<input type="text" id="shippingByInvoiceAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('shippingByInvoice/', 'shippingByInvoiceAuctionId')">Go Quick
                        </a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/userBreakdown" target="_blank">User breakdown</a></th>                   
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>  
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>     
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="app-auth module">
            <table>
                <caption>
                    <a title="Models in the Auth application" class="section" href="/admin/auth/">
                        Reports
                    </a>
                </caption>
                <tbody>

                <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="balances" target="_blank">Auction Balances</a></th>
                        <td><td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>  
                        <td><a class="addlink" href="/admin/audio/userprofile/add/"></a></td>     
                    </tr>
                <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Auction Summary&auction=true&nextPage=report"  target="_blank">Auction Summary</a></th>                   
                        <td>Auction ID:<input type="text" id="reportAuctionId" class="adminInput"></td>  
                        <td><a class="quick" onclick="goTo('report/', 'reportAuctionId')">Go Quick</a></td>     
                    </tr>
                <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Consignor Report&auction=true&nextPage=consignorReport" target="_blank">Consignor Report</a></th>
                        <td>Auction ID:<input type="text" id="consignorAuction" class="adminInput"></td>
                        <td>Consignor ID:<input type="text" id="consignorId" class="adminInput"></td>
                        <td><a class ="quick" onclick="goToConsignor()">Go Quick</a> </td>         
                    </tr>

                     <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Losers Report&auction=true&nextPage=losers" target="_blank">Losers Report</a></th>
                        <td>Auction ID:<input type="text" id="losersAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('losers/','losersAuctionId')">Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink"  href="/admin/filterAdminIndex?page=Unsold Items Report&auction=true&nextPage=unsoldItems" target="_blank">Unsold Items Report</a></th>
                        <td>Auction ID:<input type="text" id="unsoldItemsAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('unsoldItems/','unsoldItemsAuctionId')">Go Quick</a></td>     
                    </tr>

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=UserBalances&user=true&nextPage=userBalances"  target="_blank">User Balances</a></th>
                        <td>User ID:<input type="text" id="balanceUserId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('userBalances/','balanceUserId')">Go Quick</a></td>     
                    </tr>
                
                  

                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Winners Report&auction=true&nextPage=winners"  target="_blank">Winners Report</a></th>
                        <td>Auction ID:<input type="text" id="winnersAuctionId" class="adminInput"></td> 
                        <td><a class="quick" onclick="goTo('winners/','winnersAuctionId')">Go Quick</a></td>     
                    </tr>
                   
                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=Won Items Report&auction=true&nextPage=wonItems" target="_blank">Won Items Report</a></th>
                        <td>Auction ID:<input type="text" id="wonItemsAuctionId" class="adminInput"></td> 
                        <td><a class="quick"  onclick="goTo('wonItems/','wonItemsAuctionId')">Go Quick</a></td>     
                    </tr>
                    

                   
<!--
                    <tr class="model-group">           
                        <th scope="row"><a class="adminLink" href="/admin/filterAdminIndex?page=User Invoices&auction=true&user=true&nextPage=getInvoices" target="_blank">Formatted User Invoices</a></th>                   
                        <td>Auction ID:<input type="text" id="invoicesReportAuctionId" class="adminInput"></td> 
                        <td>User ID:<input type="text" id="invoiceUserId" class="adminInput"></td>
                        <td><a class="quick" onclick="goToInvoices()">GoQuick</a> </td>        
                    </tr>
     -->
                </tbody>
            </table>
        </div>
{% else %}

{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>

<style type="text/css">
    
    .adminLink{
        color: #5b80b2;
        text-decoration: none;
    }

    .adminInput{
        width:50px;
    }

    .quick{
        cursor: pointer;
        color:blue;
        padding-top: 4px;
    }

</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
 
function goToConsignor(){
    locationUrl = "consignorReport/"
    auctionId = $('#consignorAuction').val()
    consignorId = $('#consignorId').val()

    if(auctionId != "")
        locationUrl+= ""+auctionId + '/'
    else
        locationUrl+="0/"

    if(consignorId != "")
        locationUrl+= "" + consignorId + '/'

    window.open( locationUrl)
    return false;
}

function goToEndSS(){
    locationUrl = "endSSAuction/"
    auctionId = $('#endSSAuctionId').val()
    consignorId = $('#endSSUserId').val()

    if(auctionId != "")
        locationUrl+= ""+auctionId + '/'
    else
        locationUrl+="0/"

    if(consignorId != "")
        locationUrl+= "" + consignorId + '/'

    window.open( locationUrl)
    return false;
}

function goToInvoices(){
    locationUrl = "getInvoices/"
    auctionId = $('#invoicesReportAuctionId').val()
    userId = $('#invoiceUserId').val()

    if(auctionId != "")
        locationUrl+= ""+auctionId + '/'
    else
        locationUrl+="0/"

    if(userId != "")
        locationUrl+= "" + userId + '/'

    window.open( locationUrl)
    return false;
}


function goTo(locationStart, elementId){
    locationUrl = locationStart
    auctionId = $('#' + elementId).val()
    
    if(auctionId && auctionId != "")
        locationUrl+= ""+auctionId + '/'

    window.open( locationUrl)
    return false;
}

$( document ).ready(function() {
    
})

</script>

{% endblock %}


