{% extends "base.html" %}

{% block content %}
<div id="loginForm">
  {% if form.errors %}
    <p class="successError">Sorry, that's not a valid username or password</p>
  {% endif %}

<div>Please note that your login information is <b>case sensitive</b>.</div><br>
  <form action="" method="post">
  {% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <br>
    <input type="submit" value="login" />
    {%if next%}
    <input type="hidden" name="next" value="{{ next }}" />
    {%else%}
    <input type="hidden" name="next" value="/audio/accounts/profile" />
    {%endif%}
  </form>

  <div>Forgot your password?  <a href="/audio/accounts/resetPassword">Reset it here</a>.</div>
  </div>

{% endblock %}